.alert {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 0;
  
  svg {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 40px;
    max-height: 40px;

    @include media-breakpoint-down(xs) {
      margin: 0 10px 0 0;
    }
  }

  p {
    padding: 0 50px 0 0;
    font-family: $font-ubuntu;
    font-size: 15px;
    line-height: 21px;
    max-width: 70%;

    @include media-breakpoint-down(xs) {
      padding-right: 0;
    }
    a {
      color: #0079bf;
      border-bottom: 1px dashed;
    }
    b {
      white-space: nowrap;
      font-weight: bold;
    }
  }
  .close {
    padding: 0.55rem 0.95rem;
  }

  &-danger {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;

    svg {
      fill: #fff;
    }
  }

  &-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;

    svg {
      fill: #e4ca7f;
    }
  }
}