.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &-new {
    height: 210px;
    background-color: #f5f9fe;
    margin-bottom: 20px;
  }

  &-2 {
    height: 300px;
    background-color: #f5f9fe;
    background-position: center;
    background-size: cover;
  }
  &-3 {
    width: 362px;
    height: 536px;
    background-color: #f5f9fe;
  }

  img {
    height: 100%;
  }

  &-button {
    position: absolute;
    display: none;
    background: white;
    margin: auto;
    font-size: 14px;
    width: 175px;
    font-family: "Ubuntu", sans-serif;
    text-transform: lowercase;
    height: 44px;
    line-height: 44px;
    text-align: center;
    z-index: 11;
  }

  &:hover, &:focus {
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: #404040;
      opacity: 0.5;
    }

    .banner-button {
      display: block;
    }
  }
}