.breadcrumb {
  background: white;
  border-radius: 0;
  padding: 0;
  
  &-list {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #e9eff7;
  }

  &-item {

    & + .breadcrumb-item {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 20px;
      height: 13px;
      padding-right: 20px;

      &:before {
        position: absolute;
        content: "/";
        background-size: cover;
        width: 7px;
        left: 0;
        height: 14px;
        color:  #e9eff7;
      }
    }
    
    
    &--home {
      padding-right: 20px;
      
      &:before {
        display: none;
      }
      
      svg {
        width: 13px;
        height: 13px;
      }

      .breadcrumb-link {
        border: none;
      }
    }
  }
  
  &-link {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    color: #bfc4cc;
    cursor: pointer;
    align-items: center;
    letter-spacing: .4px;
    border-bottom: 1px dashed transparent;

    svg {
      fill: #8c979e;
    }

    &:hover, &:focus {
      color: $primary;
      border-color: $primary;

      svg {
        fill: $primary;
      }
    }
  }
}