.breadcrumb {
  background: white;
  border-radius: 0;
  padding: 0;
  
  &-list {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #e9eff7;
    overflow-x: auto;
  }

  &-item {

    & + .breadcrumb-item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 20px;
      height: 13px;

      @include media-breakpoint-down(xs) {
        padding: 0 15px;
      }

      &:before {
        position: absolute;
        content: "/";
        background-size: cover;
        left: 0;
        font-size: 16px;
        height: 16px;
        color: #7781908c;
        top: -2px;
        display: block;
        padding: 0;
      }
    }
    
    
    &--home {
      padding-right: 20px;
      @include media-breakpoint-down(xs) {
        padding-right: 15px;
      }
      &:before {
        display: none;
      }
      
      svg {
        width: 13px;
        height: 13px;
      }

      .breadcrumb-link {
        border: none;
      }
    }
  }
  
  &-link {
    display: flex;
    font-size: 13px;
    font-weight: 300;
    color: #778190;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid transparent;
    white-space: nowrap;

    svg {
      fill: #86909c;
    }

    &:hover, &:focus {
      color: $primary-second;
      border-color: $primary-second;

      svg {
        fill: $primary-second;
      }
    }
  }
}