$type-new: $primary-second;
$type-sale:#f69781;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 10px 0;
  background-color: #fff;
  border: 1px solid #f4f7f9;
  border-radius: 0;
  max-width: 240px;
  transition: .2s;


  @include media-breakpoint-down(xs) {
    max-width: 200px;
    margin: auto;
  }

  .modal & {
    min-width: auto;
  }
  
  &:hover, &:focus {
    border-color: $border-color;
    //@include box-shadow();
    z-index: 1000;
    box-shadow: 0 0 20px -15px #0000001f;

    .card-size {
      display: flex;
    }

    .card-extra-info {
      display: flex;
      border-color: $border-color;
    }
  }

  &--new {
    .card-type {
      background-color: $type-new;

      &:after {
        border-top-color: $type-new;
      }
    }
    .card-type--2 {
      border: 1px solid $type-new;
      span {
        color: $type-new;
      }
    }
  }

  &--sale {
    .card-type {
      background-color: $type-sale;

      &:after {
        border-top-color: $type-sale;
      }
    }
    .card-type--2 {
      border: 1px solid $type-sale;
      span {
        color: $type-sale;
      }
    }
  }

  &-img {
    border: 2px solid #fff;
    border-radius: 0;
  }

  &-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &-name {
      font-size: 13px;
      font-weight: 300;
      opacity: 0.6;
    }

    &-brand {
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }

  &-price {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 20px;
      line-height: 25px;
      margin: 0 5px;
      position: relative;
      
      span {
        font-size: .8em;
        margin: 0 0 0 2px;
      }
    }

    .price {
      
      &--through {
        opacity: .5;
        font-size: 16px;

        &:before {
          content: '';
          display: block;
          border-top: 1px solid;
          position: absolute;
          width: 100%;
          top: 46%;
        }
      }
  
      &--sale {
        color: #fc9882;;
      }

      &--promo {
        color: #fb4545;
      }
    }
  }

  &-type {
    position: absolute;
    top: 2px;
    right: 15px;
    display: block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    background-size: cover;
    text-align: center;

    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      top: 25px;
      border-top: 10px solid;
      border-right: 40px solid transparent;
    }
    
    &--2 {
      top: 13px;
      background: none !important;
      border-radius: 3px;
      &:after {
        display: none;
      }
    }

    span {
      display: block;
      margin-top: 0px;
      font-size: 13px;
      letter-spacing: 0.6px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &-size {
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    top: 50px;
    right: 15px;
    display: none;
    font-size: 12px;
    height: 135px;

    &--three-col {
      width: 75px;
    }
    &--two-col {
      width: 50px;
    }
    &--one-col {
      width: 25px;
    }

    span {
      width: 25px;
      line-height: 25px;
      text-align: center;
      box-shadow: 0 0 1px 0px #c0cbd8;
      background: white;
      letter-spacing: -0.6px;
    
      
      &:hover, &:focus {
        box-shadow: 0 0 1px 0px $primary-second;
        border-color: $primary-second;
        color: $primary-second;
        z-index: 1010;
      }
    }
  }

  &-extra-info {
    display: none;
    position: absolute;
    flex-direction: column;
    bottom: 35px;
    left: 0px;
    right: 0px;
    z-index: 1010;
  }

  &-promo {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 83px;
    display: flex;
    background-color: #ffffff;
    color: #fff;
    border: 1px solid #e9eff7;
    border-top: 0;
    @include box-shadow();

    > div {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      background-color: #fb4545;
      margin: 2px;
      padding: 10px 0;
    }

    &-title {
      width: 100%;
      font-family: Ubuntu;
      font-size: 13.2px;
      text-align: center;
      color: white;
      margin-bottom: 7px;
    }
    
    &-timer {
      display: flex;
      align-items: center;
      margin: 0 10px 0 0;

      &:before {
        content: '';
        width: 16px;
        height: 16px;
        background-image: url(#{$PATH}/svg/time.svg);
        display: inline-block;
        background-size: 100%;
        top: -1px;
        position: relative;
        margin-right: 5px;
      }
    }

    &-price {
      font-family: Ubuntu;
      font-size: 12px;
      line-height: 18px;

      b {
        font-size: 15px;
        display: inline-block;
        border-bottom: 1px dashed;
        font-family: Roboto;
        margin-left: 5px;
      }
    }
  }
  
  &-preview {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    
    &-link {
      margin: auto;

      span {
        font: normal 12px/14px $font-ubuntu;
        color: $primary;
        padding-bottom: 2px;
        border-bottom: 1px dashed $primary;
      }
      svg {
        width: 24px;
        height: 24px;
        fill: $primary;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      &:hover, &:focus {
        span {
          color: $primary-second;
          border-color: $primary-second;
        }
        svg {
          fill: $primary-second;
        }
      }
    }

    &-add-to-like {
      width: 30px;
      height: 30px;
      border: 2px solid #f5f9fe;
      margin: 0 10px 0 auto;
      display: flex;

      svg {
        fill: #3fb1ff;
        width: 100%;
        height: 100%;
      }

      &.active {
        svg {
          width: 60%;
          margin: auto;
          fill: #3fb1ff;
        }
      }

      &:hover, &:focus {
        background-color: #3fb1ff;
        border-color: #3fb1ff;

        svg {
          fill: #fff;
        }
      }
    }
  }
}