.form-control::-webkit-input-placeholder {
  color: #495057ad;
}

.form-control::-moz-placeholder {
  color: #495057ad;
}

.form-control:-moz-placeholder {
  color: #495057ad;
}

.form-control:-ms-input-placeholder {
  color: #495057ad;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus::-moz-placeholder {
  color: transparent;
}

.form-control:focus:-moz-placeholder {
  color: transparent;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control {
  height: 45px;
  border-radius: 0;
  border-color: #e4eef9;
  font-size: 13px;
  font-family: $font-ubuntu;

  &.is-invalid {
    color: #ef6976;
  }
}
.textarea.form-control {
  padding-top: 15px;
}

.col-form-label {
  color: #96a4b0;
  text-align: right;
  height: 45px;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: flex-end;
}

.input-group-append, .input-group-prepend {
  .btn {
    border-color: #97a4b0;
    background-color: #97a4b0;
    color: white;

    &:hover {
      background: #00b3ff;
      color: white;
      border: 1px solid #00b3ff;
    }
  }
}

.btn {
  display: inline-flex;
  font-size: 13px;
  height: 45px;
  padding: 0 22px;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  color: #333333;
  text-transform: lowercase;
  border: 1px solid #333333;
  transition: .4s;
  border-radius: 0;
  background: none;

  &:hover, &:focus {
    background: #00b3ff;
    color: white;
    border: 1px solid #00b3ff;
    outline: none;
  }

  .up {
    text-transform: uppercase;
    padding: 0 5px;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 1rem 1rem !important;
}

.progress-bar {
  background-color: #01b2ff !important;
}

[type="checkbox"] {
  vertical-align: top;
  margin: 0;
  width: 14px;
  height: 14px;

  & + label {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 14px;
    font: 14px/18px $font-ubuntu;

    span {
      font-weight: 300;
      padding-left: 3px;
    }

    svg, img {
      width: 16px;
      height: 16px;
    }
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      padding: 0 0 0 20px;
      line-height: normal;
      color: #00000078;

      &:before {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        border: 1px solid #d9e0ea;
        width: 14px;
        height: 14px;
      }

      span {
        color: #00000078;
      }
    }
  }

  &:checked {
    & + label {
      color: #000;
      
      &:before {
        border-color: $primary-second;
      }

      &:after {
        content: '';
        left: 2px;
        top: 1px;
        position: absolute;
        background-image: url(#{$PATH}/svg/check-blue.svg);
        width: 11px;
        height: 12px;
        background-repeat: no-repeat;
      }

      span {
        color: #000;
      }
    }
  }
}

[type="radio"] {
  vertical-align: top;
  margin: 0;
  width: 13px;
  height: 13px;

  & + label {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: 14px;
    font: 14px/18px $font-ubuntu;

    span {
      font-weight: 300;
      padding-left: 3px;
    }

    svg, img {
      width: 16px;
      height: 16px;
    }
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      padding: 0 0 0 20px;
      line-height: normal;
      color: #00000078;

      &:before {
        content: '';
        left: 0;
        position: absolute;
        border: 1px solid #d9e0ea;
        border-radius: 50%;
        width: 14px;
        height: 14px;
      }
    }
  }

  &:checked {

    & + label {
      cursor: pointer;
      color: #000;

      &:before {
        border-color: $primary-second;
      }

      &:after {
        content: '';
        top: 3px;
        left: 3px;
        position: absolute;
        background-color: $primary-second;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }

      span {
        color: #000;
      }
    }
  } 
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  margin-bottom: 0;

  &-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 45px;
    margin: 0;
    opacity: 0;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
    line-height: 45px;
  }

  &-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 45px;
    padding: 0 15px;
    line-height: 45px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e3eef9;
    border-radius: 0;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;

    &::after {
      position: absolute;
      top: -1px;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: 45px;
      padding: 0 20px;
      line-height: 45px;
      color: #95a4b0;
      content: "Файл";
      border: none;
      border-radius: 0;
      background-color: #97a4b0;
      color: white;
    }
  }
}


.invalid-feedback, .valid-feedback {
  font-family: $font-ubuntu;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.invalid-feedback {
  color: #f54944;
}
.valid-feedback {
  color: green;
}

.is-invalid .invalid-feedback {
  display: block;
}

.link {
  font-size: 13px;
  font-family: $font-ubuntu;
  color: $primary;
  border-bottom: 1px dashed $primary;
  padding-bottom: 2px;
  display: inline-block;
  
  &:hover, &:focus {
    color: $primary-second;
    border-color: $primary-second;
  }
}