.hamburger {
  display: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 70px;
  order: 4;
  transition: .4s;

  &.is-active {
    opacity: 1;
    &:hover, &:focus {
      opacity: 1;
    }
  }
  
  &:focus {
    outline: none;
  }

  @include media-breakpoint-down(xs) {
    display: block;
  }

  &-box {
    width: 22px;
    height: 20px;
    margin-top: 2px;
  }

  &-inner {
    width: 22px;
    height: 2px;
    background-color: #01b2ff !important;
    border-radius: 0;

    &::before {
      width: 18px;
      height: 2px;
      background-color: #01b2ff !important;
      border-radius: 0;
      top: -8px;
      .is-active & {
        width: 22px;
      }
    }

    &::after {
      width: 22px;
      height: 2px;
      background-color: #01b2ff !important;
      border-radius: 0;
      bottom: -8px;
     
      .hamburger--collapse & {
        top: -16px;
      }

      .is-active & {

      }
    }
  }
}