.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
  margin: 40px auto 0;

  .page-item {
    margin: 0 5px;

    
    .page-link {
      color: #7b8288;
      background-color: #fff;
      border: 1px solid #f4f9fe;
      padding: 0;
      font-size: 16px;
      font-weight: 300;
      transition: .5s;
      border-radius: 35px;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;

      &:hover, &:focus {
        color: $primary-second;
        border-color: $primary-second;
      }
    }
    
    &.active {
      .page-link {
        color: #fff;
        background-color: $primary-second;
        border-color: $primary-second;
      }
    }
  }
}