.product {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border: 1px solid #f4f9fe;
  height: 330px;
  min-width: 200px;

  &:hover, &:focus {
    border-color: #ddd;

    .product-size {
      display: flex;
    }
  }

  &-new {
    &:hover, &:focus {
      border-color: #01b2ff;
    }

    .product-type {
      background-color: #01b2ff;
    }
  }
  &-sale {
    &:hover, &:focus {
      border-color: #f69781;
    }

    .product-type {
      background-color: #f69781;
    }
  }

  &-img {
    width: auto !important;
    height: 250px;
  }

  &-title {
    font-size: 14px;
    font-weight: 300;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #f3f9fe;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top:  auto;

    &-name {
      
    }

    &-brand {
      font-weight: 400;
    }
  }

  &-price {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    text-align: center;
    
    span {
      color: #333333;
      font-weight: 400;
      margin-right: 2px;
      
    }
  }

  &-type {
    position: absolute;
    top: -1px;
    right: 15px;
    display: block;
    width: 50px;
    height: 40px;
    background-size: cover;
    text-align: center;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 10px solid #fff;
      border-left: 50px solid transparent;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    
    span {
      display: block;
      margin-top: 11px;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
    }
  }

  &-size {
    position: absolute;
    flex-wrap: wrap;
    top: 50px;
    right: 15px;
    display: none;
    max-height: 125px;
    max-width: 50px;
    font-size: 11px;
    border-top: 1px solid #3fb1ff;
    border-right: 0;
    border-bottom: 0;
    border-collapse: collapse;
    
    span {
      width: 25px;
      line-height: 25px;
      text-align: center;
      border: 1px solid #3fb1ff;
      border-top: none;
      background: white;
      
      &:nth-child(2n) {
        border-left: none;
      }

      &:hover, &:focus {
        background-color: #3fb1ff;
        color: #fff;
      }
    }
  }
}