.owl-carousel {
  &.owl {
    &-theme {
      
      // Home main top slider
      &-home {
        .owl-item img {
          width: 100%;
        }
        .owl-nav {
          position: absolute;
          display: flex;
          top: calc(50% - 22px);
          width: 100%;
          padding: 0 30px;
          margin-top: 0;
      
          &.disabled {
            display: none !important;
          }         
 
          button.owl-prev,
          button.owl-next {
            width: 45px;
            height: 45px;
            background-color: #cbdce3;
            border: none;
            border-radius: 50%;
            padding: 0;
            text-rendering: auto;
            color: white;
            padding-top: 2px;
            
            &:hover, &:focus {
              outline: none;
              opacity: 0.7;
            }
          }
          
          .owl-prev {
            cursor: pointer;
            margin-right: auto;
            padding-right: 0px;
            
            .svg-icon {
              margin-right: 2px;
            }
          }
          
          .owl-next {
            cursor: pointer;
            
            .svg-icon {
              margin-left: 3px;
            }
          }
        }
        .owl-dots {
          display: flex;
          position: absolute;
          bottom: 30px;
          width: 100%;
          justify-content: center;
          
          .owl-dot {
            border: 1px solid transparent;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin: 0 5px;
            
            &:hover, &:focus {
              outline: none;
            }
            
            span {
              display: flex;
              border-radius: 50%;
              background: #b0b0b0;
              height: 6px;
              width: 6px;
              margin: 3px 4px;
            }
            
            &.active {
              border: 1px solid #b0b0b0;
              
              span {
                background: #b0b0b0;
              }
            }
          }
        }
      }

      // Brands slider
      &-brands {
        .owl-item img {
          width: auto;
        }
      }

      // Product card slider
      &-product {
        .owl-item img {
          width: auto;
        }
      }
    }
  }
}







/* 
.second-type-slider {
  position: relative;
  
  .owl-stage-outer {
    overflow: hidden;
  }

  .owl-stage {
    display: flex;
    height: 100%;
  }

  .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
    
    .owl-prev, .owl-next {
      position: absolute;
      border: none;
      background: none;
      display: inline-block;
      font-size: 30px;
      cursor: pointer;
      text-rendering: auto;
      color: #b3b3b3;
      height: 30px;
      opacity: .5;
      padding: 0;

      span {
        display: none;
      }
      
      &:hover, &:focus {
        opacity: 1;
      }
    }

    .owl-prev {
      left: -14px;
    }

    .owl-next {
      right: -14px;
    }
  }
}

.product-slider {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  
  &-wrapper {
    position: relative;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  
  
  
  .owl-stage {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
    
    .owl-prev, .owl-next {
      border: none;
      background: none;
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
      font-size: 14px;
      cursor: pointer;
      text-rendering: auto;
      color: #b3b3b3;
      padding-top: 2px;
      height: 30px;
      background-position: 50%;
      background-repeat: no-repeat;
      position: absolute;
      background-size: 8px 14px;
      
      span {
        display: none;
      }
      
      &:hover, &:focus {
        outline: none;
        opacity: 0.7;
      }
    }
    
    .owl-prev {
      left: -14px;
      background-image: url("/img/svg/left-arrow-grey.svg");
      &.disabled {
        display: none;
      }
    }
    
    .owl-next {
      right: 14px;
      background-image: url("/img/svg/right-arrow-grey.svg");
      &.disabled {
        display: none;
      }
    }
  }
 
}

 */

