.first-type-slider {
  
  .owl-stage {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  .owl-nav {
    position: absolute;
    display: flex;
    top: calc(50% - 22px);
    width: 100%;
    padding: 0 30px;
    margin-top: 0;
    
    .owl-prev, .owl-next {
      width: 45px;
      height: 45px;
      background-color: #cbdce3;
      border: none;
      border-radius: 50%;
      padding: 0;
      text-rendering: auto;
      color: white;
      padding-top: 2px;
      
      &:hover, &:focus {
        outline: none;
        opacity: 0.7;
      }
      
      .svg-icon {
        width: 10px;
        height: 17px;
      }
    }
    
    .owl-prev {
      cursor: pointer;
      margin-right: auto;
      padding-right: 0px;
      
      .svg-icon {
        margin-right: 2px;
      }
    }
    
    .owl-next {
      cursor: pointer;
      
      .svg-icon {
        margin-left: 3px;
      }
    }
  }
  
  .owl-dots {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: center;
    
    .owl-dot {
      border: 1px solid transparent;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin: 0 5px;
      
      &:hover, &:focus {
        outline: none;
      }
      
      span {
        background: #b0b0b0;
        height: 6px;
        width: 6px;
        margin: 3px 4px;
      }
      
      &.active {
        border: 1px solid #b0b0b0;
        
        span {
          background: #b0b0b0;
        }
      }
    }
  }
}

.second-type-slider {
  
  .owl-stage {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
    
    .owl-prev, .owl-next {
      border: none;
      background: none;
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
      font-size: 14px;
      cursor: pointer;
      text-rendering: auto;
      color: #b3b3b3;
      height: 30px;
      background-size: 8px 14px;
      padding-top: 2px;
      
      span {
        display: none;
      }
      
      &:hover, &:focus {
        outline: none;
        opacity: 0.7;
      }
    }

    .owl-prev {
      position: absolute;
      left: -14px;
      background-image: url("/img/svg/left-arrow-grey.svg");
      background-position: 50%;
      background-repeat: no-repeat;
    }

    .owl-next {
      position: absolute;
      right: 14px;
      background-image: url("/img/svg/right-arrow-grey.svg");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}

.main-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.categories {
  position: relative;
  margin-bottom: 45px;
  
  &__slider {
    padding: 0 15px;
  }
  
  &-slider {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    
    &__link {
      display: flex;
      justify-items: center;
    }
    
    img {
      margin-bottom: 10px;
    }
    
    &__text {
      font-size: 11px;
      color: #666666;
      
      &--name {
        display: none;
      }
    }
    
    .item {
      text-align: center;
      position: relative;
      padding: 15px 0;
      width: 100%;
      height: 100px;
      
      &:hover {
        display: flex;
        
        .categories-slider__text {
          display: none;
        }
        
        .categories-slider__text--name {
          margin: auto;
          color: white;
          z-index: 8;
          display: inline-flex;
        }
        
        img {
          display: none;
        }
        
        &:before {
          content: "";
          background: #00b3ff;
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}