.owl-carousel {
  &.owl {
    &-theme {

      // Home main top slider
      &-home {
        
        .owl-nav {
          position: absolute;
          top: 50%;
          width: 100%;
          margin-top: -45px;
          height: 45px;
          
          @include media-breakpoint-down(xs) {
            display: none;
          }

          &.disabled {
            display: none !important;
          }         
 
          [class^="owl-"] {
            position: absolute;
            width: 45px;
            height: 45px;
            background-color: #e3eff78a;
            border: none;
            border-radius: 50%;
            padding: 0;
            outline: none;
            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }

            &:hover {
              outline: none;
              background-color: #e3eff7;

              svg {
                fill: #fff;
              }
            }
          }
          .owl-prev {
            left: 20px;
  
            @include media-breakpoint-down(lg) {
              left: -15px;
            }
          }
          .owl-next {
            right: 20px;
            transform: rotate(180deg);
            
            @include media-breakpoint-down(lg) {
              right: -15px;
            }
          }
        }

        .owl-dots {
          display: flex;
          position: absolute;
          bottom: 30px;
          width: 100%;
          justify-content: center;
          
          .owl-dot {
            border: 1px solid transparent;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin: 0 2px;
            
            &:hover, &:focus {
              outline: none;
            }
            
            span {
              display: flex;
              border-radius: 50%;
              height: 9px;
              width: 9px;
              border: 1px solid #00b2ff63;
            }
            
            &.active {
             
              span {
                background: #01b2ff;
                border-color: #01b2ff;
              }
            }
          }
        }
      }

      // Mobile header features
      &-mobile-header-features {
        z-index: 1060;

        .owl-nav {
          right: 0;
          position: absolute;
          left: 0;
          top: 0;
          height: 35px;
        }

        .owl-prev, .owl-next {
          width: 35px;
          height: 35px;
          top: 0;
          position: absolute;
          outline: none;
          background-color: #f5f9fe;

          svg {
            width: 100%;
            height: 100%;
            fill: #c9d5e4;
          }

          &:hover {
            svg {
              fill: $primary-second;
            }
          }
        }
        .owl-prev {
          left: 15px;
        }
        .owl-next {
          transform: rotate(-180deg);
          right: 15px;
        }
      }

      // Cards
      &-card {

        .owl-nav {
          position: absolute;
          top: 50%;
          width: 100%;
          margin-top: -45px;
          height: 45px;

          &.disabled {
            display: none !important;
          }  

          [class^="owl-"] {
            position: absolute;
            width: 45px;
            height: 45px;
            background-color: #e3eff78a;
            border: none;
            border-radius: 50%;
            padding: 0;
            outline: none;

            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }

            &:hover {
              outline: none;
              background-color: #e3eff7;

              svg {
                fill: #fff;
              }
            }
          }

          .owl-prev {
            left: 20px;
  
            @include media-breakpoint-down(lg) {
              left: -15px;
            }
          }
          .owl-next {
            right: 20px;
            transform: rotate(180deg);
            
            @include media-breakpoint-down(lg) {
              right: -15px;
            }
          }
        }

        .owl-stage {
          //padding-bottom: 65px;
        }
      }

      // Brands slider
      &-brands {
        .owl-item img {
          width: auto;

          @include media-breakpoint-down(xs) {
            width: 70% !important;
          }
        }
      }

      // Product photo slider
      &-product {
        position: static;
        border-top: 1px solid #f5f9fe;
        
        @include media-breakpoint-down(xs) {
          border-top: 0;    
        }
        .owl-nav {
          position: absolute;
          width: 100%;
          top: calc(50% - 85px);

          @include media-breakpoint-down(xs) {
            top: calc(50% - 45px)
          }

          .owl-prev, .owl-next {
            position: absolute;
            width: 45px;
            height: 45px;
            background-color: #e3eff78a;
            border-radius: 45px;
            transition: .4s;
            outline: none;

            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }

            &:hover {
              background-color: #e3eff7;
              
              svg {
               
              }
            }
          }

          .owl-prev {
            left: 20px;

            @include media-breakpoint-down(xs) {
              left: 0;
            }
          }
          .owl-next {
            transform: rotate(180deg);
            right: 20px;
            
            @include media-breakpoint-down(xs) {
              right: 0;
            }
          }
        }
        
        .owl-stage-outer {
          display: none;

          @include media-breakpoint-down(xs) {
            display: block;
          }
        }
        
        .owl-dots {
          display: flex;
          justify-content: space-between;
          margin: auto;
          
          @include media-breakpoint-up(lg) {
            width: 70%;
          }
          
          @include media-breakpoint-down(xs) {
            margin: 20px 0;
          }

          .owl-dot {
            width: 70px;
            height: 120px;
            border: none;
            border-top: 2px solid transparent;
            border-radius: 0;
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            
            @include media-breakpoint-down(xs) {
              width: 13%;
              height: 2px;
              border: none;
              border-top: 2px solid #f4f8fd
            }

            &.active {
              border: none;
              border-top: 2px solid $primary;
              outline: none;
            }
          }
        }
      }
      
      // Tags slider
      &-tags {
        .owl-stage-outer {
          margin: auto;
        }

        .owl-nav {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          
          .disabled {
            display: none;
          }

          .owl-prev, .owl-next {
            position: absolute;
            cursor: pointer;
            background-color: #fff;
            outline: none;

            &:after {
              content: '';
              width: 70px;
              height: 30px;
              position: absolute;
              background: linear-gradient(to left, #fff0 0%, #fff 70%);
              top: 0;
              left: 0;
              z-index: 0;
            }

            span {
              display: block;
              height: 30px;
              width: 30px;
              background-color: transparent;
              border: 1px solid #dadbdb;
              border-radius: 50%;
              z-index: 1;
              position: relative;

              svg {
                width: 30px;
                height: 30px;
                fill: #dbdddd;
                margin: -1px;
              }
            }
            
            &:hover {
              opacity: 1;
              

              span {
                border-color: $primary-second;
              }
              svg {
                fill: $primary-second;
              }
              
            }
          }

          .owl-prev {
            left: 0;
          }
          .owl-next {
            right: 0;
            transform: rotate(180deg);
          }
        }
        
      }

      // Preview silder
      &-product-preview {
        .owl-nav {
          position: absolute;
          width: 100%;
          top: calc(50% - 85px);

          .owl-prev, .owl-next {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: #dddddd;
            border-radius: 50%;
            opacity: .5;

            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }

            &:hover, &:focus {
              opacity: 1;
            }
          }
          .owl-prev {
            left: 20px;
          }
          .owl-next {
            transform: rotate(180deg);
            right: 20px;
          }
        }
        
        .owl-dots {
          display: flex;
          height: 80px;
          border-top: 1px solid #f5f9fe;
          margin-top: 20px;
        
          .owl-dot {
            width: 15%;
            height: 80px;
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center bottom;
            border-top: 2px solid transparent;
            outline: none;

            &.active {
              border-color: #0079bf;
            }
          }
        }

        .owl-stage-outer {
          max-height: 500px;

          @include media-breakpoint-down(xs) {
            max-height: 250px;
          }
        }

        .owl-item {
          display: flex;

          img {
            margin: auto;
            max-height: 500px;
            width: auto;

            @include media-breakpoint-down(xs) {
              max-height: 250px;
            }
          }
        }
      }

      // Trends
      &-trends {
        .owl-item img {
          width: 100%;
        }
        
        .owl-nav {
          position: absolute;
          display: flex;
          justify-content: space-between;
          top: calc(50% - 22px);
          width: 100%;
          padding: 0 30px;
          margin-top: 0;
      
          &.disabled {
            display: none !important;
          }         
 
          [class^="owl-"] {
            position: absolute;
            width: 45px;
            height: 45px;
            background-color: #e3eff78a;
            border: none;
            border-radius: 50%;
            padding: 0;
            outline: none;
            
            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }

            &:hover {
              outline: none;
              background-color: #e3eff7;

              svg {
                fill: #fff;
              }
            }
          }

          .owl-prev {
            left: 20px;
  
            @include media-breakpoint-down(lg) {
              left: -15px;
            }
          }
          .owl-next {
            right: 20px;
            transform: rotate(180deg);
            
            @include media-breakpoint-down(lg) {
              right: -15px;
            }
          }
        }

        .owl-dots {
          display: flex;
          position: absolute;
          bottom: 30px;
          width: 100%;
          justify-content: center;
          
          .owl-dot {
            border: 1px solid transparent;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin: 0 2px;
            
            &:hover, &:focus {
              outline: none;
            }
            
            span {
              display: flex;
              border-radius: 50%;
              height: 9px;
              width: 9px;
              border: 1px solid #00b2ff63;
            }
            
            &.active {
             
              span {
                background: #01b2ff;
                border-color: #01b2ff;
              }
            }
          }
        }
      }

      // Order items
      &-order {
        padding: 0;

        .owl-nav {
          position: absolute;
          top: 50%;
          margin-top: -32px;
          left: 0px;
          width: 100%;
        }
        .owl-prev {
          left: -30px;
          position: absolute;
        }
        .owl-next {
          right: -20px;
          position: absolute;
          transform: rotate(180deg);
        }
      }
    }
  }
}