<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <table width="100%" cellpadding="0" cellspacing="0" style="height: 330px; width: 100%;">
    <tbody>
       <tr style="height: 330px;">
          <td width="150" valign="top" style="padding: 0px 0px 5px; height: 330px;">
             <table cellpadding="0" cellspacing="0" width="100%" style="height: 240px; width: 100%;">
                <tbody>
                   <tr style="height: 220px;">
                      <td class="img-flex" align="center" style="padding: 0px 0px 10px; height: 220px; width: 100%;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-polusapozhki/mon_ami__zy_029_black_20995" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"> <img src="https://kc-shoes.ru/image/cache/data/products/1506072932-297787-600x866.JPG" width="150" alt="Женские резиновые полусапожки Mon Ami" title="Женские резиновые полусапожки Mon Ami" height="" /> </a></td>
                   </tr>
                   <tr style="height: 42px;">
                      <td align="center" style="font: bold 14px/20px Arial, Helvetica, sans-serif; color: #000000; text-transform: uppercase; padding-top: 0px; padding-right: 0px; padding-bottom: 1px; height: 10px; width: 100%;">
                         <p><strong><span style="font-size: 10pt;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-polusapozhki/mon_ami__zy_029_black_20995" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"><span style="font-family: arial, helvetica, sans-serif;"><span class="h1_prod">Женские резиновые Полусапожки&nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif;"><span class="h1_prod">Mon Ami</span></span></a></span></strong></p>
                      </td>
                   </tr>
                   <tr style="height: 20px;">
                    <td align="center" style="font: 12px/20px Arial, Helvetica, sans-serif; color: #787878; height: 10px; width: 100%;"><span style="font-size: 12pt;"><span style="text-decoration: line-through;"><a target="_blank" style="text-decoration: line-through; color: #787878;">1 990 р.</a></span><a target="_blank" style="text-decoration: none; color: #ff6666;"> 1 871 р.</a></span></td>
                   </tr>
                </tbody>
             </table>
          </td>
          <td width="150" valign="top" style="padding: 0px 0px 5px; height: 330px;">
             <table cellpadding="0" cellspacing="0" width="100%" style="height: 309px; width: 100%;">
                <tbody>
                   <tr style="height: 220px;">
                      <td class="img-flex" align="center" style="padding: 0px 0px 10px; height: 220px;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-polusapozhki/mon_ami_zy_037_beige_black_20998" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"> <img src="https://kc-shoes.ru/image/cache/data/products/1506075003-887189-600x866.JPG" width="150" alt="" /> </a></td>
                   </tr>
                   <tr style="height: 42px;">
                      <td align="center" style="font: bold 14px/20px Arial, Helvetica, sans-serif; color: #000000; text-transform: uppercase; padding: 0px 0px 1px; height: 69px;">
                         <p><strong><span style="font-size: 10pt;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-polusapozhki/mon_ami_zy_037_beige_black_20998" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"><span style="font-family: arial, helvetica, sans-serif;"><span class="h1_prod">Женские резиновые Полусапожки&nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif;"><span class="h1_prod">Mon Ami</span></span></a></span></strong></p>
                      </td>
                   </tr>
                   <tr style="height: 20px;">
                      <td align="center" style="font: 12px/20px Arial, Helvetica, sans-serif; color: #787878; height: 20px;"><span style="font-size: 12pt;"><span style="text-decoration: line-through;"><a target="_blank" style="text-decoration: line-through; color: #787878;">1 990р.</a></span><a target="_blank" style="text-decoration: none; color: #ff6666;"> 1 871 р.</a></span></td>
                   </tr>
                </tbody>
             </table>
          </td>
          <td width="150" valign="top" style="padding: 0px 0px 5px; height: 330px;">
             <table cellpadding="0" cellspacing="0" width="100%" style="height: 309px; width: 100%;">
                <tbody>
                   <tr style="height: 220px;">
                      <td class="img-flex" align="center" style="padding: 0px 0px 10px; height: 220px;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-botinki/tf__812518_8_22946" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"> <img src="https://kc-shoes.ru/image/cache/data/products/1518669378-803030-600x866.JPG" width="150" alt="" /> </a></td>
                   </tr>
                   <tr style="height: 42px;">
                      <td align="center" style="font: bold 14px/20px Arial, Helvetica, sans-serif; color: #000000; text-transform: uppercase; padding: 0px 0px 1px; height: 69px;">
                         <p><strong><span style="font-size: 10pt;"><a href="https://kc-shoes.ru/catalog/woman/rezinovye-botinki/tf__812518_8_22946" target="_blank" style="text-decoration: none; color: #000;" rel="noopener"><span style="font-family: arial, helvetica, sans-serif;"><span class="h1_prod">Женские резиновые ботинки tf</span></span></a></span></strong></p>
                      </td>
                   </tr>
                   <tr style="height: 20px;">
                      <td align="center" style="font: 12px/20px Arial, Helvetica, sans-serif; color: #787878; height: 20px;"><span style="font-size: 12pt;"><a target="_blank" style="text-decoration: none; color: #787878;"><span style="text-decoration: line-through;">1393 р</span>.</a><a target="_blank" style="text-decoration: none; color: #ff6666;"> 1 310 р.</a></span></td>
                   </tr>
                </tbody>
             </table>
</body>
</html>
