.footer {
  background: #155dbc url(#{$PATH}/footer-bg.png) no-repeat 50%;
  background-size: cover;
  color: white;
  padding: 40px 0 10px;
  
  .container-fluid {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  [type="radio"]:not(checked) + label, [type="checkbox"]:not(checked) + label {
    color: #b2cceb;

    &:before {
      border-color: #b2cceb;
    }
  }
  [type="radio"]:checked + label {
    color: #fff;
    
    &:before {
      border-color: #fff;
    }
    &:after {
      background-color: #fff;
    }
  }

  [type="checkbox"]:checked + label {
    color: #fff;
    &:before {
      border-color: #fff;
    }
    &:after {
      background-image: url(../img/svg/check-white.svg);
    }
  }


  &-block {
    
    @include media-breakpoint-down(md) {
      &:nth-child(1) {
        order: 1;
        width: 40%;
      }
      &:nth-child(2) {
        order: 3;
        width: 40%;
        margin: 20px 0;
      }
      &:nth-child(3) {
        order: 4;
        width: 50%;
        margin: 20px 0;
      }
      &:nth-child(4) {
        order: 2;
      }
    }

    @include media-breakpoint-down(xs) {
      width: 50% !important;
      display: flex;
      flex-wrap: wrap;

      &:nth-child(1) {
        order: 1;
        width: 100% !important;
      }
      &:nth-child(2) {
        order: 2;
        flex-direction: column;
      }
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 4;
        width: 100% !important;
      }
    }
    
    &-title {
      font-size: 15px;
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    &-list {
      display: flex;
      flex-direction: row;    

      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }
      .nav {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-right: 30px;
        @include media-breakpoint-down(xs) {
          margin: 0;
        }
    
        &-item {
          margin-bottom: 10px;
        }
      
        &-link {
          font-size: 14px;
          line-height: normal;
          white-space: nowrap;
          color: #b2cceb;
          padding: 0 0 2px 0;
          border-bottom: 1px solid #0063c3;
          display: inline-block;
          margin-bottom: 2px;
          transition: .4s;

          &:hover, &:focus {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
  }

  &-brand {
    display: block;
    margin-bottom: 24px;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    svg {
      fill: #fff;
      width: 100px;
    }
  }

  &-hours-work {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    @include media-breakpoint-down(xs) {
      width: 50%;
    }
    
    &-title {
      font-size: 19px;
      margin-bottom: 10px;
    }
    
    &-text {
      font-size: 13px;
      line-height: 16px;
      color: #b2cceb;
      margin-bottom: 4px;
    }
  }

  &-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    @include media-breakpoint-down(xs) {
      width: 50%;
    }

    span {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &-write {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    span {
      font-size: 15px;
      text-transform: uppercase;
      padding-bottom: 2px;
      line-height: 15px;
      border-bottom: 1px dashed white;
    }

    img {
      height: 24px;
      margin-right: 8px;
    }
  }

  &-subscribe {
    max-width: 300px;
    margin-bottom: 40px;
  
    &-title {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: 15px;
      margin-top: -2px;
    }

    &-gender {
      display: flex;

      .form-group {
        margin-right: 10px;
      }
    }

    &-email {
      .form-group {
        display: flex;
      }
    }

    &-confirm {
      label {
        display: block;
        font-size: 13px;
      }

      a {
        display: inline;
        color: white;
        border-bottom: 1px dashed #fff;
      }
    }
  }

  &-social {
    display: flex;

    &-item {
      display: flex;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      background: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      font-size: 17px;
      
      i {
        margin: auto;
      }

      &:hover, &:focus {
        background: white;
        color: #1a63be;
      }
    }
  }

  &-partners {
    width: 100%;
    border-top: 1px solid #fff3;;
    border-bottom: 1px solid #fff3;;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: start;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }

    a {
      font-size: 12px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    span {
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
    }

    &-yandex {

      display: flex;
      align-items: center;
      

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        width: 100%;
      }

      img {
        margin-right: 15px;
      }

      div {
        display: flex;
        flex-direction: column;
        max-width: 110px;

        @include media-breakpoint-down(xs) {
          max-width: 100%;
          display: inline-block;
          margin-top: 15px;
        }

        span {
          margin-bottom: 3px;

          @include media-breakpoint-down(xs) {
            margin-bottom: 0;
            padding-right: 10px;
          }
        }
      }
    }

    &-our {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }

      div:first-child {
        margin-left: 50px;
        border-right: 1px solid #ffffff40;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 10px;

        @include media-breakpoint-down(md) {
          margin-left: 0;
          padding-right: 10px;
          margin-right: 10px;
          width: 175px;
          min-height: 50px;
        }

        @include media-breakpoint-down(xs) {
          border: none;
          text-align: center;
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: center;
          
        }
        span {
          font-size: 16px;
          white-space: nowrap;
        }
      }
      
      div:last-child {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        @include media-breakpoint-down(xs) {
          justify-content: center;
        }

        img {
          margin: 0 5px;
          max-height: 47px;
          
          @include media-breakpoint-down(md) {
            order: 2;
          }
        }
        span {
          max-width: 250px;
          margin-left: 10px;
          
          @include media-breakpoint-down(md) {
            width: 100%;
            margin: 8px 0 0 0;
            order: 3;
            max-width: 100%;
          }

          @include media-breakpoint-down(xs) {
            text-align: center;
            order: 1;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }

  &-copyright {
    height: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    &-link {
      text-decoration: underline;
      
      &:hover {
        text-decoration: none;
      }
    }
  }


}