.header {
  height: 45px;
  background: #f6f9fe;
  
  .container-fluid {
    display: flex;
  }
  
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #333333;
    padding: 0 10px;

    &:first-child {
      margin-left: -10px;
    }
    &:last-child {
      margin-right: -10px;
    }
    
    @include media-breakpoint-up(xl) {
      padding: 0 15px;

      &:first-child {
        margin-left: -15px;
      }
      &:last-child {
        margin-right: -15px;
      }
    }

    &-title {
      display: flex;
      align-items: center;

      &-icon {
        color: #00b3ff;
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        display: flex;
        margin-right: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          width: 100%;
          height: auto;
          fill: #00b3ff;
        }
      }

      &-text {
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          font-size: 13px;
        }
      }
    }

    &-content {
      display: none;
      font-size: 13px;
      line-height: 16px;
      flex-direction: column;
      padding: 10px;
      position: absolute;
      background: white;
      border: 1px solid #d8d8d8;
      border-top: none;
      z-index: 1;
      top: 45px;
      left: 0;
      min-height: 85px;

      @include media-breakpoint-up(xl) {
        padding: 15px;
      }

      &-text {
        color: #333333;
        margin-bottom: 5px;
      }

      &-link {
        color: #00b3ff;
      }
    }

    &--active {
      background: #00b3ff;
      color: white;
      outline: none;
      
      .header-item {
        &-title {
          &-icon {
            color: #fff;
            svg {
              fill: white;
            }
          } 
          &-text {
            color: white;
          }
        }
        
        &-content {
          display: flex;
        }
      }
    }



    &--yandex {
      min-width: 170px;
      background: transparent;
      
      @include media-breakpoint-down(lg) {
        display: none;
      }
      .header-item {
        &-title {
          &-icon {
            img {
              height: 32px;
              margin-bottom: 2px;
              margin-right: 0;
            }
          }
          &-text {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 12px;
            margin-left: -2px;
            color: #f28b08;

            .fa {
              font-size: 10px;
              margin-left: 1px;
            }
          }
        } 
      }

      &.header-item--active {
        outline: 1px solid #d8d8d8;
        outline-offset: -1px;
  
        .header-item {
          &-content {
            border-top: 1px solid #f5f9fe;
            top: 44px;
          }
        }
      }
      
    }

    &--phone {
      min-width: 165px;
      margin-left: auto;

      @include media-breakpoint-down(md) {
        display: none;
      }

      .header-item {
        &-title {
          &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            white-space: nowrap;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
      }
      &.header-item--active {
        .header-item {
          &-title {
            &-text {
              span {
                display: block;
              }
            }
          }
          &-content {
            background-color: #01b2ff;
            border: none;
            width: 100%;

            &-text {
              
              white-space: nowrap;
              font-size: 12px;
              line-height: 16px;
              color: white;
              margin: 0;

              &:first-child {
                margin-top: -25px;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }

    &--city {
      min-width: 150px;

      @include media-breakpoint-down(md) {
        margin-left: auto;
        min-width: auto;
      }
      .header-item {
        &-title {
          flex-direction: row-reverse;

          &-icon {
            margin-left: 7px;
            align-self: baseline;
            min-width: auto;

            .svg-icon {
              height: 8px;
              width: 8px;
            }
          }
          
          &-text {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            border: none;
            background: transparent;
            text-align: left;
            margin-left: auto;
            cursor: pointer;

            span {
              font-family: "Roboto Condensed", sans-serif;
              font-size: 11px;
              margin-top: 3px;
              text-transform: lowercase;
              color: #666666;
            }
          }
        }
      }

      &.header-item--active {
        .header-item {
          &-title {
            color: #00b3ff;
            outline: none;
            
            &-icon {
              transform: rotate(180deg);
            }
            
            &-text {
              span {
                color: #fff;
              }
            }
          }
          &-content {
            background: transparent;
          }
        }
      }  
    }
  }
}