.header {
  height: 45px;
  background: #f6f9fe;
  
  .container-fluid {
    display: flex;
  }
  
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #333333;
    padding: 0 10px;

    @include media-breakpoint-up(xl) {
      padding: 0 15px;
    }

    &-title {
      display: flex;
      align-items: center;

      &-icon {
        color: #00b3ff;
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        display: flex;
        margin-right: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          width: 100%;
          height: auto;
          fill: #00b3ff;
        }
      }

      &-text {
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          font-size: 13px;
        }
      }
    }

    &-content {
      display: none;
      font-size: 13px;
      line-height: 16px;
      flex-direction: column;
      padding: 10px;
      position: absolute;
      background: white;
      border-top: none;
      z-index: 1010;
      top: 45px;
      left: 0;
      min-height: 85px;

      @include media-breakpoint-up(xl) {
        padding: 15px;
      }

      &-text {
        color: #333333;
        margin-bottom: 5px;
      }

      &-link {
        margin-top: 5px;
        color: #00b3ff;
        border-bottom: 1px dashed;
        display: inline-block;

        &:hover, &:focus {
          color: #0079bf;
        }
      }
    }

    &--active, &:hover, &:focus {
      background: #00b3ff;
      color: white;
      outline: none;

      .header-item {
        &-title {
          &-icon {
            color: #fff;
            svg {
              fill: white;
            }
          } 
          &-text {
            color: white;
          }
        }
        
        &-content {
          display: block;
          box-shadow: 0 10px 20px -5px #3a434e6b;
        }
      }
    }

    &--delivery {
      background-color: #e3eff7;
    }

    &--yandex {
      min-width: 170px;
      background: transparent;
      
      @include media-breakpoint-down(lg) {
        display: none;
      }
      
      .header-item {
        &-title {
          &-icon {
            max-width: 90px;
            min-width: 90px;
          }
          &-text {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 12px;
            margin-left: -2px;
            color: #f28b08;

            svg {
              width: 12px;
              height: 12px;
              fill: #f28b08;
            }
          }
        } 
      }

      &.header-item--active, &:hover, &:focus {
        outline: 1px solid $border-color;
        outline-offset: -1px;
        background: none;

        .header-item {
          &-title {
            &-text {
              color: #f28b08;
            }
          }
          &-content {
            border-top: 1px solid #f5f9fe;
            top: 44px;
          }
        }
      }
      
    }

    &--phone {
      min-width: 165px;
      margin-left: auto;

      @include media-breakpoint-down(md) {
        display: none;
      }

      .header-item {
        &-title {
          &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            white-space: nowrap;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
      }
      &.header-item--active, &:hover, &:focus {
        .header-item {
          &-title {
            &-text {
              span {
                display: block;
              }
            }
          }
          &-content {
            background-color: #01b2ff;
            border: none;
            width: 100%;

            &-text {
              
              white-space: nowrap;
              font-size: 12px;
              line-height: 16px;
              color: white;
              margin: 0;

              &:first-child {
                margin-top: -25px;
                margin-bottom: 15px;
              }
            }

            a {
              margin-top: 10px;
              border-bottom: 1px dashed #fff;
              display: inline-flex;
              max-width: 91px;
              color: #fff;
            }
          }
        }
      }
    }

    &--city {
      min-width: 130px;
      padding-right: 0;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      @include media-breakpoint-down(md) {
        margin-left: auto;
        min-width: auto;
      }

      .header-item {
        &-title {

          &:hover, &:focus {
            outline: none;

            .header-item-title-text {
              color: #00b3ff;
            }
            .header-item-title-icon  {
              transform: rotate(90deg);

              svg {
                fill: #00b3ff;
              }
            }
          }
          
          &-icon {
            margin-right: -4px;
            width: 20px;
            height: 20px;
            align-self: baseline;
            min-width: auto;
            transform: rotate(-90deg);

            svg {
              fill: #666;
            }
          }
          
          &-text {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            border: none;
            background: transparent;
            text-align: left;
            margin-left: auto;
            cursor: pointer;

            span {
              font-family: "Roboto Condensed", sans-serif;
              font-size: 11px;
              margin-top: 3px;
              text-transform: lowercase;
              color: #666666;
            }
          }
        }

        &-link {
          font-size: 11px;
          border-bottom: 1px dashed#86909c;
          letter-spacing: 0.5px;
          color: #86909c;

          &:hover, &:focus {
            color: #00b3ff;
            border-color: #00b3ff;
          }
        }
      }

      &.header-item--active, &:hover, &:focus {
        &.header-item {
          background: none;
        }
        .header-item-title-text, .header-item-title-icon svg {
          color: #333;
          fill: #666;
        }
      }
    }
  }
}