.header {
  height: 45px;
  background: #f6f9fe;
  //border-bottom: 1px solid #f5f5f5;
  //box-shadow: 0 0px 10px #f3f9fe;
  position: relative;

  @include media-breakpoint-down(xs) {
    height: 35px;
    z-index: 1070;
  }

  .container-fluid {
    display: flex;
  }
  
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #333333;
    padding: 0 10px;

    @include media-breakpoint-up(xl) {
      padding: 0 15px;
    }
    
    @include media-breakpoint-down(xs) {
      display: none;
    }

    &-title {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(xs) {
        justify-content: center;
        height: 35px;
      }

      &-icon {
        color: #00b3ff;
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        display: flex;
        margin-right: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(xs) {
          min-width: 25px;
          max-width: 25px;
          height: 25px;
        }
        svg {
          width: 100%;
          height: auto;
          fill: #00b3ff;
        }
      }

      &-text {
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          font-size: 13px;
        }
      }
    }

    &-content {
      width: 100%;
      display: none;
      font-size: 13px;
      line-height: 16px;
      flex-direction: column;
      padding: 10px;
      position: absolute;
      background: white;
      border-top: none;
      z-index: 1090;
      top: 45px;
      left: 0;
      min-height: 85px;

      @include media-breakpoint-up(xl) {
        padding: 15px;
      }

      @include media-breakpoint-down(xs) {
        top: 35px;
      }
      &-text {
        color: #333333;
        margin-bottom: 5px;
      }

      &-link {
        margin-top: 5px;
        color: $primary;
        border-bottom: 1px dashed;
        display: inline-block;
        font: normal 12px/12px $font-ubuntu;
        padding-bottom: 2px;

        &:hover, &:focus {
          color: $primary-second;
        }
      }
    }

    &.active, &:hover, &:focus {
      background: #00b3ff;
      color: white;
      outline: none;

      .header-item {
        &-title {
          &-icon {
            color: #fff;
            svg {
              fill: white;
            }
          } 
          &-text {
            color: white;
          }
        }
        
        &-content {
          display: block;
          box-shadow: 0 10px 20px -5px #3a434e6b;
        }
      }
    }

    &--delivery {
      background-color: #e3eff7;
      //background-color: #f6f9fe;

      @include media-breakpoint-down(xs) {
        background: none;
      }
    }

    &--yandex {
      min-width: 170px;
      background: transparent;
      
      
      @include media-breakpoint-down(lg) {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        display: block;  
      }

      @include media-breakpoint-down(xs) {
        display: none;
      }

      .header-item {
        &-title {
          &-icon {
            max-width: 90px;
            min-width: 90px;
          }
          &-text {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 12px;
            margin-left: -2px;
            color: #f28b08;

            svg {
              width: 12px;
              height: 12px;
              fill: #f28b08;
            }
          }
        } 
      }

      &.header-item--active, &:hover, &:focus {
        outline: 1px solid $border-color;
        outline-offset: -1px;
        background: none;

        .header-item {
          &-title {
            &-text {
              color: #f28b08;
            }
          }
          &-content {
            border-top: 1px solid #f5f9fe;
            top: 44px;
          }
        }
      }
      
    }

    &--phone {
      min-width: 165px;
      margin-left: auto;

      @include media-breakpoint-down(md) {
        display: none;
      }

      @include media-breakpoint-down(xs) {
        display: none;
        /*  display: inline-flex;
        min-width: 1px;
        margin: 10px 0 0 10px;
        padding: 0 0 0 10px;
        justify-content: center;
        border-left: 1px solid #dedede;
        height: 15px;
        order: 2; */
      }

      .header-item {
        &-title {
          &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            white-space: nowrap;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
            font-size: 15px;
            letter-spacing: 0px;
          }
        }
      }
      &.active, &:hover, &:focus {
        .header-item {
          &-title {
            &-text {
              span {
                display: block;
              }
            }
          }
          &-content {
            background-color: #01b2ff;
            border: none;
            width: 100%;

            &-text {
              
              white-space: nowrap;
              font-size: 12px;
              line-height: 16px;
              color: white;
              margin: 0;

              &:first-child {
                margin-top: -25px;
                margin-bottom: 15px;
              }
            }

            a {
              margin-top: 10px;
              border-bottom: 1px dashed #fff;
              display: inline-flex;
              color: #fff;
            }
          }
        }
      }
    }

    &--city {
      align-items: center;
      justify-content: center;
      order: 1;

      @include media-breakpoint-down(md) {
        margin-left: auto;
        min-width: auto;
      }

      @include media-breakpoint-down(xs) {
        display: inline-flex;
        margin: 0 0 0 5px;
        padding: 0;
      }

      &:not(.active):hover, &:not(.active):focus {
        background: none;
        .header-item-content {
          display: none;
        }
        .header-item-title-icon {
          color: inherit;

          svg {
            fill: inherit;
          }
        }
      }

      .header-item {

        &-link {

          &-city {
            display: flex;
            align-items: center;
            font-size: 14px;
            cursor: pointer;
            color: #333;
            
            svg {
              margin-right: 4px;
              width: 14px;
              height: 15px;
              align-self: baseline;
              min-width: auto;
              fill: #333;
              margin-top: -2px;
            }

            &:hover, &:focus {
              color: #00b3ff;

              svg {
                fill:#00b3ff; 
              }
            }
          } 
          &-point {
            font-size: 11px;
            color: #86909c;
            border-bottom: 1px dashed #86909c;
            margin-left: 10px;
            
            @include media-breakpoint-down(xs) {
              
            }
            &:hover, &:focus {
              color: #00b3ff;
              border-color: #00b3ff;
            }
          }   
        }
      }

      &.active {

        @include media-breakpoint-down(xs) {
          background: none;
        }

        .header-item-title {
          background-color: #01b2ff;
          
          @include media-breakpoint-down(xs) {
            background: none;
          }

          a {
            color: #fff;
            border-color: #fff;

            @include media-breakpoint-down(xs) {
              color: #333;
            }

            svg {
              fill: #fff;
              
              @include media-breakpoint-down(xs) {
                color: #333
              }
            }
          }
        }
        .header-item-content {
          background-color: #01b2ff;
        
          @include media-breakpoint-down(xs) {
            position: fixed;
            padding: 20px;
            text-align: center;
            min-height: auto;
          }

          p {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;

            @include media-breakpoint-down(xs) {
              font-size: 15px;
            }

            span {
              display: none;
              font-size: 18px;
              line-height: normal;
              margin-top: 5px;

              @include media-breakpoint-down(xs) {
                display: block;
              }
            }

          }

          &-links {
            display: flex;
            align-self: center;

            @include media-breakpoint-down(xs) {
              justify-content: center;
              margin: 25px 0 0 0;
            }

            a {
              border: 1px solid #fff;
              padding: 5px 10px;
              transition: .4s;
              margin-right: 10px;

              &:hover, &:focus {
                background-color: #fff;
                color: #02b1ff;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}