.navbar {
  height: 85px;
  padding: 0;

  // Stiky navbar
  /*
  &.sticky-top {
    background-color: #fff;
    @include box-shadow();

    @include media-breakpoint-up(lg){
      height: 51px;
    }

    .navbar-brand {
      min-width: 50px;
      max-width: 50px;
    }

    .nav-link {
      font-size: 14px;
    }
    .navbar-nav {
      border-bottom: none;
    }

    .navbar-overlay {
      top: 51px;

      @include media-breakpoint-down(md) {
        top: 117px;
      }
    }
  }
  */

  // Overlay 
  &-overlay {
    width: 100%;
    position: absolute;
    height: 100vh;
    left: 0;
    background: rgba(2, 23, 33, 0.58);
    top: 86px;
    z-index: 1050;

    @include media-breakpoint-down(md) {
      top: 136px;
    }
  }

  @media (max-width: 1000px) {
    height: auto;
    padding: 10px 0 0 0;
    border: none;
  }

  .container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-brand {
    background-size: cover;
    min-width: 100px;
    margin-right: 25px;
    padding: 0;

    @include media-breakpoint-down(md) {
      max-width: 90px;
      margin-right: 10px;
    }
    svg {
      fill: $primary;
    }
  }

  &-nav {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    @media (max-width: 1000px) {
      order: 4;
      width: 100%;
      border-top: 1px solid $border-color;
      margin-top: 10px;
    }

    .nav {
      
      &-item {
        display: flex;
        align-items: center;

        &.active {
          .nav-link {
            border-color: #3fb1ff;
          }
          .nav-wrap {
            display: flex;
          }
        }
      }

      &-link {
        font-size: 17px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: black;
        padding: 0 10px;
        border-bottom: 2px solid transparent;
        height: 100%;

        @media (max-width: 1240px) {
          padding: 0 5px;
        }

        @media (max-width: 1140px) {
          font-size: 14px
        }
       
        @media (max-width: 1000px) {
          padding: 20px 0;
          font-size: 17px;
        }

        &-icon {
          width: 15px;
          height: 15px;
          margin-right: 3px;
          display: flex;
          align-items: center;

          svg {
            width: 100%;
            height: 100%;
          }
        }
  
        &--discount {
          color: #e5322d;
        }
      }

      &-wrap {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        min-width: 100%;
        left: 0;
        z-index: 1060;
        background: white;
        border: 1px solid $border-color;
        padding: 25px 40px 30px;
        justify-content: space-between;
        box-shadow: 0 10px 20px -5px #3a434e6b;
        background-position: 98% 74%;
        background-repeat: no-repeat;
        background-size: 270px;

        @include media-breakpoint-up(lg) {
          min-width: 1000px;
        }
        @include media-breakpoint-down(md) {
          max-width: 100%;
          padding: 25px;
        }

        .nav-list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          min-width: 100%;
          padding: 0;
          margin: 0;
          max-height: 540px;

          .nav-item {
            flex-direction: column;
            align-items: flex-start;
            padding-right: 30px;
            margin-bottom: 20px;

            .nav-link {
              font-size: 17px;
              color: #2b2a29;
              position: relative;
              padding: 0;
              line-height: 18px;
              font-weight: 400;
              border: none;
              text-transform: none;
              display: inline-block;
              padding-bottom: 1px;
              border-bottom: 1px solid #e9eff7;

              &:hover, &:focus {
                color: #3fb1ff;
                border-color: #3fb1ff;
              }
            }
          }

          &-sub {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            margin-top: 5px;
            
            .nav-item {
              padding-right: 0;
              margin-bottom: 0;

              .nav-link {
                font-size: 14px;
                color: #2b2a29;
                position: relative;
                padding: 0;
                line-height: 23px;
                text-transform: none;
                font-weight: 300;
                border: none;
                display: inline-block;
    
                span {
                  padding-left: 3px;
                  display: inline;
                  color: #3fb1ff;
                  font-size: 11px;
                  font-weight: 400;
                  transform: translateY(-5px);
                  display: none;
                }
    
                &:hover, &:focus {
                  text-decoration: underline;
                  color: #3fb1ff;
    
                  span {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }

        .nav-list-brand {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
          .nav-item {
            &:after {
              content: '';
              width: 2px;
              height: 2px;
              background-color: #45444359;
              border-radius: 2px;
              margin: 0 2px;
            }

            &:last-child {
              &:after {
                display: none;
              }
            }
          }

          .nav-link {
            font-size: 14px;
            line-height: 21px;
            color: #2b2a29e0;
            padding: 0 6px;
            border: none;
            
            &:hover, &:focus {
              color: #3fb1ff;
            }
          }
        }

        .nav-list-divider {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          margin: 0 0 20px;
          white-space: nowrap;
          color: #848688;

          &:before, &:after {
            content: '';
            border-top: 1px solid $border-color;
            width: 100%;
          }
          &:before {
            margin-right: 10px;
          }
          &:after {
            margin-left: 10px;
          }
        }

        .nav-list-additional {
          margin-bottom: 15px;
          
          .nav-link {
            font-size: 14px;
            color: #2b2a29;
            position: relative;
            padding: 0;
            line-height: 23px;
            text-transform: none;
            font-weight: 300;
            border: none;
            display: inline-block;

            &:hover, &:focus {
              color: #3fb1ff;
              text-decoration: underline;
            }
            .badge {
              width: 20px;
              height: 20px;
              float: left;
              display: block;
              margin-right: 5px;
              background-size: 100%;
              background-position: no-repeat;
    
              &.winter {
                background-image: url(../img/svg/season-winter.svg);
              }
              
              &.summer {
                background-image: url(../img/svg/season-summer.svg);
              }
              
              &.autumn-spring {
                background-image: url(../img/svg/season-autumn-spring.svg);
              }
              
              &.star {
                background-image: url(../img/svg/product-new.svg);
              }
              
              &.discount {
                background-image: url(../img/svg/product-sale.svg);
              }
              
              &.h {
                font-size: 16px;
                line-height: 18px;
                width: 14px;
                margin-right: 7px;
                text-align: center;
                font-weight: bold;
                color: #3fb1ff;
              }
              
              &.g {
                font-size: 16px;
                width: 14px;
                margin-right: 7px;
                line-height: 18px;
                text-align: center;
                font-weight: bold;
                color: #3fb1ff;
              }
              
              &.big-size {
                background: url(../img/ic/ic-big-size.png);
                background-size: 13px 13px;
              }
              
              &.small-size {
                background: url(../img/ic/ic-small-size.png);
                background-size: 13px 13px;
              }
            }
          }
        }
      }

      &-wrap-brand {
        flex-direction: column;

        .nav-brand-by-char {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
          width: 100%;
          justify-content: space-between;

          a {
            font-family: 'Roboto Condensed', sans-serif;
            line-height: 1;
            color: #0079bf;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;

            &:first-child {
              margin-left: 0;
            }
          }
        }
        
        .nav-list {
          max-height: 330px;

          .nav-item {
            width: 25%;
            padding-right: 0px;
            margin-bottom: 10px;

            .nav-link {
              font-size: 14px;

              &:hover, &:focus {
                color: #3fb1ff;
              }
            }
          }
        }
      }

      &-link--feature {
            
        &:before {
          position: absolute;
          content: "";
          border-radius: 50%;
          background: #3fb1ff;
          height: 5px;
          width: 5px;
          left: -13px;
          top: 8px;
        }
      }
    }
    

    &__span {
      width: 16px;
      height: 16px;
     
    }

    &-content {
      
      
      &--brand {
        font-family: "Roboto Condensed", sans-serif;
      }

       
      &__list {
        padding-left: 30px;
        
        &--brand {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 230px;
        }

        &--add-option {
          margin: 20px 0;
        }
      }


      &__img {
        width: 100%;
        margin-top: 34px;
      }
     
    }
  }

  &-form {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: auto;

    @include media-breakpoint-up(xl) {
      margin-right: 5px;
    }
    
    
    input {
      width: 130px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      color: #333333;
      border: 1px solid $border-color;
      border-radius: 15px;
      padding-left: 10px;

      @include media-breakpoint-up(xl) {
        width: 160px;
      }
      @include media-breakpoint-down(md) {
        width: 190px;
      }

      &:focus {
        outline: none;
        border: 1px solid #01b2ff;

        & + button {
          svg {
            fill: #01b2ff;
          }
        }
      }
    }

    input::-webkit-input-placeholder {
      color: #bbbbbb;
      font-size: 12px;
    }

    input::-moz-placeholder {
      color: #bbbbbb;
      font-size: 12px;
    }
    
    input:-moz-placeholder {
      color: #bbbbbb;
      font-size: 12px;
    }

    input:-ms-input-placeholder {
      color: #bbbbbb;
      font-size: 12px;
    }

    button {
      width: 25px;
      height: 25px;
      position: absolute;
      background: transparent;
      border: none;
      right: 4px;
      top: 2px;
      padding: 0;
      cursor: pointer;

      svg {
        fill: #cdd5e0;
        width: 100%;
        height: 100%;
      }

      &:hover, &:focus {
        outline: none;

        svg {
          fill: $primary;
        }
      }
    }
  }

  &-icons {
    display: flex;
    
    .nav-item {
      display: flex;
      position: relative;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      
      svg {
        width: 100%;
        height: 100%;
        fill: #01b2ff;

        &:hover, &:focus {
          fill: #0079BF;
        }
      }

      span {
        display: none;
        position: absolute;
        font-family: "Roboto Condensed", sans-serif;
        left: -3px;
        bottom: 5px;
        z-index: 4;
        background: #00b3ff;
        height: 16px;
        width: 16px;
        line-height: 17px;
        font-size: 10px;
        text-align: center;
        color: white;
        border-radius: 50%;
      }

      &--active {
        span {
          display: block;
        }
      }
    }

    
  }

  &-phone {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
    }

    div:first-child {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      span:first-child {
        white-space: nowrap;
        font-size: 17px;
        line-height: 17px;
        padding: 0;
        color: #01b2ff;
      }
      
      span:last-child {
        font-size: 13px;
        line-height: 20px;
        opacity: .9;
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      line-height: 11px;
      border-left: 1px solid #f4f9fe;
      padding-left: 10px;
      opacity: .8;
    }
  }
}