body {
  font: normal 14px/16px $font-roboto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  counter-reset: refund;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 12px;
}

input::-moz-placeholder {
  color: #bbbbbb;
  font-size: 12px;
}

input:-moz-placeholder {
  color: #bbbbbb;
  font-size: 12px;
}

input:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 12px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
  border-color: inherit;
}

button {
  &:hover, &:focus {
    outline: none;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}