body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #f6f9fe;
}

body::-webkit-scrollbar-thumb {
  background-color: #afcde6;
  border-radius: 20px;
  outline: 1px solid slategrey;
}