include ./product-preview
include ./pickup-point
include ./city
include ./signin
include ./signup
include ./testimonial
include ./order
include ./refund
include ./write-to-us
include ./testimonial-product