include ./product-preview
include ./pickup-point
include ./city
include ./signin
include ./signout
include ./signup
include ./testimonial
include ./order
include ./refund
include ./write-to-us
include ./testimonial-product
include ./trend
include ./new_adress
include ./mobile-filters