#new-address.modal.modal-new-address.fade(tabindex='-1', role='dialog', aria-labelledby='new-addressTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title 
          span Добавление адреса
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='10px', height='10px', viewBox='0 0 10 10', enable-background='new 0 0 10 10', xml:space='preserve')
              path(fill='', d='M5.429,5l4.478-4.472c0.116-0.118,0.116-0.31,0-0.428c-0.119-0.118-0.31-0.118-0.429-0.001L5,4.571 L0.522,0.099C0.404-0.019,0.212-0.018,0.093,0.1c-0.117,0.118-0.117,0.31,0,0.428L4.571,5L0.094,9.471 c-0.117,0.118-0.117,0.31,0,0.427c0.06,0.062,0.138,0.09,0.215,0.09c0.078,0,0.154-0.028,0.214-0.088L5,5.428l4.479,4.473 c0.059,0.06,0.137,0.088,0.215,0.088c0.076,0,0.155-0.028,0.214-0.09c0.116-0.117,0.116-0.309,0-0.427L5.429,5z')
      .modal-body
        form.form-horizontal
          .form-group.row
            label.col-form-label.col-3(for='') Регион
            .col-9.col-sm-8
              select.form-control(name='address-region', type='text', placeholder='')
                option(value="")
          .form-group.row
            label.col-form-label.col-3(for='') Город
            .col-9.col-sm-8
              select.form-control(name='address-city', type='text', placeholder='')
                option(value="")
          .form-group.row
            label.col-form-label.col-3(for='') Улица
            .col-9.col-sm-8
              input.form-control(name='address-street', type='text', placeholder='')
          .form-group.row
            label.col-form-label.col-3(for='') Дом / Корпус / Квартира
            .col-9.col-sm-4
              input.form-control(name='address-house-1', type='text', placeholder='')
          .form-group.row
            label.col-form-label.col-3(for='') Индекс
            .col-9.col-sm-4
              input.form-control(name='address-index', type='text', placeholder='')
          .form-group.row
            .col-sm-6.offset-sm-3
              a.btn.mr-3(href="") Добавить
              a.btn.btn-secondary(href="") Отмена