#order.modal.modal-order.fade(tabindex='-1', role='dialog', aria-labelledby='orderTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title.m-auto Заказ №77063
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='10px', height='10px', viewBox='0 0 10 10', enable-background='new 0 0 10 10', xml:space='preserve')
              path(fill='', d='M5.429,5l4.478-4.472c0.116-0.118,0.116-0.31,0-0.428c-0.119-0.118-0.31-0.118-0.429-0.001L5,4.571 L0.522,0.099C0.404-0.019,0.212-0.018,0.093,0.1c-0.117,0.118-0.117,0.31,0,0.428L4.571,5L0.094,9.471 c-0.117,0.118-0.117,0.31,0,0.427c0.06,0.062,0.138,0.09,0.215,0.09c0.078,0,0.154-0.028,0.214-0.088L5,5.428l4.479,4.473 c0.059,0.06,0.137,0.088,0.215,0.088c0.076,0,0.155-0.028,0.214-0.09c0.116-0.117,0.116-0.309,0-0.427L5.429,5z')
      .modal-body
        .row
          .col-8
            .cart-items
              .cart-item
                .cart-item-img
                  img(src="img/category/1.jpg", alt="")
                .cart-item-info
                  .cart-item-info-title Кроссовки
                    span Tommaris
                  .cart-item-info-category Женская обувь
                  .cart-item-info-articul Артикул:
                    span 81203
                  .cart-item-info-size Размер:
                    span 44  
                .cart-item-price
                  .price.price--through
                    b 5790
                    small ₽
                  .price.price--sale.price--through
                    b 4990
                    small ₽
                    span.price-badge-discount -10%
                  .price.price--promo
                    b 2990
                    small ₽
                    span.price-badge-discount -33%
              .cart-item
                .cart-item-img
                  img(src="img/category/2.jpg", alt="")
                .cart-item-info
                  .cart-item-info-title Кроссовки
                    span Tommaris
                  .cart-item-info-category Женская обувь
                  .cart-item-info-articul Артикул:
                    span 81203
                  .cart-item-info-size Размер:
                    span 44  
                .cart-item-price
                  .price
                    b 5790
                    small ₽
              .cart-item
                .cart-item-img
                  img(src="img/category/3.jpg", alt="")
                .cart-item-info
                  .cart-item-info-title Кроссовки
                    span Tommaris
                  .cart-item-info-category Женская обувь
                  .cart-item-info-articul Артикул:
                    span 81203
                  .cart-item-info-size Размер:
                    span 44  
                .cart-item-price
                  .price
                    b 5790
                    small ₽
          .col-4
            .cart-total
              .cart-total-heading Данные о заказе
              .cart-total-items
                .cart-total-item
                  span Товаров в корзине:
                  span 
                  span 3
                .cart-total-item
                  span Итого без скидки:
                  span
                  span 12909 ₽
                .cart-total-item
                  span Скидка:
                  span
                  span 1109 ₽
                .cart-total-item
                  span Доставка (Курьером)
                  span
                  span 200 ₽
                .cart-total-item-text
                  p г. Омск, Омская обл.
                  p На Фрунзе (ул. Фрунзе, 101, оф. 32)
                .cart-total-item
                  span ИТОГО К ОПЛАТЕ:
                  span
                  span 10109 ₽