.error-404 {
  text-align: center;

  &-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px;
    
    &-item {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    &-link {
      display: flex;
      flex-direction: column;

      img {
        width: 140px;
        height: 140px;
        border-radius: 140px;
        background-color: #ddd;
        margin-bottom: 15px;
      }

      span {
        font-size: 16px;
        color: #000;
      }

      &:hover, &:focus {
        span {
          color: $primary-second;
        }
      }
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 38px;
    margin: 20px 0;

    span {
display: block;
    font-size: 20px;
    }
  }
}