.cart {
  padding-bottom: 50px;

  .page-header {
    height: 150px;
    margin-bottom: 30px;
    display: flex;
    background-color: #f5f9fe;
    justify-content: center;
    padding: 0 50px;

    .steps {
      justify-content: space-between;
      display: flex;
      width: 100%;

      .item {
        display: flex;
        align-items: center;
        width: 33%;
        position: relative;
        opacity: 0.2;

        span {
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 40px;
          font-size: 20px;
          margin-right: 10px;

          border: 1px solid #a0a0a0;
          color: #a0a0a0;

          svg {
            width: 20px;
          }
        }

        &.active {
          opacity: 1;

          span {
            background-color: transparent;
            border: 1px solid $primary-second;
            color: $primary-second;
          }
        }
        &.done {
          opacity: .7;

          span {
            background-color: $primary-second;
            border: 1px solid $primary-second;
            color: #fff;
          }
        }

        &:after {
          content: '';
          width: 40px;
          height: 1px;
          border-top: 1px solid $primary-second;
          margin-left: 0px;
          position: absolute;
          right: 40px;
        }

        &:before {
          content: '';
          width: 5px;
          height: 5px;
          border-top: 1px solid $primary-second;
          border-right: 1px solid $primary-second;
          transform: rotate(45deg);
          position: absolute;
          right: 40px;
        }

        &:last-child {
          &:before, &:after {
            display: none;
          }
        }

       
        h3 {
          font-size: 20px;
          margin-bottom: 9px;
        }

        p {
          max-width: 420px;
          line-height: 18px;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }

    height: 150px;
    margin-bottom: 30px;
  }

  &-section-title {
    background-color: #f3f9fe;
    border: 1px solid #e3eff7;
    padding: 30px;
    font-size: 20px;
    color: #8f9fad;
    font-weight: 300;
  }

  &-wrap {
    width: 800px;
    margin: -30px wrap 0;
  }

  &-contacts {

    

    &-city {
      height: 45px;
      display: flex;
      align-items: center;

      svg {
        width: 15px;
        fill: $primary;
        margin-right: 5px;
      }
      a {
        color: $primary;
        border-bottom: 1px dashed;

        &:hover, &:focus {
          color: $primary-second;
          border-color: $primary-second;
        }
      }
    }

  }

  &-promocode {
    margin: 0 0 30px 50px;
    padding: 25px;
    background-color: #fef4f4;
    border: 1px solid #f9e8e8;
    
    &-title {
      margin-bottom: 15px;
      color: #333333;
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      color: #da9d9d;
    }

    .form-control {
      height: 33px;
      border: none;
    }
    .btn {
      padding: 0 10px;
      background-color: #efb9b9;
      border: none;
      color: #fff;
      height: 33px;
    }
  }
 
  &-items {
    width: 100%;
  }

  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #f4f9fe;
    padding: 20px 50px;
    background-color: #fff;
  
    &:first-child {
      padding-top: 0;
      border: none;
    }

    .btn {
      color: #96a4b0;
      border: 1px solid #96a4b0;
  
      &:hover, &:focus {
        color: #fff;
        border-color: $primary-second;
      }
    }
  
    &-img {
      width: 120px;
  
      img {
        width: 100%;
      }
    }
  
    &-info {
      min-width: 300px;

      &-title {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 21px;
        color: #333333;
        margin-bottom: 10px;
        align-items: center;
        font-weight: 300;
        span {
          padding-left: 5px;
          font-weight: 500;
        }
      }
      &-category {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 16px;
        color: #020202a3;
      }
      &-articul, &-size, &-color  {
        font: 400 12px/18px "Ubuntu", sans-serif;
        color: #999;
        line-height: 18px;
        margin-bottom: 4px;
  
        span {
          padding-left: 5px;
          color: #000;
        }
      }
    }
  
    &-size{ 
      min-width: 70px;
    }

    &-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .input-group {
        margin-right: 30px;
        width: 100px;
      }

      .input-group-append, .input-group-prepend {
        .btn {
          border-color: #97a4b0;
          background-color: #ffffff;
          color: #75859c;
          font-size: 14px;
          padding: 0 12px;
          height: 35px;
        }
      }
      .form-control {
        height: 35px;
      }
      .btn {
        height: 35px;
      }

      &-remove, &-like {
        display: flex;
        height: 35px;
        width: 30px;
        align-items: center;
        
        svg {
          height: 30px;
          width: 30px;
          fill: #95a4b0;
          transition: .5s;
        }
      }

      &-remove {
        svg {
          height: 30px;
          width: 16px;
          margin: auto;
        }
        &:hover, &:focus {
          svg {
            fill: #ff423c;
          }
        }
      }
      &-like {
        &:hover, &:focus {
          svg {
            fill: $primary-second;
          }
        }
      }
    }
  
    &-price {
      margin: 20px 0 0 0;
      text-align: right;
      display: flex;
      position: relative;

      .price {
        color: #333;
        display: flex;
        align-items: baseline;
        position: relative;
        font-size: 20px;
        line-height: 25px;
   
        &:last-child {
          margin-bottom: 0;
        }
  
        small {
          font-size: 0.8em;
          margin: 0 0 0 2px;
        }
        
        &--sale {
          .price-badge-discount {
            background-color: #f69781;
            &:before {
              background-color: #f69781;
            }
          }
        }
        &--promo {
          color: #333;
  
          .price-badge-discount {
            background-color: #ff423c;
            &:before {
              background-color: #ff423c;
            }
          }
  
          &.show {
            display: flex;
          }
        }
        &--through {
          color: #7b808473;
          font-size: 20px;
          font-weight: 300;

          b {
            position: relative;
            &:before {
              content: '';
              display: block;
              border-top: 1px solid;
              position: absolute;
              width: 100%;
              top: 49%;
            }
          }
  
          .price-badge-discount {
            filter: grayscale(1);
            opacity: .5;
          }
        }
  
        &-badge-discount {
          color: #fff;
          display: inline-block;
          height: 20px;
          line-height: 20px;
          border-radius: 4px;
          position: relative;
          padding: 0 4px;
          margin-right: 7px;
          margin-left: 7px;
          font-size: 12px;
          font-family: Ubuntu;
          top: -10px;
          z-index: 1;
  
          &:before {
            //content: '';
            width: 14px;
            height: 14px;
            display: inline-block;
            position: absolute;
            left: -7px;
            top: 3px;
            border-top-left-radius: 6px;
            transform: rotate(-45deg);
            z-index: -1;
          }
        }
      }
    }
  }

  &-total {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 20px -5px #0000001f;
    margin-left: 50px;

    .btn {
      background-color: $primary;
      border-color: $primary;
      color: #fff;
      width: 100%;
      margin-top: 20px;

      &:hover, &:focus {
        background-color: $primary-second;
        border-color: $primary-second;
        color: #fff;
      }
    }

    &-heading {
      font-size: 14px;
      color: #7d858a;
      display: block;
      line-height: 18px;
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
    }

    &-item {
      margin-bottom: 10px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;

      span {
        &:nth-child(1) {
          font-size: 14px;
          line-height: 28px;
          color: #96a4b0;
          font-weight: 300;
          white-space: nowrap;
          padding-right: 4px;
        }
        &:nth-child(2) {
          width: 100%;
          border-bottom: 1px dotted #96a4b054;
        }
        &:nth-child(3) {
          font-size: 20px;
          color: #202529;
          font-weight: 300;
          white-space: nowrap;
          padding-left: 3px;
        }
      }

      &-adress {
        margin-bottom: 20px;
        line-height: 19px;
        font-size: 14px;
        margin-top: -10px;
        color: #0079c0;
      }

      &:last-child {
        margin-top: 30px;
        margin-bottom: 0;

        span:nth-child(1) {
          color: #0079bf;
        }
        span:nth-child(2) {
          border-color: #0079bf75;
        }
        span:nth-child(3) {
          font-weight: 500;
          color: #0079bf;
        }
      }
    }

    &-accept {
      margin-top: 10px;
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      color: #333;
    }

    &-accept {
      label {
        font-size: 12px;
        display: inline-block;
        a {
          border-bottom: 1px dashed $primary;
          color: $primary;

          &:hover, &:focus {
            color: $primary-second;
          }
        }
      }

      [type="checkbox"]:not(checked) {
        & + label {
          color: #96a4b4;
          
          &:before {
            border-color: #96a4b4;
          }
        }
      }
      [type="checkbox"]:checked {
        & + label {
          color: #333;

          &:before {
            border-color: #0079bf;
          }
        }
      }
    }
  }

  &-done {
    text-align: center;
    padding: 40px 0;
  
    img {
      max-width: 70px;
    }
  
    &-title {
      font-size: 23px;
      color: #444;
      text-align: center;
      margin: 30px auto;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    a {
      color: $primary;
      border-bottom: 1px dashed;
  
      &:hover, &:focus {
        color: $primary-second;
        border-color: $primary-second;
      }
    }
  }

  &-delivery {

    &-section {
      padding: 40px 0 40px 50px;
      border-top: 3px solid #f4f9fe;

      &:first-child {
        border: none;
      }
    }

    h3 {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 30px;
    }

    &-option {
      margin-bottom: 20px;

      .flex-row & {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
    
    &-adress {
      
      > a {
        border-bottom: 1px dashed;
        color: #0079c0;
        padding-bottom: 2px;
        margin-top: 20px;
        display: inline-block;
      }

      form {
        margin-top: 30px;
      }
    }

    &-payment {
      &-note {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        margin-left: 20px;
        font: 14px/22px "Ubuntu", sans-serif;
      }
    }

    &-features {
      margin-top: 20px;

      li {
        list-style: none;
        line-height: 18px;
        margin-bottom: 7px;
        position: relative;
        color: #333;
        display: flex;
        align-items: baseline;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        &.list-yes, &.list-no, &.list-warning, &.list-time, &.list-payment {
          &:before {
            content: '';
            min-width: 12px;
            height: 12px;
            margin-right: 10px;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }

        &.list-yes {
          &:before {
            background-image: url(#{$PATH}/svg/сlothes-fitting-yes.svg);
          }
        }
        &.list-no {
          &:before {
            background-image: url(#{$PATH}/svg/сlothes-fitting-no.svg);
          }
        }
        &.list-warning {
          &:before {
            background-image: url(#{$PATH}/svg/сlothes-fitting-warning.svg)
          }
        }
        &.list-time {
          &:before {
            background-image: url(#{$PATH}/svg/product-share.svg)
          }
        }
        &.list-payment {
          &:before {
            content: '\20BD';
            font-family: Geaorgia;
            color: #515456;
            font-size: 13px;
            text-align: center;
          }
        }

        a {
          display: inline-flex;
          width: 17px;
          height: 17px;
          align-items: center;
          justify-content: center;
          font-family: Ubuntu;
          border: 1px solid #01b2ff;
          border-radius: 100%;
          font-size: 11px;
          color: #01b2ff;
          margin-left: 7px;
          font-weight: 400;
          transition: .4s;

          &:hover, &:focus {
            background-color: #01b2ff;
            color: #fff;
          }
        }
      }
    }
  }
}