.cart {
  padding-bottom: 50px;

  .page-header {

    .steps {
      justify-content: space-between;
      display: flex;
      width: 100%;

      .item {
        display: flex;
        align-items: center;
        width: 33%;
        position: relative;
        opacity: 0.2;

        span {
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 40px;
          font-size: 20px;
          margin-right: 10px;

          border: 1px solid #a0a0a0;
          color: #a0a0a0;

          svg {
            width: 20px;
          }
        }

        &.active {
          opacity: 1;

          span {
            background-color: transparent;
            border: 1px solid $primary-second;
            color: $primary-second;
          }
        }
        &.done {
          opacity: .7;

          span {
            background-color: $primary-second;
            border: 1px solid $primary-second;
            color: #fff;
          }
        }

        &:after {
          content: '';
          width: 40px;
          height: 1px;
          border-top: 1px solid $primary-second;
          margin-left: 0px;
          position: absolute;
          right: 40px;
        }

        &:before {
          content: '';
          width: 5px;
          height: 5px;
          border-top: 1px solid $primary-second;
          border-right: 1px solid $primary-second;
          transform: rotate(45deg);
          position: absolute;
          right: 40px;
        }

        &:last-child {
          &:before, &:after {
            display: none;
          }
        }

       
        h3 {
          font-size: 20px;
          margin-bottom: 9px;
        }

        p {
          max-width: 420px;
          line-height: 18px;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }

    height: 150px;
    margin-bottom: 30px;

  }
  &-section-title {
    background-color: #f3f9fe;
    border: 1px solid #e3eff7;
    padding: 30px;
    font-size: 20px;
    color: #8f9fad;
    font-weight: 300;
  }

  &-wrap {
    width: 800px;
    margin: -30px wrap 0;
  }

  &-delivery {

  }

  &-contacts {

    .col-form-label {
      text-align: right;
      line-height: 45px;
      padding: 0;
      color: #96a4b0;
      text-align: right;
      line-height: 45px;
      padding: 0;
      color: #96a4b0;
      padding-right: 10px;
    }

    &-city {
      height: 45px;
      display: flex;
      align-items: center;

      svg {
        width: 15px;
        fill: $primary;
        margin-right: 5px;
      }
      a {
        color: $primary;
        border-bottom: 1px dashed;

        &:hover, &:focus {
          color: $primary-second;
          border-color: $primary-second;
        }
      }
    }

  }

  &-promocode {
    margin: 0 0 30px 0;
    padding: 30px;
    background-color: #f4f9fe;
    border: 1px solid #f4f9fe;
    
    &-title {
      font-size: 18px;
      margin-bottom: 20px;
      color: #96a4b0;
      display: inline-block;
      font-weight: 300;
    }

    .form-control {
      height: 33px;
    }
    .btn {
      background-color: #e4eef9;
      border-color: #e4eef9;
      height: 33px;
      color: #9daab3;
    }
  }

  &-done {
    text-align: center;
    padding: 40px 0;
  
    img {
      max-width: 70px;
    }
  
    &-title {
      font-size: 23px;
      color: #444;
      text-align: center;
      margin: 30px auto;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    a {
      color: $primary;
      border-bottom: 1px dashed;
  
      &:hover, &:focus {
        color: $primary-second;
        border-color: $primary-second;
      }
    }
  }

  &-items {
    width: 100%;
    padding-right: 50px;
  }

  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e3eff7;
    padding: 10px 20px;
    background-color: #fff;
  
    .btn {
      color: #96a4b0;
      border: 1px solid #96a4b0;
  
      &:hover, &:focus {
        color: #fff;
        border-color: $primary-second;
      }
    }
  
    &:last-child {
      border-bottom: none;
    }
  
    &-img {
      width: 120px;
  
      img {
        width: 100%;
      }
    }
  
    &-info {
      margin-right: auto;
      margin-left: 30px;
      
      &-title {
        font-size: 21px;
        line-height: 31px;
        font-weight: 300;
  
        span {
          padding-left: 5px;
          font-weight: 500;
        }
      }
      &-category {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 16px;
        color: #020202a3;
      }
      &-articul, &-size  {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #96a4b0;
  
        span {
          padding-left: 5px;
          color: #000;
        }
      }
    }
  
    &-actions {
      width: 100px;
  
      .input-group-append, .input-group-prepend {
        .btn {
          border-color: #97a4b0;
          background-color: #ffffff;
          color: #75859c;
          font-size: 14px;
          padding: 0 12px;
          height: 35px;
        }
      }
      .form-control {
        height: 35px;
      }
      .btn {
        height: 35px;
      }
    }
  
    &-price {
      margin: 0px 0 0 auto;
      width: 120px;
      text-align: right;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-start;
      justify-content: flex-start;

      .price {
        color: #333;
        display: flex;
        align-items: baseline;
        margin-right: 10px;
        position: relative;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        
  
        &:last-child {
          margin-bottom: 0;
        }
  
        small {
          font-size: 0.8em;
          margin-left: 2px;
        }
        
        &--sale {
          .price-badge-discount {
            background-color: #f69781;
            &:before {
              background-color: #f69781;
            }
          }
        }
        &--promo {
          color: #333;
  
          .price-badge-discount {
            background-color: #ff423c;
            &:before {
              background-color: #ff423c;
            }
          }
  
          &.show {
            display: flex;
          }
        }
        &--through {
          color: #7b808473;
          font-size: 18px;

          b {
            position: relative;
            &:before {
              content: '';
              display: block;
              border-top: 1px solid;
              position: absolute;
              width: 100%;
              top: 49%;
            }
          }
  
          .price-badge-discount {
            filter: grayscale(1);
            opacity: .5;
          }
        }
  
        &-badge-discount {
          color: #fff;
          display: inline-block;
          height: 20px;
          line-height: 20px;
          border-radius: 0 4px 4px 0;
          position: relative;
          padding: 0 4px 0 0;
          margin-left: 12px;
          font-size: 12px;
          font-family: Ubuntu;
          top: -4px;
          z-index: 1;
  
          &:before {
            content: '';
            width: 14px;
            height: 14px;
            display: inline-block;
            position: absolute;
            left: -7px;
            top: 3px;
            border-top-left-radius: 6px;
            transform: rotate(-45deg);
            z-index: -1;
          }
        }
      }
    }
  }

  &-total {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e3eff7;

    .btn {
      background-color: $primary;
      border-color: $primary;
      color: #fff;
      width: 100%;
      margin-top: 20px;

      &:hover, &:focus {
        background-color: $primary-second;
        border-color: $primary-second;
        color: #fff;
      }
    }

    &-heading {
      font-size: 18px;
      color: #96a4b0;
      font-weight: 300;
      display: block;
      line-height: 18px;
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e9ec;
    }

    &-item {
      margin-bottom: 10px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;

      span {
        &:nth-child(1) {
          font-size: 14px;
          line-height: 28px;
          color: #96a4b0;
          font-weight: 300;
          white-space: nowrap;
          padding-right: 4px;
        }
        &:nth-child(2) {
          width: 100%;
          border-bottom: 1px dotted #96a4b054;
        }
        &:nth-child(3) {
          font-size: 20px;
          color: #202529;
          font-weight: 300;
          white-space: nowrap;
          padding-left: 3px;
        }
      }

      &-text {
        margin-bottom: 10px;
        line-height: 18px;
        font-size: 13px;
        margin-top: -10px;
      }

      &:last-child {
        margin-top: 20px;
        margin-bottom: 0;

        span:nth-child(3) {
          font-weight: 500;
          color: #0079bf;
        }
      }
    }

    &-accept {
      margin-top: 10px;
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      color: #333;
    }

    &-accept {
      label {
        font-size: 12px;

        a {
          border-bottom: 1px dashed $primary;
          color: $primary;

          &:hover, &:focus {
            color: $primary-second;
          }
        }
      }

      [type="checkbox"]:not(checked) {
        & + label {
          color: #96a4b4;
          
          &:before {
            border-color: #96a4b4;
          }
        }
        
      }
      [type="checkbox"]:checked {
        & + label {
          color: #333;

          &:before {
            border-color: #0079bf;
          }
        }
        & + label:after {
          background-color: #0079bf;
        }
      }
    }
  }
}