.page-header {
  
  h1 {
    font-weight: 300;
    line-height: normal;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    color: #333;
    font-size: 36px;
  }

  &-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f5f9fe;
    
    h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    p {
      max-width: 420px;
      line-height: 24px;
      font-weight: 300;
      font-size: 14px;
  
      b {
        font-weight: 400;
        font-size: 18px;
      }
  
      svg {
        width: 13px;
        margin-top: -4px;
        fill: #01b2ff;
        margin-right: 3px;
        margin-right: 8px;
      }
      span {
        padding-right: 10px;
      }
    }
    
    .btn {
      margin: 0;
    }
  }
}

.chc {

  &-navbar {
    margin-bottom: 30px;

    h2 {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 25px;
      color: #a9bacc;
      font-weight: 300;
    }
    
    h3 {
      font-size: 17px;
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      display: block;
      border-right: none;
      border-radius: 2px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .nav-item {
      &.active {
        .nav-link {
          color: #000;
          border-color: #000;
        }
      }
    }
    
    .nav-link {
      display: inline-block;
      padding: 0;
      line-height: 20px;
      color: #777;
      border-bottom: 1px solid $border-color;
      font-size: 14px;
      margin-bottom: 8px;
      font-weight: 300;

      &:hover, &:focus {
        color: $primary-second;
        border-color: $primary-second;
      }
    }
  }
}

.delivery {

  &-type {
    margin-bottom: 20px;
    
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-icon {
        min-width: 50px;
        height: 50px;
        border: 1px solid #e9eff7;
        border-radius: 100%;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg, img {
          width: 35px;
          fill: $primary;
        }
      }
      
      &-title {
        font-size: 18px;
        line-height: normal;

        span {
          display: block;
          text-transform: none;
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          margin-top: 5px;

          b {
            font-weight: 500;
            color: #0079bf;
            padding-left: 2px;
          }
        }
      }

      &-pickup {
        margin-left: 15px;
        border-left: 1px solid #e9eff7;
        padding-left: 15px;
        height: 20px;
        display: flex;
        align-items: center;

        span {
          a {
            color: #0079bf;
            border-bottom: 1px dashed;
          }
        }
      }
    }

    &-items {
      display: flex;
      justify-content: space-between;
      margin-left: 65px;
  
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    &-item {
      border: 1px solid #e9eff7;
      padding: 30px 25px 20px 25px;
      margin-bottom: 20px;
      width: calc(50% - 10px);
      display: flex;
      flex-direction: column;
      transition: .4s;

      /* &.active  {
        border-color: $primary-second;
        background-color: #f5f9fe;
      } */

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      &:hover, &:focus {
        /* @include box-shadow();
        background-color: #f5f9fe; */
      }

      &-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e9eff7;
        padding-bottom: 15px;
        margin-top: -10px;
        margin-bottom: 15px;

        &-title {
          font-size: 17px;
          font-weight: 300;
  
          span {
            font-weight: 500;
          }
        }

        &-select {
          align-items: center;
          display: flex;
          padding-right: 3px;

          [type="radio"]:not(checked) {
            & + label {
              color: #96a4b4;
              
              &:before {
                border-color: #96a4b4;
              }
            }
            
          }
          [type="radio"]:checked {
            & + label {
              color: #333;
    
              &:before {
                border-color: #0079bf;
              }
            }
            & + label:after {
              background-color: #0079bf;
            }
          }
        }
      }

      &-features {

        li {
          list-style: none;
          line-height: 18px;
          margin-bottom: 7px;
          position: relative;
          color: #333;
          display: flex;
          align-items: baseline;
          
          &.list-yes, &.list-no, &.list-warning, &.list-time, &.list-payment {
            &:before {
              content: '';
              min-width: 12px;
              height: 12px;
              margin-right: 10px;
              background-size: 100%;
              background-repeat: no-repeat;
            }
          }

          &.list-yes {
            &:before {
              background-image: url(#{$PATH}/svg/сlothes-fitting-yes.svg);
            }
          }

          &.list-no {
            &:before {
              background-image: url(#{$PATH}/svg/сlothes-fitting-no.svg);
            }
          }
          
          &.list-warning {
            &:before {
              background-image: url(#{$PATH}/svg/сlothes-fitting-warning.svg)
            }
          }
          &.list-time {
            &:before {
              background-image: url(#{$PATH}/svg/product-share.svg)
            }
          }
          
          &.list-payment {
            &:before {
              content: '\20BD';
              font-family: Geaorgia;
              color: #515456;
              font-size: 13px;
              text-align: center;
            }
          }
          

          a {
            display: inline-flex;
            width: 17px;
            height: 17px;
            align-items: center;
            justify-content: center;
            font-family: Ubuntu;
            border: 1px solid #01b2ff;
            border-radius: 100%;
            font-size: 11px;
            color: #01b2ff;
            margin-left: 7px;
            font-weight: 400;
            transition: .4s;

            &:hover, &:focus {
              background-color: #01b2ff;
              color: #fff;
            }
          }
        }
      }

      
    }
  }
}

.payment {

  &-item {
    margin-bottom: 20px;
    
    &-type {
      display: flex;
      align-items: center;

      &-icon {
        min-width: 50px;
        height: 50px;
        border: 1px solid #e9eff7;
        border-radius: 100%;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          width: 35px;
        }
      }
      
      &-title {
        font-size: 18px;
        line-height: normal;
      }
    }
  }

  &-content {
    padding-left: 65px;
    margin-top: -10px;

    .nav-link {
      padding: 0;
      
      span {
        color: #0079bf;
        border-bottom: 1px dashed;
      }
      svg {
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        fill: #0079bf;
        margin-left: -5px;
      }
    }
  }
}

.refund {

  &-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:before {
      counter-increment: refund;
      content: counter(refund);
      min-width: 50px;
      height: 50px;
      border: 1px solid #e9eff7;
      border-radius: 100%;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: #01b2ff;
      font-size: 20px;
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
      width: calc(100% - 65px);
    }

    &-content {
      padding-left: 65px;
      font-weight: 300;

      ul {
        margin-bottom: 10px;
        line-height: 22px;
        font-size: 15px;
      }
    }
  }

  p {
    font-weight: 300;
    line-height: 21px;
    font-size: 12px;
  }

  sup {
    font-size: 0.6em;
    padding: 0 2px;
    font-weight: 400;
  }
  small {
    font-size: 12px;
    sup {
      font-size: 14px;
    }
  }

  &-box {
    border: 1px solid #e9eff7;
    padding: 30px 25px 20px 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: .4s;
    color: #333;
    background-color: #f4f9fe5c;
    
    &es {
      margin: 40px 0;
    }

    &-title {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e9eff7;
      padding-bottom: 15px;
      margin-top: -10px;
      margin-bottom: 15px;

      img {
        width: 20px;
        margin-right: 10px;
      }
    }
    &-content {
      p {
        margin-bottom: 10px;
        line-height: 20px;
        color: #55585a;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.tracking {
  &-item {
    display: flex;
    align-items: center;

    &-icon {
      min-width: 50px;
      height: 50px;
      border: 1px solid #e9eff7;
      border-radius: 100%;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 21px;
      }
    }
  }
}

.about {

  &-header {
    background-image: url(#{$PATH}/page-headers/about-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
      width: 35%;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
  }

  &-success {
    margin: 0 0 60px 0;

    h2 {
      max-width: 410px;
      margin: 0 auto;
      line-height: normal;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
    }

    &-items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0 30px;
    }
    
    &-item {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      position: relative;
      padding: 0;
      width: 25%;

      h3 {
        font-size: 48px;
        line-height: 53px;
        letter-spacing: -3.5px;
      }
    }
    &-total {
      text-align: center;
      font-size: 19px;
      font-weight: 300;
      position: relative;
      padding-top: 30px;
      max-width: 650px;
      margin: auto;

      h3 {
        font-size: 58px;
        line-height: 58px;
        font-weight: 300;
        letter-spacing: -3.5px;
      }
    }

    
  }

  &-collection {
    margin: 50px 0;
    text-align: center;
    line-height: normal;

    h3 {
      margin: 0 auto;
      line-height: normal;
      font-size: 24px;
      font-weight: 300;
      line-height: 33px;
      text-align: center;
    }
    p {
      margin: 0 auto;
      line-height: normal;
      font-size: 17px;
      font-weight: 300;
      text-align: center;
    }

    &-items {
      display: flex;
      align-items: center;
      margin-top: 40px;
    }
    
    &-item {
      width: 25%;
      
      img {
        max-width: 80%;
      }
    }
  }

  &-vacantion {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

    &-title {
      background-color: #fff;
      max-width: 418px;
      height: 160px;
      position: absolute;
      top: 90px;
      left: 255px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        margin: 0 auto;
        line-height: normal;
        font-size: 23px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
      }
      p {
        line-height: normal;
        font-size: 14px;
        margin: 15px 0 20px;
        text-align: center;
      }
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;
    }

    &-item {
      height: 75px;
      background-color: #ddd;
      flex-basis: 75px;
      margin: 5px;
    }
  }

  &-delivery {
    display: flex;
    align-items: center;
    margin: 50px 0;
    background-color: #f5f9fe;
    overflow: hidden;

    > div {
      width: 50%;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    > img {
      width: 50%;
    }

    h3 {
      font-size: 23px;
      font-weight: 300;
      line-height: 27px;
    }
    p {
      line-height: normal;
      font-size: 14px;
      margin: 15px 0 20px;
    }
    
  }

  &-shops {
    display: flex;
    align-items: center;
    margin: 50px 0;
    background-color: #f5f9fe;
    height: 250px;
    overflow: hidden;

    > div {
      width: 50%;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    > img {
      width: 50%;
    }

    h3 {
      font-size: 23px;
      font-weight: 300;
      line-height: 27px;
    }
    p {
      line-height: normal;
      font-size: 14px;
      margin: 15px 0 20px;
    }
  }

  &-sale {
    h3 {
      font-size: 18px;
      line-height: normal;
    }

    &-item {
      &-title {
        display: flex;
        align-items: center;

        &-icon {
          min-width: 50px;
          height: 50px;
          border: 1px solid #e9eff7;
          border-radius: 100%;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-family: Ubuntu;
          color: #01b2ff;
        }
      }

      &-content {
        padding-left: 65px;

        p {
          margin-bottom: 10px;
          font-size: 15px;
          line-height: 22px;
          color: #333;
          padding-right: 100px;
          font-weight: 300;
        }
      }
    }
  }

  &-testimonials {

    .testimonial {
     
      &-item {
        border: 1px solid #eaeff7;
        padding: 30px 50px;
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        margin-bottom: 20px;
    
        &-header {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
  
          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
            height: 58px;
            width: 58px;
            border-radius: 50%;
            margin-right: 15px;
          }
  
          &-block {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
  
            &:nth-child(3) {
              margin-left: auto;
            }
  
            .name {
              font-weight: 500;
              font-size: 20px;
              color: #333333;
              margin-bottom: 6px;
            }
            .city {
              color: #666666;
            }
            .date {
              font-size: 10px;
              margin-bottom: 6px;
            }
  
            .actions {
              display: flex;
              align-items: center;
              font-size: 12px;
              justify-content: space-between;
              line-height: 12px;
              padding: 0 6px;
    
              a {
                display: flex;
                align-items: center;
                margin-right: 10px;
  
                span {
                  display: block;
                  width: 20px;
                  height: 20px;
                  background-size: 100%;
                }
  
                &.action {
                  &--like {
                    span {
                      background-image: url("#{$PATH}/svg/like.svg");
                    }
  
                    &:hover, &:focus {
                      span {
                        background-image: url("#{$PATH}/svg/like_green.svg");
                      }
                    }
                  }
    
                  &--dislake {
                    span {
                      background-image: url("#{$PATH}/svg/dislike.svg");
                    }
  
                    &:hover, &:focus {
                      span {
                        background-image: url("#{$PATH}/svg/like_red.svg");
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
        &-content {
          padding: 0;
  
          &-tags {
            display: flex;
            flex-wrap: wrap;
              
            .item {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #333333;
              margin-right: 10px;
              border: none;
              padding: 0;
              
              span {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                font-size: 12px;
                line-height: 18px;
                color: #333333;
                justify-content: center;
                margin-left: 4px;
                padding-top: 2px;
                padding-left: 1px;
                height: 20px;
                width: 20px;
  
                svg {
                  position: absolute;
                  fill: #ffdb00;
                  z-index: -1;
                  top: -2px;
                }
              }
            }
            
          }
  
          &-text {
            line-height: 22px;
            color: #333333;
            margin-bottom: 20px;
            font-size: 15px;
            padding-left: 74px;
            font-weight: 300;
          }

          &-answer {
            line-height: 22px;
            font-size: 15px;
            font-weight: 300;
            color: #0079bf;
            margin-bottom: 0;
            padding-left: 0;
            border-top: 1px solid #e9eff7;
            padding-top: 20px;
          }
  
          &-link {
            margin-left: 6px;
            border-bottom: 1px dotted $primary;
            color: $primary;
          }
        }
      }
    }
  }

  &-offer {
    p {
      font-size: 15px;
      line-height: 22px;
      font-weight: 300;
      margin-bottom: 15px;
      padding-left: 65px;
      padding-right: 50px;

      b {
        font-weight: 400;
      }
    }

    h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
      padding-left: 15px;
      height: 50px;
      display: flex;
      align-items: center;
    }

    ul {
      list-style: circle;
      padding-left: 75px;
      
      li {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 15px;
        padding-left: 0;
      }
    }
    

    ol {
      counter-reset: li;
      margin-bottom: 30px;
      
      > li {
        &:before {
          counter-increment: li;
          content: counters(li, ".");
          float: left;
          color: #3fb1ff;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          width: 45px;
          text-align: right;
        }

      }

      &.first-level {
        > li:before {
          width: 50px;
          height: 50px;
          border: 1px solid #ddd;
          border: 1px solid #e9eff7;
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 21px;
        }
      }
    }

    a {
      color: $primary;
      text-decoration: underline;

      &:hover, &:focus {
        color: $primary-second;
      }
    }
  }

  &-certification {
    img {
      border: 1px solid #ddd;
    }

  }

  &-vacantion {
    
    .vacantion-item {
      margin-bottom: 15px;

      &-header {
        font-size: 18px;
        display: flex;
        align-items: center;

        span {
          width: 50px;
          height: 50px;
          border: 1px solid #e9eff7;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 21px;
          color: #3fb1ff;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          margin-right: 15px;
        }
      }
    
      &-body {
        padding-top: 20px;
        padding-left: 65px;
      }

      &-option {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        span {
          width: 20%;
          opacity: 0.5;
        }
        ul {
          width: 80%;
          
          li {
            font-size: 15px;
            line-height: 24px;
            position: relative;
            margin-bottom: 5px;
            padding-left: 20px;
            padding-right: 30px;

            &:before {
              content: ' ';
              padding-right: 10px;
              border-top: 1px solid #00b3ff;
              position: absolute;
              width: 10px;
              left: 0;
              height: 1px;
              top: 12px;
            }
          }
        }
      }
    }
    
    [type='checkbox'] + label {
      display: block;
    }
  }

  &-contacts {
    position: relative;
    margin-bottom: 30px;
  }
}

.promo {

  &-item {
    border: 1px solid #f4f9fe;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    &-banner {
      .banner {
        height: 200px;

        img {
          width: 300px;
          height: auto;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0 50px;

      &-inner {
        display: flex;
      }
    }
  }
  
  &-title {
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    
    span {
      font-weight: 500;
      padding-left: 6px;
    }
  }

  &-disabled {
    opacity: 0.6;
    font-size: 15px;
    font-weight: 300;
  }

  &-timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 10px;

    &-numbers {
      display: flex;

      span {
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        display: flex;
        align-items: baseline;
        padding: 0 10px;
        margin: 0 20px 0 0;
        background-color: #ff423c;
        height: 45px;
        line-height: 45px;
        position: relative;


        &:before {
          content: '';
          position: absolute;
          height: 23px;
          width: 100%;
          left: 0;
          background-color: #ecf2f64d;
        }
        &:after {
          color: #444;
          content: ':';
          position: absolute;
          right: -12px;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }

    &-helpers {
      display: flex;

      span {
        width: 40px;
        padding: 4px 0 0 0;
        margin: 0 20px 0 0;
        font-weight: 300;
        opacity: 0.6;  

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.fitting {

  &-item {
    margin-bottom: 30px;
    
    &-header {
      display: flex;
      align-items: center;

      &-icon {
        min-width: 50px;
        height: 50px;
        border: 1px solid #e9eff7;
        border-radius: 100%;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg, img {
          width: 35px;
          fill: $primary;
        }
      }
      
      &-title {
        font-size: 18px;
        line-height: normal;

        span {
          display: block;
          text-transform: none;
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          margin-top: 5px;

          b {
            font-weight: 500;
            color: #0079bf;
            padding-left: 2px;
          }
        }
      }
    }

    &-content {
      padding-left: 65px;

      p {
        font-weight: 300;
        line-height: 21px;

        a {
          color: $primary;
          border-bottom: 1px dashed $primary;
          padding-right: 3px;
          
          &:hover {
            color: $primary-second;
            border-color: $primary-second;
          }
        }
      }
    }
  }
}

.map {
  width: 100%;
  height: 600px;
}

.nav-shops, .nav-pickup-point {
  left: auto;
  right: 0;
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 1;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  list-style: decimal;
  padding: 20px 40px 20px 40px;
  width: 280px;
  background-color: #ffffffd4;
  height: 600px;
  box-sizing: border-box;
  

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f9fe;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #afcde6;
    border-radius: 20px;
    outline: 1px solid slategrey;
  }

  .nav-item {
    margin-bottom: 15px;

    > div {
      margin-left: 10px;
    }
  }
  .nav-link {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    padding: 0;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 22px;
    width: 100%;
    
    svg {
      position: absolute;
      right: -20px;
      width: 20px;
      height: 20px;
      top: -3px;
      fill: #3f4247;
    }

    &[aria-expanded="false"] {
      svg {
        transform: rotate(-90deg);
      }
    }

    &[aria-expanded="true"] {
      svg {
        transform: rotate(90deg);
      }
    }

  }
  .collapsing {
    display: flex;
    flex-direction: column;
  }
  .collapse {
    flex-direction: column;
    
    &.show {
      display: flex;
    }
  }

  span {
    font-size: 14px;
    margin-bottom: 5px;
    color: $primary;
  }
}