.main {
  margin: 20px 0 50px 0;
  
  @include media-breakpoint-down(xs) {
    margin: 0 -15px;
  }

  .item {
    height: 529px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(xs) {
      height: 30vh;
    }
  }
}

.brands {
  margin-bottom: 50px;

  @include media-breakpoint-down(xs) {
    margin: 20px 0 0;
  }

  .section-title {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &-slider {
    &-item {
      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      width: 100%;
      height: 100px;
      align-items: center;
      flex-direction: column;

      @include media-breakpoint-down(xs) {
        height: 60px;
      }
      
      &-img {
        /* -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .5; */

        &.color {
          filter: none;
          opacity: 1;
        }
      }
      &-count, &-name  {
        position: relative;
        display: none;
        font-size: 12px;
        color: white;
      }
  
      &-name {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
      }
  
      &:hover, &:focus {
        
        .brands-slider-item-img {
          opacity: 1;
          filter: none;
          transition: .4s;
        }
        &:before {
          content: "";
          background: #00b3ff;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
  
        .brands-slider-item-count, 
        .brands-slider-item-name  {
          display: block;
          z-index: 2;
        }
    
        .brands-slider-item-img {
          display: none;
        }
      }
    }
  }
}

.recomended {
  margin-bottom: -20px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }
}

.section-title {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin: 50px 0;
  white-space: nowrap; 

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }

  @include media-breakpoint-down(xs) {
    margin: 30px 0;
  }

  &:before, &:after {
    content: '';
    border-top: 1px solid $border-color;
    width: 100%;
  }
  &:before {
    margin-right: 10px;
  }
  &:after {
    margin-left: 10px;
  }

  span {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: nowrap; 

    @include media-breakpoint-down(xs) {
      white-space: normal;
      min-width: 70%;
    }
  }
}

.trends {
  margin-bottom: 70px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  
  &-left {
    width: calc(100% - 530px);

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &-right {
    width: 500px;
    
    @include media-breakpoint-down(md) {
      display: none;
    }
   
  }

  .trend {
    &-img {
      height: 550px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include media-breakpoint-down(xs) {
        height: 40vh;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      height: 550px;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }

      &-description {
        @include media-breakpoint-down(md) {
          margin: 50px 0 20px 0;
        }
        &-title {
          font-size: 27px;
          font-weight: 300;
          line-height: normal;
          margin-bottom: 5px;
        }
  
        &-text {
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          overflow: hidden;
        }
      }
  
      &-examples {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .btn {
    margin: 30px auto 0 auto;
    padding: 0px 60px;
  }

}

.useful-shoes {
  margin-bottom: 70px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  &-container {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
    }
  }

  &-social {
    min-width: 35px;
    max-width: 35px;
    margin-right: 20px;

    &-item {
      transition: .4s;
      display: flex;
      width: 35px;
      height: 35px;
      margin: 0 0 5px 0;
      background: transparent;
      color: #96a4b0;
      border: 1px solid #96a4b0;
      border-radius: 50%;
      font-size: 17px;
      
      i {
        margin: auto;
      }
      
      &:hover {
        color: white;
      }
      
      &:hover {
        color: white;
      }

      i {
        margin: auto;
      }

      &--vk {
        &:hover {
          background: #4f76a1;
          border-color: #4f76a1;
        }
      }
      &--ok {
        &:hover {
          background: #f58220;
          border-color: #f58220;
        }
      }
      &--instagram {
        &:hover {
          background: #ce4e8b;
          border-color: #ce4e8b;
        }
      }
      &--fb {
        &:hover {
          background: #3c559b;
          border-color: #3c559b;
        }
      }
    }
  }

  &-post {
    color: #333333;
    margin-left: 0;
    margin-right: 25px;
    

    @include media-breakpoint-down(xs) {
      width: calc(100% - 55px);
      margin: 0;
    }

    &:hover {
      .useful-shoes-post-title {
        color: $primary-second;
      }
    }
    
    &-banner {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
    
    &-title {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 7px;
    }
    
    &-text {
      padding-right: 20px;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  
  &-list {
    min-width: 330px;
    max-width: 330px;

    @include media-breakpoint-down(xs) {
      min-width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &-item {
      margin-bottom: 25px;
      
      a {
        display: flex;
        
        color: #333333;

        &:hover {
          .useful-shoes-list-title {
            color: $primary-second;
          }
        }
      }

      @include media-breakpoint-down(md){
        &:last-child() {
          display: none;
        }
      }
    }

    &-img {
      width: 62px;
      height: 62px;
      margin-right: 10px;

      @include media-breakpoint-down(xs) {
        width: 42px;
        height: 42px;
        margin-right: 3px;
      }
    }
    
    &-block-text {
      padding: 0 10px;
    }
    
    &-title {
      font-size: 18px;
      line-height: 1.2;
      color: #333333;
      margin-bottom: 6px;
    }
    
    &-text {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
    }
    
    .btn {
      padding: 0px 60px;
      
      @include media-breakpoint-down(xs) {
        margin: auto;
      }
    }
  }
  
  .news-company {
    text-align: center;
    min-width: 250px;
    max-width: 250px;
    margin-left: 25px;
    
    @include media-breakpoint-down(md){
      display: none;
    }

    &-title {
      font-size: 15px;
      line-height: 3.5;
      color: #a4aeb5;
      border: 1px solid #eaeff7;
      padding: 0;
      text-transform: uppercase;
      font-weight: 300;
    }
    
    &-content {
      border: 1px solid $border-color;
      border-top: 1px solid transparent;
      padding: 20px 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-img {
      margin-bottom: 25px;
      width: 127px;
      height: 127px;
    }
    
    &-text {
      font-size: 15px;
      line-height: 1.4;
      color: #333333;
      margin-bottom: 33px;
    }
    
    &-link {
      font-size: 13px;
      color: #333333;
      font-family: $font-ubuntu;
      
      &:hover {
        color: #00b3ff;
        .news-company-text {
          color: #00b3ff;
        }
      }
    }
  }
}

.advantages {
  margin-bottom: 70px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-color;
    width: 33.33333%;
    min-height: 150px;

    &:nth-child(1) {
      border-right: 0;
      border-bottom: 0;
    }
    &:nth-child(2) {
      border-bottom: 0;
    }
    &:nth-child(3) {
      border-bottom: 0;
      border-left: 0;
    }
    &:nth-child(4) {
      border-right: 0;
    }
    &:nth-child(5) {
      
    }
    &:nth-child(6) {
      border-left: 0;
    }

    @include media-breakpoint-down(md) {
      width: 50%;

      &:nth-child(3) {
        border-right: 0;  
        border-bottom: 0;
        border-left: 1px solid #dadbdb;
      }
      &:nth-child(4) {
        border-bottom: 0;
        border-right: 1px solid #dadbdb;
      }
      &:nth-child(5) {
        border-right: 0;
      }
      &:nth-child(6) {
        border-left: 1px solid #dadbdb;
      }
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      border: 1px solid #ddd !important;
      margin-top: -1px;
    }
  }

  &-block-text {
    width: calc(80% - 56px);
  }

  &-title {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    &--item {
      font-size: 19px;
      line-height: 21px;
      margin-bottom: 8px;
    }
  }

  &-icon {
    display: flex;
    border-radius: 50%;
    color: white;
    margin-right: 15px;
    
    img {
      width: 56px;
      height: 56px;
      margin: auto;
    }
  }
  &-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    max-width: 200px;
  }
}

.reviews {
  margin-bottom: 70px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  &-slider {
    &-item {
      border: 1px solid $border-color;
      padding: 30px;
      font-size: 12px;
      font-weight: 400;
      
      @include media-breakpoint-down(xs){
        padding: 20px;
      }

      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-weight: 400;
          text-transform: uppercase;
          color: white;
          height: 58px;
          width: 58px;
          border-radius: 50%;
          margin-right: 15px;
        }

        &-block {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &:nth-child(3) {
            margin-left: auto;
          }

          .name {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 6px;
          }
          .city {
            color: #777;
            font-weight: 300;
          }
          .date {
            font-size: 10px;
            margin-bottom: 6px;
          }

          .actions {
            display: flex;
            align-items: center;
            font-size: 12px;
            justify-content: space-between;
            line-height: 12px;
            padding: 0 6px;
  
            a {
              display: flex;
              align-items: center;

              span {
                display: block;
                width: 20px;
                height: 20px;
                background-size: 100%;
              }

              &.action {
                &--like {
                  span {
                    background-image: url("#{$PATH}/svg/like.svg");
                  }

                  &:hover, &:focus {
                    span {
                      background-image: url("#{$PATH}/svg/like_green.svg");
                    }
                  }
                }
  
                &--dislake {
                  span {
                    background-image: url("#{$PATH}/svg/dislike.svg");
                  }

                  &:hover, &:focus {
                    span {
                      background-image: url("#{$PATH}/svg/like_red.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-content {
        padding: 0;

        &-tags {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 15px;
          
          .item {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #333333;
            margin-right: 15px;
            border: none;
            padding: 0;
            
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              font-size: 10px;
              line-height: 15px;
              color: #fff;
              justify-content: center;
              margin-left: 4px;
              padding-top: 0px;
              padding-left: 0;
              height: 24px;
              width: 24px;

              svg {
                position: absolute;
                fill: $primary-second;
                z-index: -1;
                top: -2px;
                left: 0;
              }
            }
          }
          
        }

        &-text {
          line-height: 22px;
          color: #333333;
          margin-bottom: 10px;
          font-size: 15px;
          margin-top: 30px;
        }

        &-link {
          border-bottom: 1px dashed $primary;
          color: $primary;
          font-family: $font-ubuntu;
          padding-bottom: 3px;
        }
      }
    }
  }
  .btn {
    margin: 30px auto 0 auto;
    padding: 0px 60px;
  }
}

.info {
  margin-bottom: 70px;
  
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }

  &-title {
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
  
  &-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding: 0px 30px;
    display: block;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .col {
    &:first-child {
      .info-text {
        padding-left: 0;
      }
    }
    &:last-child {
      .info-text {
        padding-right: 0;
      }
    }
  }
}

.mobile-category {
  display: none;
  margin: 0 -15px 20px -15px;

  @include media-breakpoint-down(xs) {
    display: block;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    .nav-item {
      flex-basis: 50%;

      &:last-child {
        flex-basis: 100%;
      }

      .nav-link {
        text-align: center;
        height: 55px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ecf1f7;
        font-size: 15px;
        text-transform: uppercase;
        //font-weight: 300;
      }

      &:nth-child(1), &:nth-child(3), &:nth-child(5) {
        .nav-link {
          border-right: 1px solid #ecf1f7;
        }
      }
    }
  }
}