
.brands-slider {
  &-item {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100px;
    align-items: center;
    flex-direction: column;

    &-count, &-name  {
      position: relative;
      display: none;
      font-size: 12px;
      color: white;
    }

    &-name {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1px;
    }

    &:hover, &:focus {

      &:before {
        content: "";
        background: #00b3ff;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      .brands-slider-item-count, 
      .brands-slider-item-name  {
        display: block;
        z-index: 2;
      }
  
      .brands-slider-item-img {
        display: none;
      }
    }
  }
}

.section-title {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  white-space: nowrap; 

  @include media-breakpoint-down(md) {
    font-size: 13px;
    margin-bottom: 10px;
  }

  &:before, &:after {
    content: '';
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  &:before {
    margin-right: 10px;
  }
  &:after {
    margin-left: 10px;
  }

  span {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: nowrap; 
  }
}

.section-content {
  display: flex;
  justify-content: space-between;

  &-vertical {
    width: 362px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .banner {
      width: 100%;
      height: 100%;
    }
  }
  &-horizontal {
    width: calc(100% - 382px);
    
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .banner {
      width: 100%;
      height: 205px;
    }
  }

  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;

    &-button {
      display: none;
      background: white;
      margin: auto;
      font-size: 14px;
      width: 175px;
      font-family: "Ubuntu", sans-serif;
      text-transform: lowercase;
      height: 44px;
      line-height: 44px;
      text-align: center;
      z-index: 11;
    }

    &:hover, &:focus {
      
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: #404040;
        opacity: 0.5;
      }

      .banner-button {
        display: block;
      }
    }
  }
}

.button {
  display: flex;
  font-size: 14px;
  width: 180px;
  height: 45px;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  color: #333333;
  text-transform: lowercase;
  border: 1px solid #333333;
  margin: 0 auto;
  
  &:hover {
    background: #00b3ff;
    color: white;
    border: 1px solid #00b3ff;
  }
}




.trends {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  &-left {
    width: calc(100% - 650px);

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  &-right {
    width: 620px;
    
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .owl-dots {
    bottom: -40px !important;
  }

  .trend {

    &-item {
      display: flex;
      justify-content: space-between;
  
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
  
      &-img {
        height: 450px;
        background-size: cover;
        background-position: center;
  
        @include media-breakpoint-down(lg) {
          height: 205px;
        }
      }
  
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 450px;
  
        @include media-breakpoint-down(lg) {
          min-height: auto;
        }
  
  
        &-description {
          @include media-breakpoint-down(lg) {
            margin: 50px 0 20px 0;
          }
          &-title {
            font-size: 15px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            color: #333333;
            line-height: 18px;
            margin-bottom: 5px;
          }
    
          &-text {
            font-size: 13px;
            font-family: "Ubuntu", sans-serif;
            color: #666666;
            line-height: 18px;
            height: 54px;
            overflow: hidden;
          }
        }
    
        &-examples {
          display: flex;
          justify-content: space-between;
  
          .product {
            width: calc(33.33% - 10px);
          }
        }
        
        
      }
    }
  }
}

.useful-shoes {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  
  .row {
    margin: 0;
  }
  
  .col-3 {
    
    &:nth-child(3) {
      padding-right: 0;
    }
  }

  &-social {
    margin-right: 20px;
    
    &__item {
      display: flex;
      width: 35px;
      height: 35px;
      font-size: 18px;
      color: #b0b0b0;
      border: 1px solid #b0b0b0;
      border-radius: 50%;
      margin-bottom: 10px;
      
      .fa {
        margin: auto;
        &-odnoklassniki {
          width: 11px;
        }
        &-instagram {
          width: 15px;
          margin-bottom: 7px;
        }
        &-facebook {
          width: 10px;
          margin-bottom: 7px;
        }
      }
      
      &:hover {
        color: white;
      }
      
      &--vk {
        
        &:hover {
          background: #4f76a1;
          border: 1px solid #4f76a1;
        }
      }
      
      &--ok {
        
        &:hover {
          background: #f58220;
          border: 1px solid #f58220;
        }
      }

      &--instagram {
        
        &:hover {
          background: #ce4e8b;
          border: 1px solid #ce4e8b;
        }
      }

      &--fb {
        
        &:hover {
          background: #3c559b;
          border: 1px solid #3c559b;
        }
      }
    }
  }

  &-post {
    margin-right: 23px;
    color: #333333;
    
    &:hover {
      color: #00b3ff;
    }
    
    &__banner {
      width: 522px;
      height: 346px;
      margin-bottom: 15px;
    }
    
    &__title {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #333333;
    }
    
    &__text {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 13px;
      line-height: 18px;
      font-weight: 300;
      color: #666666;
    }
  }
  
  &-list {
    margin-right: 23px;
    
    &__item {
      display: flex;
      margin-bottom: 33px;
      color: #333333;
      
      &:hover {
        color: #00b3ff;
        .useful-shoes-list__title {
          color: #00b3ff;
        }
      }
    }

    &__img {
      width: 62px;
      height: 62px;
    }
    
    &__block-text {
      padding: 5px 10px;
    }
    
    &__title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 5px;
    }
    
    &__text {
      font-size: 12px;
      font-family: "Roboto Condensed", sans-serif;
      color: #666666;
      font-weight: 300;
    }
    
    &__button {
      display: flex;
      margin-top: 8px;
      width: 175px;
      height: 45px;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #333333;
      text-transform: lowercase;
      border: 1px solid #333333;
      
      &:hover {
        background: #00b3ff;
        border: 1px solid #00b3ff;
        color: white;
      }
    }
  }
  
  .news-company {
    text-align: center;
    height: 261px;
    width: 347px;
    
    &__title {
      font-size: 18px;
      letter-spacing: 1px;
      font-family: "Roboto Condensed", sans-serif;
      border: 1px solid #dadbdb;
      padding: 15px 0;
    }
    
    &__content {
      border: 1px solid #dadbdb;
      border-top: 1px solid transparent;
      padding: 20px 20px 40px;
    }
    
    &__img {
      margin-bottom: 25px;
      height: 127px;
    }
    
    &__text {
      font-size: 14px;
      line-height: 18px;
      color: #333333;
      margin-bottom: 33px;
    }
    
    &__link {
      font-size: 14px;
      color: #333333;
      &:hover {
        color: #00b3ff;
        .news-company__text {
          color: #00b3ff;
        }
      }
    }
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  font-family: "Ubuntu", sans-serif;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dadbdb;
    width: 33.33333%;
    min-height: 150px;

    &:nth-child(1) {
      border-right: 0;
      border-bottom: 0;
    }
    &:nth-child(2) {
      border-bottom: 0;
    }
    &:nth-child(3) {
      border-bottom: 0;
      border-left: 0;
    }
    &:nth-child(4) {
      border-right: 0;
    }
    &:nth-child(5) {
      
    }
    &:nth-child(6) {
      border-left: 0;
    }

    @include media-breakpoint-down(md) {
      width: 50%;

      &:nth-child(3) {
        border-right: 0;  
        border-bottom: 0;
        border-left: 1px solid #dadbdb;
      }
      &:nth-child(4) {
        border-bottom: 0;
        border-right: 1px solid #dadbdb;
      }
      &:nth-child(5) {
        border-right: 0;
      }
      &:nth-child(6) {
        border-left: 1px solid #dadbdb;
      }
    }

    
  }

  &-block-text {
    width: calc(80% - 56px);
  }
  &-title {
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    &--item {
      color: #333333;
      font-weight: 500;
      font-size: 15px;
      line-height: 17px;
      margin-bottom: 5px;
    }
  }
  &-icon {
    display: flex;
    border-radius: 50%;
    color: white;
    margin-right: 15px;
    
    img {
      width: 56px;
      height: 56px;
      margin: auto;
    }
  }
  &-text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }
}

.reviews {
  &-slider {
    &-item {
      border: 1px solid #dadbdb;
      padding: 30px 29px 35px;
      font-size: 12px;
      font-weight: 400;
      color: #666666;
      font-family: "Ubuntu", sans-serif;
  
      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-weight: 400;
          text-transform: uppercase;
          color: white;
          height: 58px;
          width: 58px;
          border-radius: 50%;
          margin-right: 15px;
        }

        &-block {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &:nth-child(3) {
            margin-left: auto;
          }

          .name {
            font-weight: 500;
            font-size: 20px;
            color: #333333;
            margin-bottom: 6px;
          }
          .city {
            color: #666666;
          }
          .date {
            font-size: 10px;
            margin-bottom: 6px;
          }

          .actions {
            display: flex;
            align-items: center;
            font-size: 10px;
            color: #666666;
            line-height: 12px;
  
            a {
              display: flex;
              align-items: center;
              margin-right: 10px;

              span {
                display: block;
                width: 20px;
                height: 20px;
                background-size: 100%;
              }

              &.action {
                &--like {
                  span {
                    background-image: url("../img/svg/like.svg");
                  }

                  &:hover, &:focus {
                    span {
                      background-image: url("../img/svg/like_green.svg");
                    }
                  }
                }
  
                &--dislake {
                  span {
                    background-image: url("../img/svg/dislike.svg");
                  }

                  &:hover, &:focus {
                    span {
                      background-image: url("../img/svg/like_red.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-content {
        padding: 0;

        &-tags {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 15px;
          
          .item {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #333333;
            margin-right: 10px;
            border: none;
            padding: 0;
            
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              line-height: 18px;
              color: #333333;
              justify-content: center;
              margin-left: 4px;
              padding-top: 2px;
              padding-left: 1px;
              background: url(../img/star-bg.png);
              background-size: cover;
              height: 20px;
              width: 20px;
            }
          }
          
        }

        &-text {
          margin-bottom: 10px;
          line-height: 16px;
          color: #333333;
        }

        &-link {
          margin-bottom: 10px;
          text-transform: lowercase;
          color: $primary;
        }
      }
    }
  }

}

.info {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 50px;

  &-title {
    font-size: 17px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
  
  &-text {
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    padding: 0 30px;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .col {
    &:first-child {
      .info-text {
        padding-left: 0;
      }
    }
    &:last-child {
      .info-text {
        padding-right: 0;
      }
    }
  }
}
