.personal {
  padding-bottom: 50px;

  .nav-tabs {
    border: none;
    background-color: #f5f9fe;
    padding: 30px;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      justify-content: center;
      padding: 0;
      background: none;
      margin-bottom: 20px;
      margin-top: -30px;
    }

    .nav-item {
      &:last-child {
        .nav-link {
          margin-bottom: 0;
        }
      }
    }
    
    .nav-link {
      align-items: center;
      display: flex;
      display: inline-block;
      padding: 0 0 2px 0;
      line-height: 20px;
      color: #777;
      border: none;
      border-bottom: 1px solid #e9eff7;
      font-size: 16px;
      margin: 0 10px  15px 10px;
      font-weight: 300;

      &:hover, &:focus {
        color: $primary-second;
        border-color: $primary-second;
      }

      &.active {
        color: #000;
        border-color: #000;
        background: none;
      }
    }
  }
  
  &-profile {
    &-section {
      margin-bottom: 40px;
      h4 {
        font-size: 18px;
        line-height: normal;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #f5f9fe;
        padding-bottom: 10px;
      }
    }
  }
  
  
  &-discount-card {
    border: 1px solid #e3eff7;
    border-radius: 0;
    margin-bottom: 30px;

    &-header {
      font-size: 17px;
      align-items: center;
      justify-content: center;
      height: 43px;
      margin-bottom: 0;
      text-align: center;
      background-color: #e3eff7;
      color: #000;
      display: flex;
      text-transform: uppercase;
    }

    &-text {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .item {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        
        span {

          &:nth-child(1) {
            line-height: 28px;
            white-space: nowrap;
            color: #96a4b0;
            font-weight: 300;
            padding-right: 4px;
          }
          &:nth-child(2) {
            border-bottom: 1px dotted #33333342;
            width: 100%;
          }
          &:nth-child(3) {
            color: #000;
            font-size: 17px;
            white-space: nowrap;
            padding-left: 2px;
          } 
        }
      }
    }
  }

  &-form {
    [type="checkbox"]:not(checked) + label:before {
      border-color: #d9e0ea;
    }
    [type="checkbox"]:checked + label:before {
      border-color: $primary;
    }
  }

  &-subscribe {
    padding: 20px 30px;

    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  &-adress {
    margin-bottom: 10px;
  }
}

.refund {
  &-features {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    p {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 16px;
    }

    &-img {
      min-width: 40px;
      max-width: 40px;
      margin-right: 10px;
  
      img {
        width: 100%;
      }
    }
  }

  &-total {
    border: 1px solid #d2dde8;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;

    .item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-size: 13px;
        text-transform: uppercase;
        line-height: normal;
        color: #333333;
        margin-bottom: 2px;
        font-weight: 300;

        span {
          font-weight: 400;
          margin-left: 3px;
        }
      }


      &-reason {
        font-size: 13px;
        line-height: normal;
        font-weight: 300;
        color: #027abf;

        
      }
    }
  }

  &-confirm {
    padding: 20px 10px;
    border-top: 1px solid #cbd6e0;
    border-bottom: 1px solid #cbd6e0;
    margin: 10px 0 0 0;

    label {
      height: auto;
      font-size: 12px;
    }
  }
}

.order {
  margin-bottom: 30px;
  transition: .5s;
  border: 1px solid #e8eff7;

  &-header {
    display: flex;
    align-items: center;
    padding: 30px;

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 40px;
      height: 32px;
      width: 32px;
      background-color: #e2eff7;
      border-radius: 32px;
      transition: .5s;
      cursor: pointer;

      svg {
        width: 32px;
        height: 32px;
        fill: #88939a;
        transform: rotate(270deg);

        [aria-expanded="true"] & {
          transform: rotate(-270deg);
        }
      }

      &:hover, &:focus {
        background-color: $primary-second;
 
        svg {
          fill: #fff;
        }
      }
    }
    
    &-title {
      display: flex;
      flex-direction: row;
      font-size: 19px;
      font-weight: 400;
      line-height: normal;

      span {
        opacity: 0.5;
        padding: 0 8px;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    &-img {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 20px 20px 0 0;

      img {
        max-width: 60px;
        margin-right: 10px;
        border: 1px solid #e9eff7;
        padding: 5px;
      }
    }

    &-status {
      margin-left: auto;
      height: 124px;
      min-width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-right: 10px;
        margin-left: -15px;
      }

      span {
        display: flex;
        font-size: 13px;
        align-items: center;
        font-weight: 600;
        text-transform: uppercase;
        justify-content: center;
    
        &.order-status {
          &--in-process {
            color: #00b3ff !important;
      
            svg {
              fill: #00b3ff;
            }
          }
          &--done {
            color: #31c319 !important;
      
            svg {
              fill: #31c319;
            }
          }
          &--canceled {
            color: #e53366 !important;
      
            svg {
              fill: #e53366;
            }
          }
        }
      }
    }

    &-icon {
      height: 32px;
      width: 32px;
      background-color: #e2eff7;
      border-radius: 32px;
      transition: .5s;
      cursor: pointer;
    }
  }

  

  &-body {
    padding: 20px 30px 30px 30px;

    .alert {
      margin-left: 72px;
    }
  }

  &-details {
    margin-top: 0px;
    margin-left: 72px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
      color: #00b3ff;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .order-delivery {

      &-item {
        margin-bottom: 10px;
        display: flex;
  
        > span {
          min-width: 150px;
          max-width: 150px;
          line-height: 18px;
          font-size: 14px;
          color: #96a4b0;
          font-weight: 300;
        }
        > div {
          display: flex;
          flex-direction: column;
          font-size: 15px;
          line-height: 24px;
        }
      }
      
    }

    &-item {
      margin-bottom: 10px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;

      span:nth-child(1) {
        font-size: 14px;
        line-height: 28px;
        color: #96a4b0;
        font-weight: 300;
        white-space: nowrap;
        padding-right: 4px;
      }
      span:nth-child(2) {
        width: 100%;
        border-bottom: 1px dotted #96a4b054;
      }
      span:nth-child(3) {
        font-size: 20px;
        color: #202529;
        font-weight: 300;
        white-space: nowrap;
        padding-left: 3px;
      }

      &-text {
        margin-bottom: 10px;
        line-height: 18px;
        font-size: 13px;
        margin-top: -10px;
      }

      &:last-child {
        margin-top: 45px;
        margin-bottom: 0;

        span:nth-child(1) {
          color: $primary;
        }
        span:nth-child(2) {
          border-color: $primary;
        }
        span:nth-child(3) {
          color: $primary;
          font-weight: 400;
        }
      }
    }
  }

  &-slider {
    margin-top: 30px;
  }

  &-items {
    border-top: 1px solid #e9eff7;
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 72px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e8eff7;
    padding: 10px 0 20px 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &.not-redeemed {
      .order-item-img, .order-item-text {
        opacity: .5;
      }
    }

    a {
      color: #0079c0;
      border-bottom: 1px dashed;
      margin-bottom: 20px;
      display: inline-block;
      padding-bottom: 4px;
      font: normal 13px/12px "Ubuntu", sans-serif;
    }

    .not-redeemed {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 300;
      color: #e5322d;
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      span {
        text-transform: none;
        color: #444;
        line-height: normal;
      }
    }

    .redeemed {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 300;
      color: #41dc4e;
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      span {
        text-transform: none;
        color: #444;
        line-height: normal;
      }
    }

    &-img {
      max-width: 120px;
      margin-right: 20px;

      img {
        width: 100%;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      width: 200px;
    }

    &-title {
      font-size: 18px;
      text-transform: uppercase;
      line-height: normal;
      color: #333333;
      margin-bottom: 10px;
      font-weight: 300;
  
      span {
        font-weight: 500;
      }

    }
    
    &-option {
      font: 400 12px/18px "Ubuntu", sans-serif;
      color: #999;
      line-height: 18px;
      margin-bottom: 4px;

      span {
        padding-left: 5px;
        color: #000;
      }
    }

    &-price {
      font-size: 20px;
      line-height: 22px;
      margin-top: 30px;
      position: relative;
    }

    &-action {
      margin-left: auto;
      margin-top: 30px;
      min-width: 200px;

      a {
        color: #0079c0;
        border-bottom: 1px dashed;
        margin-bottom: 20px;
        display: inline-block;
        padding-bottom: 2px;
        font: normal 13px/12px "Ubuntu", sans-serif;
      }
    }
  }

  &-refund {

    &-reason {
      display: none;
      margin-top: 10px;

      &-other {
        margin-top: 10px;
      }
    }

    &-wrap {
      border-top: 1px solid #e9eff7;
      padding-top: 30px;
      margin: 30px 0 0 72px;

      .btn {
        margin-left: auto;
      }
    }
  }
}
