include shared/header

section.breadcrumb
  .container-fluid
    ul.breadcrumb-list
      li.breadcrumb-item.breadcrumb-item--home
        a.breadcrumb-link(href='javascript:;')
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <path fill="" d="M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z"/>
          </svg>
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') 404
main.error-404
  .error-404-img
    img(src="./img/404.jpg", alt="")
  h2.error-404-title К сожалению, такой страницы не существует.
    span Возможно, вы найдете нужный товар здесь:
  .error-404-catalog
    .error-404-catalog-item
      a.error-404-catalog-link(href='https://kc-shoes.ru/catalog/woman/')
        img(src='https://kc-shoes.ru/front/view/theme/kcnew/image/error-img-1.jpg')
        span Женская обувь
    .error-404-catalog-item
      a.error-404-catalog-link(href='https://kc-shoes.ru/catalog/man/')
        img(src='https://kc-shoes.ru/front/view/theme/kcnew/image/error-img-2.jpg')
        span Мужская обувь
    .error-404-catalog-item
      a.error-404-catalog-link(href='https://kc-shoes.ru/catalog/bags/')
        img(src='https://kc-shoes.ru/front/view/theme/kcnew/image/error-img-3.jpg')
        span Сумки

include shared/footer
include shared/modal/pickup-point
include shared/modal/city