include shared/header

section.breadcrumb
  .container-fluid
    ul.breadcrumb-list
      li.breadcrumb-item.breadcrumb-item--home
        a.breadcrumb-link(href='javascript:;')
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <path fill="" d="M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z"/>
          </svg>
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') О компании
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Оферта

main.about
  .container-fluid
    section.page-header
      h1 
        span Оферта
    .row
      .col-sm-3
        .chc-navbar
          include shared/chc-navbar-about
          include shared/chc-navbar-help
          include shared/chc-navbar-delivery
      .col-sm-9
        .about-offer
          ol.first-level
            li 
              h3 Основные понятия
              ol
                li
                  p
                    b Интернет-магазин
                    |  - интернет-сайт, принадлежащий Продавцу, расположенный в сети по адресу: 
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru/
                    | , где представлены Товары, предлагаемые Продавцом для приобретения, а также условия оплаты и доставки Товаров Покупателям.
                li
                  p
                    b Продавец
                    |  - Индивидуальный предприниматель Куксгаус Лидия Николаевна (ОГРНИП 304552821600140 ИНН 550303663700, место нахождения: 644010, г. Омск, ул. Маршала Жукова, д. 78, кв. 43).
                li
                  p
                    b Покупатель
                    |  - Пользователь, разместивший Заказ в Интернет-магазине 
                    a(href='https://kc-shoes.ru/') kc-shoes.ru
                li
                  p
                    b Пользователь
                    |  - физическое лицо, посетитель Сайта, принимающий условия настоящего Соглашения и желающий разместить Заказы в Интернет-магазине 
                    a(href='https://kc-shoes.ru/') kc-shoes.ru
                li
                  p
                    b Посетитель Сайта
                    |  - лицо, пришедшее на сайт 
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru
                    |  без цели размещения Заказа.
                li
                  p
                    b Сайт
                    |  - 
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru
                li
                  p
                    b Товар
                    |  - обувь, аксессуары и иные товары, представленные к продаже на Сайте Продавца.
                li
                  p
                    b Заказ
                    |  - должным образом оформленный запрос Покупателя на приобретение и доставку по указанному Покупателем адресу, выбранных на Сайте.
            li
              h3 Общие положения
              ol
                li
                  p
                    | Продавец осуществляет продажу Товаров через Интернет-магазин по адресу 
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru
                    | .
                li
                  p
                    | Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи Товаров, изложенными ниже (далее- Условия продажи товаров).В случае несогласия с настоящим Пользовательским соглашением (далее-Соглашение/Публичная оферта) Пользователь обязан немедленно прекратить использование сервиса и покинуть сайт  
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru
                    | .
                li
                  p
                    | Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса Российской Федерации.
                li
                  p
                    | Соглашение может быть изменено Продавцом в одностороннем порядке без уведомления Пользователя/Покупателя. Новая редакция Соглашения вступает в силу по истечении 10 (Десяти) календарных дней с момента ее опубликования на Сайте, если иное не предусмотрено условиями настоящего Соглашения.
                li
                  p
                    | Публичная оферта признается акцептованной Посетителем Сайта/Покупателем с момента регистрации Посетителя на Сайте, оформления Покупателем Заказа без авторизации на Сайте, а также с момента принятия от Покупателя Заказа по телефону 8 (3812) 66-66-05 (для звонков из Омска) и телефон 8(800)700-2768 (для звонков из регионов).
                  p
                    | Договор розничной купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или товарного чека либо иного документа, подтверждающего оплату товара.
                  p
                    | Сообщая Продавцу свой e-mail и номер телефона, Посетитель Сайта/Пользователь/Покупатель дает согласие на использование указанных средств связи Продавцом, а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Посетителями Сайта /Пользователями/Покупателями, в целях осуществления рассылок рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях Продавца , о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты.
            li
              h3 Предмет соглашения
              ol
                li
                  p
                    | Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, Товары, представленные в каталоге Интернет-магазина по адресу 
                    a(href='https://kc-shoes.ru/') https://kc-shoes.ru
                    | .
                li
                  p
                    | Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте Интернет-магазина.
            li
              h3 Регистрация на сайте
              ol
                li
                  p Регистрация на Сайте осуществляется автоматически после оформления Заказа.
                li
                  p
                    | Доступ в Личный кабинет осуществляется по номеру телефона, либо по e-mail указанному при оформлении Заказа.
                li
                  p
                    | Продавец не несет ответственности за точность и правильность информации, предоставленной Пользователем при регистрации.
                li
                  p
                    | Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные Пользователем при регистрации. В случае возникновения у Пользователя подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Пользователь обязуется незамедлительно уведомить об этом Продавца, направив соответствующее электронное письмо по адресу: 
                    a(href='mailto:info@kc-shoes.ru') info@kc-shoes.ru
                    | .
                li
                  p
                    | Общение Пользователя/Покупателя с операторами Call-центра/менеджерами и иными представителями Продавца должно строиться на принципах общепринятой морали и коммуникационного этикета. Строго запрещено использование нецензурных слов, брани, оскорбительных выражений , а также угроз и шантажа, в независимости от того, в каком виде и кому они были адресованы.
            li
              h3 Товар и порядок совершения покупки
              ol
                li
                  p
                    | Продавец обеспечивает наличие на своем складе Товаров, представленных на Сайте. Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара. Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации по Товару, Покупатель может обратиться в Службу поддержки клиентов в рабочее время (ПН-ПТ с 06-00 до 16-00 МСК) по телефону 8 (3812)66-66-05 (для звонков из Омска) и 8(800)700-27-68 (для звонков из регионов).
                li
                  p
                    | В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить указанный Товар из Заказа/аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при оформлении Заказа (либо звонком оператора Call-центра Продавца).
                li
                  p
                    | Заказ Покупателя оформляется в соответствии с процедурами, указанными на Сайте в разделе «Оформление Заказа» по адресу: 
                    a(href='http://www.kc-shoes.ru/get_order') http://kc-shoes.ru/get_order
                    | .
                li
                  p
                    | Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
                li
                  p
                    | После оформления Заказа на Сайте менеджер, обслуживающий данный Заказ, уточняет детали Заказа, согласовывает способы и сроки доставки, которые зависят от наличия заказанных Товаров на складе Продавца и времени, необходимого для обработки и доставки Заказа.
                li
                  p
                    | Ожидаемая дата передачи Заказа в Службу доставки сообщается Покупателю менеджером, обслуживающим Заказ, по электронной почте или при контрольном звонке Покупателю. Дата передачи Товара может быть изменена Продавцом в одностороннем порядке в случае наличия объективных, по мнению Продавца, причин.
            li
              h3 Доставка заказа
              ol
                li
                  p
                    | Способы, а также примерные сроки доставки Товаров указаны на Сайте в разделе «Доставка» по адресу: 
                    a(href='https://kc-shoes.ru/index.php?route=information/delivery') https://kc-shoes.ru/index.php?route=information/delivery
                    | . Конкретные сроки доставки могут быть согласованы Покупателем с оператором Call-центра при подтверждении Заказа.
                li
                  p
                    | Территория доставки Товаров, представленных на Сайте, ограничена пределами Российской Федерации.
                li
                  p
                    | Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
                li
                  p
                    | При доставке, Заказ вручается Покупателю либо третьему лицу, указанному в Заказе в качестве получателя (далее Покупатель и третье лицо именуются «Получатель»). При невозможности получения Заказа, указанными выше лицами, Заказ может быть вручен лицу, который может предоставить сведения о Заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
                li
                  p
                    | Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, указанных в п.5 настоящего Соглашения, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе потребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональных данных Получателя (п.9).
                li
                  p
                    | Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Покупателю стоимость предоплаченного Покупателем Заказа и доставки в полном объеме после получения от Службы доставки подтверждения утраты Заказа.
                li
                  p
                    | Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из веса Товара, региона и способа доставки, а также (в случае необходимости) формы оплаты и указывается на Сайте в процессе оформления Заказа.
                li
                  p
                    | Продавец обязан передать Товар Покупателю путём вручения курьером или получения Товара почтовой связью.
                  p
                    | При получении Заказа в отделении почтовой связи Получатель после оплаты доставленного Товара обязан осмотреть доставленный Товар и произвести его вскрытие в присутствии работников Почты России для проверки Товара на соответствие заявленному количеству, ассортименту , комплектности Товара и целостность упаковки. В случае наличия претензий к доставленному Товару (недовлажение, вложение Товара отличного от указанного в описи отправления, производственный брак, иные претензии) по указанию Получателя работниками Почты России составляется Акт о выявленных несоответствиях. Если Получателем не были заявлены претензии в вышеуказанном порядке, то Продавец считается полностью и надлежащим образом исполнившим свою обязанность по передаче Товара.
                  p
                    | В случае возврата доставленного посредством Почты России Товара в связи с наличием претензий к Товару Получатель обязан приложить к Отправлению, содержащему возвращаемый Товар, следующие 
                    u документы
                    | :
                  ul
                    li заявление на возврат денежных средств в свободной форме;
                    li копию акта о выявленных несоответствиях;
                    li копию квитанции об оплате;
                li
                  p
                    | При принятии Заказа от курьера, Получатель обязан осмотреть доставленный Товар и проверить его на соответствие заявленному количеству, ассортименту и комплектности Товара, а также целостность упаковки. В случае отсутствия претензий к доставленному Товару Получатель расписывается в «Бланке доставки заказов» и оплачивает Заказ (в отсутствие 100%-ной предоплаты). Подпись в доставочных документах свидетельствует о том, что претензий к Товару Получателем не заявлено и Продавец полностью и надлежащим образом выполнил свою обязанность по передаче Товара.
                li
                  p
                    | Время нахождения курьера по адресу Получателя ограничено 
                    b 15 минутами.
                li
                  p
                    | Товар, представленный на Сайте, по качеству и упаковке соответствует ГОСТу и ТУ, что подтверждается соответствующими документами (сертификатами и т.д.).
                li
                  p
                    | Уточнить дату, время и при необходимости маршрут доставки, можно у курьера, который связывается с Покупателем по доставке Заказа.
                li
                  p Пользователь понимает и соглашается с тем что:
                  p
                    | осуществление доставки - отдельная услуга, не являющаяся неотъемлемой частью приобретаемого Покупателем Товара ,выполнение которой заканчивается в момент получения Получателем Товара и осуществления платежа за него. Претензии к качеству приобретаемого Товара, возникшие после получения и оплаты Товара ,рассматриваются в соответствии с Законом РФ «О защите прав потребителей» и гарантийными обязательствами Продавца. В связи с этим приобретение Товара с доставкой не дает Покупателю право требования доставки приобретенного Товара в целях гарантийного обслуживания или замены, не дает возможности осуществлять гарантийное обслуживание или замену Товара посредством выезда к Покупателю и не подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат денег за Товар как таковой, в соответствии с законом РФ «О защите прав потребителей».
            li
              h3 Оплата заказа
              ol
                li
                  p Цена Товара указывается в рублях Российской Федерации .
                li
                  p
                    | Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным.Если Заказ был оплачен, Продавец возвращает Покупателю оплаченную за Заказ сумму посредством денежного перевода Почтой России.
                li
                  p
                    | Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит. Цена Товара может дифференцироваться по регионам.
                li
                  p Особенности оплаты Товара с помощью банковских карт:
                  ol
                    li
                      p В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004г. №266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
                    li
                      p Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк в праве отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.
                    li
                      p Во избежание случаев различного рода неправомерного использования банковских карт при оплате все Заказы, оформленные на Сайте и предоплаченные банковской картой, проверяются Продавцом. В целях проверки личности владельца и его правомочности на использование карты Продавец вправе потребовать от Покупателя, оформившего такой Заказ, предъявления документа, удостоверяющего личность.
                li
                  p
                    | Продавец вправе предоставлять скидки на Товары и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на Сайте и могут быть изменены Продавцом в одностороннем порядке.
                  p
                    | В случае если применение скидки/бонуса пересчитанная стоимость Товара включает в себя копейки, такая стоимость Товара подлежит округлению в сторону уменьшения до значения, кратного 1 (Одному) рублю.
                li
                  p
                    | При проведении маркетинговых мероприятий, предполагающих вложение каких-либо объектов в отправления с заказом Покупателя, доставка указанных вложений осуществляется за счет Покупателя. Для того, чтобы отказаться от вложения, Покупателю необходимо обратиться в Службу по работе с клиентами.
                li
                  p
                    | При доставке Товара Почтой России и Способе оплаты «При получении», Почтой России взымается дополнительный сбор за перевод денежных средств Продавцу, подробнее о тарификации можно ознакомиться на официальном сайте Почта России (
                    a(href='http://www.russianpost.ru/rp/servis/ru/home/finuslug/cybermoney_russia') http://www.russianpost.ru/rp/servis/ru/home/finuslug/cybermoney_russia
                    | ).
                li
                  p Продавец ведет статистику выкупленных Покупателем Заказов.
                li
                  p
                    | Продавец вправе ограничивать доступные Покупателю способы доставки и оплаты в зависимости от статистики отклоненных/невыкупленных Товаров.
            li
              h3 Возврат товара и денежных средств
              ol
                li
                  p
                    | Возврат Товара осуществляется в соответствии с «Условиями возврата», указанными на Сайте по адресу: 
                    a(href='http://kc-shoes.ru/index.php?route=information/return') http://kc-shoes.ru/index.php?route=information/return
                    | .
                li
                  p Возврат Товара надлежащего качества:
                  ol
                    li
                      p Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара -в течении 14 дней, не считая дня покупки. Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара.
                    li
                      p При отказе Покупателя от Товара согласно п.7.2.1. Продавец предлагает обмен или возвращает ему стоимость возвращенного Товара, за исключением расходов Продавца, связанных с доставкой возвращенного Покупателем Товара, в течении 10(десяти) дней с даты поступления возвращенного Товара на склад Продавца вместе с заполненным Покупателем заявлением на возврат или обмен Товара.
                    li
                      p Если на момент обращения Покупателя аналогичный Товар отсутствует в продаже у Продавца, Покупатель вправе отказаться от исполнения настоящего Соглашения и потребовать возврата уплаченной за указанный Товар денежной суммы. Продавец обязан вернуть уплаченную за возвращенный Товар денежную сумму в течении 10(десяти) дней со дня возврата Товара.
                li
                  p Возврат Товара ненадлежащего качества:
                  ol
                    li
                      p Под Товаром ненадлежащего качества подразумевается Товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Полученный Товар должен соответствовать описанию на Сайте. Отличие элементов дизайна или оформления от заявленного на Сайте описания не является признаком ненадлежащего качества.
                    li
                      p Внешний вид и комплектность Товара, а также комплектность всего Заказа должны быть проверены Получателем в момент доставки Товара.
                    li
                      p При доставке Товара Покупатель ставит свою подпись в квитанции о доставке в графе: «Заказ принял, комплектность полная, претензий к количеству и внешнему виду Товара не имею».После получения Заказа претензии к внешним дефектам Товара ,его количеству, комплектности и товарному виду не принимаются.
                    li
                      p Если Покупателю был передан Товар ненадлежащего качества и иное не было заранее оговорено Продавцом, Покупатель вправе воспользоваться положениями ст.18 «Права потребителя при обнаружении в товаре недостатков» Закона о защите прав потребителей.
                    li
                      p Требования о возврате уплаченной за Товар денежной суммы подлежат удовлетворению в течении 10(десяти) дней со дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей).
                li
                  p
                    | Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара почтовым переводом.
            li
              h3 Ответственность
              ol
                li
                  p
                    | Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных в Интернет-магазине.
                li
                  p
                    | Продавец не несет ответственности за содержание и функционирование внешних сайтов.
            li
              h3 Конфиденциальность и защита
              ol
                li
                  p
                    | Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
                li
                  p
                    | При регистрации на Сайте Пользователь предоставляет следующую информацию: Фамилия, Имя, Отчество, контактный номер телефона, адрес электронной почты, дату рождения, пол, адрес доставки Товара.
                li
                  p
                    | Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на их обработку Продавцом, в том числе в целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в рамках настоящей Публичной оферты, продвижения Продавцом товаров и услуг, проведения электронных и sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки Товара Покупателям, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/Покупателей, контроля удовлетворенности Посетителя Сайта/Пользователя/Покупателя, а также качества услуг, оказываемых Продавцом.
                li
                  p
                    | Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
                  p
                    | Подробнее о порядке осуществления прав предусмотренных ФЗ № 152 «О персональных данных» здесь.
                  ol
                    li
                      p Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя/Покупателя с его согласия ,выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение сообщения. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования Продавца о своем отказе по телефону: 8(3812)66-66-05 (для звонков из Омска) и 8(800)700-27-68 (для звонков из регионов), либо посредством направления соответствующего заявления на электронный адрес Продавца: 
                        a(href='mailto:info@kc-shoes.ru') info@kc-shoes.ru
                        | . Сервисные сообщения, информирующие Пользователя/Покупателя о Заказе и этапах его обработки , отправляются автоматически и не могут быть отклонены Пользователем/Покупателем.
                    li
                      p Отзыв согласия на обработку персональных данных осуществляется путем отзыва акцепта настоящей Публичной оферты.
                li
                  p
                    | Продавец вправе использовать технологию «cookies». “Cookies” не содержат конфиденциальную информацию. Посетитель/Пользователь/Покупатель настоящим дает согласие на сбор, анализ использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
                li
                  p
                    | Продавец получает информацию об ip-адресе Посетителя Сайта 
                    a(href='https://kc-shoes.ru/') kc-shoes.ru
                    | . Данная информация не используется для установления личности Посетителя.
                li
                  p
                    | Продавец не несет ответственности за сведения, предоставленные Пользователем/Покупателем на Сайте в общедоступной форме.
                li
                  p
                    | Продавец вправе осуществлять записи телефонных разговоров с Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и /или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 ФЗ «об информации, информационных технологиях и о защите информации».
            li
              h3 Срок действия публичной оферты
              ol
                li
                  p
                    | Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем Сайта/Покупателем, и действует до момента отзыва акцепта Публичной оферты.
            li
              h3 Дополнительные условия оферты
              ol
                li
                  p
                    | Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
                li
                  p
                    | Интернет-магазин и предоставляемые сервисы могут временно, частично или полностью недоступны по причине проведения профилактических мероприятий или иных работ или по любым другим причинам технического характера. Техническая Служба Продавца имеет право периодически проводить необходимые профилактические или иные работы с предварительным уведомлением Покупателей или без такового.
                li
                  p
                    | К отношениям между Пользователем/Покупателем и Продавцом применяются положения Российского Законодательства.
                li
                  p
                    | В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя, он должен обратиться к Продавцу по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.
                li
                  p
                    | Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой недействительность остальных положений.
      
include shared/footer
include shared/modal/allmodals