doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include shared/header
    include shared/nav
    
    section.breadcrumb
      .container-fluid
        ul.breadcrumb-list
          li.breadcrumb-item.breadcrumb-item--home
            a.breadcrumb-link(href='javascript:;')
              <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <path fill="" d="M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z"/>
              </svg>
          li.breadcrumb-item
            a.breadcrumb-link(href='javascript:;') О компании
          li.breadcrumb-item
            a.breadcrumb-link(href='javascript:;') Отзывы
    
    main.about
      .container-fluid
        section.page-header
          h1 Отзывы
        .row
          .col-sm-3
            .chc-navbar
              include shared/chc-navbar-about
              include shared/chc-navbar-help
              include shared/chc-navbar-delivery
          .col-sm-9
            .page-header-sub.row.no-gutters
              .col-9
                p
                  span Всего отзывов: 
                    b 433
                  span Общая оценка: 
                    b 4.5
              .col-3
                a(href="", data-toggle="modal", data-target="#testimonial", class="btn btn-block") Оставить свой отзыв
              
            .about-testimonials
              .testimonial-item
                .testimonial-item-header
                  .testimonial-item-header-icon(style='background: #03dbe8;') И
                  .testimonial-item-header-block
                    span.name Ирина
                    span.city Санкт-Петербург
                  .testimonial-item-header-block
                    .testimonial-item-content-tags
                      span.item
                        | товар 
                        span 5
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                      span.item
                        | сервис 
                        span 5
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                      span.item
                        | доставка 
                        span 1
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  .testimonial-item-header-block.ml-5
                    span.date 18 сентября 2008
                    .actions
                      a.action--like(href='javascript:;')
                        | 0 
                        span
                      a.action--dislake(href='javascript:;')
                        | 0 
                        span
                .testimonial-item-content
                  p.testimonial-item-content-text Добрый день, на сайте заявлен срок доставки в СПб 2-4 дня. Это заведомая неправда. Мой заказ принят в работу 30 ноября. Отправлен Вами 05.12 (СДЭК на своем сайте подтверждает, что Заказ отправлен 06.12 из Омска). СДЭК указывает ориентировочный срок прибытия заказа в СПб 10 декабря...Вы нарушаете заявленные Вами же сроки доставки. Вероника.
                  p.testimonial-item-content-answer Вероника, день добрый. Приносим свои извинения за сбой по сроку доставки, который связан с большим количеством заказов по Распродаже. На самом деле отправка была 06.12 и с 08.12 заказ уже в пункте выдачи. Но если заказ уже не актуален, Вы можете не забирать его и он отправится возвратом к нам на склад. Еще раз приносим свои извинения и будем вам признательны за понимание. С уважением, КС-Немецкая обувь.
              .testimonial-item
                .testimonial-item-header
                  .testimonial-item-header-icon(style='background: #03dbe8;') А
                  .testimonial-item-header-block
                    span.name Алевтина
                    span.city Москва
                  .testimonial-item-header-block
                    .testimonial-item-content-tags
                      span.item
                        | товар 
                        span 5
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                      span.item
                        | сервис 
                        span 5
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                      span.item
                        | доставка 
                        span 5
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                  .testimonial-item-header-block.ml-5
                    span.date 18 сентября 2008
                    .actions
                      a.action--like(href='javascript:;')
                        | 0 
                        span
                      a.action--dislake(href='javascript:;')
                        | 0 
                        span
                .testimonial-item-content
                  p.testimonial-item-content-text Заказываю обувь в данной компании уже 3 раза. Качество обуви на высоте. Доставка до Москвы очень оперативная. Скидки в черную пятницу были отличные. Буду и дальше пользоваться услугами данного магазина. Огромное спасибо!
                  p.testimonial-item-content-answer Алевтина, мы дорожим своими клиентами и признательны вам за позитивный отзыв оставленный на нашем сайте. Носите обувь в удовольствие и прекрасного вам настроение в предстоящем зимнем сезоне. С уважением, команда КС-Немецкая обувь.
          
  include shared/footer
  include shared/modal/allmodals