doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include shared/header
    include shared/nav
    
    section.breadcrumb
      .container-fluid
        ul.breadcrumb-list
          li.breadcrumb-item.breadcrumb-item--home
            a.breadcrumb-link(href='javascript:;')
              <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <path fill="" d="M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z"/>
              </svg>
          li.breadcrumb-item
            a.breadcrumb-link(href='javascript:;') О компании
          li.breadcrumb-item
            a.breadcrumb-link(href='javascript:;') Система скидок
    
    main.about
      .container-fluid
        section.page-header
          h1 Система скидок
        .row
          .col-sm-3
            .chc-navbar
              include shared/chc-navbar-about
              include shared/chc-navbar-help
              include shared/chc-navbar-delivery
          .col-sm-9
            .about-sale
              .about-sale-item
                .about-sale-item-title
                  .about-sale-item-title-icon ?
                  h3 Скидка зависит от общей суммы ваших покупок:
                .about-sale-item-content
                .row
                  .col-5
                    img(src="img/bonus-img.png", alt="", style="margin: 20px 0 0 37px")
                  .col-4
                    table.table.table-bordered(style="margin-top: 40px;")
                      tbody
                        tr
                          td 1 000 р. - 10 000 р.
                          td скидка 2 %
                        tr
                          td 10 000 р. - 30 000 р.
                          td скидка 5 %
                        tr
                          td 30 000 р. и более
                          td скидка 10 %
              .about-sale-item
                .about-sale-item-title
                  .about-sale-item-title-icon ?
                  h3 Как получить карту
                .about-sale-item-content
                  p При совершении первой покупки, к Вашему аккаунту привязывается виртуальная бонусная карта нашей сети, которую Вы можете обменять на реальную при обращении в любой из наших офлайн магазинов.
                  p При последующих заказах обязательно указывайте корректные данные (телефон и e‑mail), чтобы учесть Вашу скидку и произвести накопления на вашу карту.
              .about-sale-item
                .about-sale-item-title
                  .about-sale-item-title-icon ?
                  h3 Как происходит накопление
                .about-sale-item-content
                  p В интернет магазине: накопление производится автоматически только выкупленных товаров, при статусе заказа "Завершен". Накопления могут занять до 30 дней в зависимости от того, какой способ доставки Вы выбрали.                  p В офлайн магазине: накопления производятся автоматически на следующий день после покупки.
          
  include shared/footer
  include shared/modal/allmodals