doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include shared/city-panel
    include shared/header
    include shared/nav
    include shared/breadcrumb
    main.card-index
      .wrapper
        .row
          .col-9
            .card-product
              .card-product-slider
                .item.js-item(data-zoom-image='img/small/image1.jpg')
                  img.zoom-img(src='img/small/image1.jpg')
                .card-product__view.first-type-slider
                  .item(data-zoom-image='img/small/image1.jpg')
                    img.zoom-img(src='img/small/image1.jpg')
                  .item(data-zoom-image='img/small/image2.jpg')
                    img.zoom-img(src='img/small/image2.jpg')
                  .item(data-zoom-image='img/small/image3.jpg')
                    img.zoom-img(src='img/small/image3.jpg')
                  .item(data-zoom-image='img/small/image4.jpg')
                    img.zoom-img(src='img/small/image4.jpg')
                  .item(data-zoom-image='img/small/image5.jpg')
                    img.zoom-img(src='img/small/image5.jpg')
                  .item(data-zoom-image='img/small/image6.jpg')
                    img.zoom-img(src='img/small/image6.jpg')
                  .item(data-zoom-image='img/small/image7.jpg')
                    img.zoom-img(src='img/small/image7.jpg')
              .card-product__side-block
                .card-product__info
                  h4.card-product__title Сандалии PM Shoes
                  p.card-product__articul
                    | Артикул
                    span.card-product__articul.card-product__articul--span PM18-172055-111
                  p.card-product__price
                    | 4990 р
                    span.card-product__price.card-product__price--span 5790 р
                  .card-product__discount--call
                    p.card-product__discount
                      | 30% доп. скидка по промокоду
                    .card-product__discount-content
                      p.card-product__price 4990 р
                      .card-product__discount-close
                      p.card-product__discount__text
                        | Цена с доп. скидкой -30%
                        | по промокоду 
                        span PMSALE30
                      a.card-product__discount-done(href='javascript:;') Применить
                      p.card-product__discount--timer
                        img.svg-icon(src='img/svg/time.svg')
                        |  15ч 4м
                      a.card-product__discount-all(href='javascript:;') Все товары акции
                  p.card-product__credit
                    | Или
                    span.card-product__credit.card-product__credit--span 395
                    | руб. в месяц.
                    a.card-product__credit.card-product__credit--link(href='javascript:;') Подробнее
                  form.card-product__form(action='')
                    p.card-product__text Варианты модели
                    .card-product-option
                      .item.active
                        img(src='img/small/image1.jpg')
                      .item
                        img(src='img/small/image2.jpg')
                      .item
                        img(src='img/small/image3.jpg')
                    .flex-row
                      p.card-product__text.card-product-actions__text--size Размеры
                      a.card-product__link--size(href='javascript:;') Как выбрать размер
                    .card-product-size
                      .item
                        p 36
                      .item
                        p 37
                      .item
                        p 38
                      .item
                        p 39
                      .item
                        p 40
                      .item
                        p 41
                    .card-product__checkbox-block
                      img.svg-icon(src='img/svg/yes.svg')
                      a.card-product__label(href='javascript:;', for='card-product-checkbox') Наличие размеров в магазине
                    .card-product__discount--call
                      p.card-product__discount
                        | 30% доп. скидка по промокоду
                      .card-product__discount-content
                        p.card-product__price 4990 р
                        .card-product__discount-close
                        p.card-product__discount__text
                          | Цена с доп. скидкой -30%
                          | по промокоду 
                          span PMSALE30
                        a.card-product__discount-done(href='javascript:;') Применить
                        p.card-product__discount--timer
                          img.svg-icon(src='img/svg/time.svg')
                          |  15ч 4м
                        a.card-product__discount-all(href='javascript:;') Все товары акции
                    .flex-row
                      button.card-product__submit(type='button') Добавить в корзину
                      a(href='javascript:;')
                        .card-product__like
            .card-product-tabs
              a.card-product-tabs__link.card-product-tabs__link--active(href='javascript:;') Особенности
              a.card-product-tabs__link(href='javascript:;')
                | Отзывов(2)
                i.fa.fa-star(aria-hidden='true')
                i.fa.fa-star(aria-hidden='true')
                i.fa.fa-star(aria-hidden='true')
                i.fa.fa-star(aria-hidden='true')
                i.fa.fa-star(aria-hidden='true')
            #card-product-feature.card-product-feature.active
              ul.card-product-feature__list
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Ультрамодный
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Ультрамодный
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Ультрамодный
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Ультрамодный
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Ультрамодный
                li.card-product-feature__item
                  p.card-product-feature__name-trait Бренд
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name PM Shoes
                li.card-product-feature__item
                  p.card-product-feature__name-trait Cтильfgsdfg
                  hr.card-product-feature__hr-trait
                  p.card-product-feature__name Искуственная кожа
              .card-product-feature__brend-info
                .card-product-feature__brend-info__logo
                  img(src='img/ger-logo.png')
                a.card-product-feature__brend-info__link(href='javascript:;') Все товары бренда
                .card-product-feature__brend-info-made
                  p.card-product-feature__brend-info__text Производитель
                  hr.card-product-feature__brend-info__hr
                  p.card-product-feature__brend-info__text Германия
              .card-product-feature__info
                h4.card-product-feature__info-title Описание
                p.card-product-feature__info-text
                  | Женские сандалии от популярного бренда Германии PM Shoes. Верх и материал подкладки этих сандалий изготовлены из натуральной кожи в сером цвете. Превосходно подойдут на лето и станут неповторимым украшением к Вашему стилю.
                h4.card-product-feature__info-title О бренде PM Shoes
                p.card-product-feature__info-text
                  | PM Shoes – это бренд удобной и демократичной немецкой обуви. Все модели производятся из натуральных материалов. Компания выпускает мужские и женские сезонные коллекции. Идея делать комфортабельную и современную обувь возникла у создателей бренда в 2008 году. До этого предприятие изготавливало обувь для известных европейских брендов и не имело собственной торговой марки. В 2013 году торговая марка PM Shoes былазарегистрирована.
            #card-product-reviews.card-product-reviews
          .col-3
            .card-sidebar
              a.card-sidebar__img--link(href='javascript:;')
                img.card-sidebar__img(src='img/ricker-logo.png', alt='')
                .card-sidebar__img-content
                  p.card-sidebar__img-content__text
                    | Климатическая мембрана, многослойная ткань с микроскопическими порами. Внутри мембранной обуви Rieker образуется своеобразный микроклимат, ноги не мерзнут и не потеют на протяжении всего времени носки.
                  p.card-sidebar__img-content__link Подробнее
                .card-sidebar__img-content--shadow
              .card-sidebar__block.card-sidebar__block--first
                h4.card-sidebar__title Доставка
                p.card-sidebar__city
                  img.svg-icon(src='img/svg/location.svg')
                  | Нижний новгород
                p.card-sidebar__title--small
                  | Самовывоз
                  span.card-sidebar__span 300 р.
                p.card-sidebar__text 7 октября
                p.card-sidebar__text 26 пунктов выдачи
                p.card-sidebar__text
                  img.svg-icon(src='img/svg/yes.svg')
                  | доступна примерка
                p.card-sidebar__title--small
                  | Курьером
                  span.card-sidebar__span 400 р.
                p.card-sidebar__text 7 октября
                p.card-sidebar__text
                  img.svg-icon(src='img/svg/yes.svg')
                  | доступна примерка
                p.card-sidebar__title--small
                  | Почтой России
                  span.card-sidebar__span 200 р.
                p.card-sidebar__text 7 октября
                p.card-sidebar__text
                  img.svg-icon(src='img/svg/close.svg')
                  | без примерки
                p.card-sidebar__text.card-sidebar__text--important
                  | По предоплате доставка
                  br
                  span.card-sidebar__span.card-sidebar__span--important Бесплатно
                a.card-sidebar__link(href='javascript:;') Подробнее о доставке
              .card-sidebar__block.card-sidebar__block--second
                .card-sidebar__icon
                  img.svg-icon(src='img/svg/payment-blue.svg')
                p.card-sidebar__text
                  | Оплата
                  br
                  | после примерки
              .card-sidebar__block.card-sidebar__block--second
                .card-sidebar__icon
                  img.svg-icon(src='img/svg/brend-blue.svg')
                p.card-sidebar__text
                  | 100% оригинальные
                  br
                  | бренды
              .card-sidebar__block.card-sidebar__block--second
                .card-sidebar__icon
                  img.svg-icon(src='img/svg/14.svg')
                p.card-sidebar__text
                  | Возврат
                  br
                  | без причин
      section.card-tags
        .wrapper
          .card-slider__block
            .card-slider.first-type-slider
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
              a.card-slider__link(href='javascript:;')
                .item
                  p.card-slider__text Женская обувь PM Shoes
      .wrapper
        section.interesting
          .interesting-filters
            a.interesting__link.interesting__link--active(href='javascript:;') Бренд
            a.interesting__link(href='javascript:;') Категория
            a.interesting__link(href='javascript:;') Цвет
          .interesting__title-block
            hr.interesting__title-hr
            h3.interesting__title Вам может понравиться
            hr.interesting__title-hr
          .product-slider-wrapper
            #interesting-slider.product-slider1
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
        section.you-see
          .you-see__title-block
            hr.you-see__title-hr
            h3.you-see__title Вы смотрели
            hr.you-see__title-hr
          .product-slider-wrapper
            #you-see-slider.product-slider1
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  .product-slider__type.product-slider__type--new
                    p.product-slider__type-text NEW
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
              a(href='javascript:;')
                .item
                  img.product-slider__img(src='img/product1.png')
                  p.product-slider__name
                    | Лодочки 
                    span.product-slider__price--span vitacci
                  hr.product-slider__hr
                  p.product-slider__price
                    span.product-slider__price--span 2990
                    |  руб
                  table.product-slider__size
                    tbody
                      tr
                        td.number 36
                      tr
                        td.number 37
                      tr
                        td.number 38
                      tr
                        td.number 39
                      tr
                        td.number 41
    include shared/footer
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/elevatezoom.min.js')
    script(src='js/main.js')
    script.
      function sliderLaunch(){
      var imageArray = ["image1.jpg","image2.jpg","image3.jpg","image4.jpg","image5.jpg","image6.jpg","image7.jpg"];
      var imageArrayZoom = ["image1.jpg","image2.jpg","image3.jpg","image4.jpg","image5.jpg","image6.jpg","image7.jpg"];
      $('.card-product__view').owlCarousel({
      loop:true,
      nav:true,
      mouseDrag:false,
      margin: 2000,
      dots:true,
      items:1,
      animateIn: 'fadeIn',
      smartSpeed:450,
      navText: ['<img src="/img/svg/left-arrow.svg" class="svg-icon">','<img src="/img/svg/right-arrow.svg" class="svg-icon">']
      });
      dotcount = 1;
      $('.card-product__view .owl-dot').each(function() {
      $(this ).addClass( 'dotnumber' + dotcount);
      $(this ).attr('data-info', dotcount);
      dotcount=dotcount+1;
      });
      slidecount = 1;
      $('.card-product__view .owl-item').not('.cloned').each(function() {
      $( this ).addClass( 'slidenumber' + slidecount);
      slidecount=slidecount+1;
      });
      $('.card-product__view .owl-dot').each(function() {
      grab = $(this).data('info');
      slidegrab = $('.slidenumber'+ grab +' img').attr('src');
      $(this).css("background-image", "url("+slidegrab+")");
      });
      $(".card-product-slider .js-item").elevateZoom({
      zoomType: "inner",
      cursor: "crosshair"
      });
      };
      sliderLaunch();