include shared/header

section.breadcrumb
  .container-fluid
    ul.breadcrumb-list
      li.breadcrumb-item.breadcrumb-item--home
        a.breadcrumb-link(href='javascript:;')
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <path fill="" d="M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z"/>
          </svg>
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Корзина
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Доставка и оплата
main.cart
  .container-fluid
    section.page-header
      h1 
        span Доставка и оплата
    .row
      .col-md-10.offset-md-1.col-lg-8.offset-lg-0
        .cart-delivery
          .cart-delivery-section.active
            h3
              span
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                  <path fill="#ffffff" d="M31.051,51c-1.197,0-2.397-0.428-3.354-1.293l-20.9-18.917c-2.047-1.853-2.205-5.015-0.352-7.062 c1.854-2.049,5.015-2.206,7.062-0.352l17.24,15.604l22.631-24.383c1.88-2.023,5.042-2.141,7.066-0.262 c2.023,1.879,2.141,5.042,0.262,7.066l-25.998,28C33.729,50.462,32.394,51,31.051,51z"></path>
                </svg>
              | Выберите способ доставки
            .cart-delivery-options
              .cart-delivery-option
                input(id='delivery-type-1', name='delivery-type', type='radio', checked)
                label(for='delivery-type-1') Курьером
              .cart-delivery-option
                input(id='delivery-type-2', name='delivery-type', type='radio')
                label(for='delivery-type-2') В пункт самовывоза
              .cart-delivery-option
                input(id='delivery-type-3', name='delivery-type', type='radio')
                label(for='delivery-type-3') Почтой России
            ul.cart-delivery-features
              li.list-time Доставка 2-4 дня
              li.list-warning Заказ до 5-и пар

            .mt-5
              h4 Укажите адрес доставки
              .cart-delivery-address
                .cart-delivery-option
                  input(id='delivery-address-1', name='delivery-address', type='radio')
                  label(for='delivery-address-1') Омская обл, Омск, Фрунзе ул 101
                .cart-delivery-option
                  input(id='delivery-address-2', name='delivery-address', type='radio')
                  label(for='delivery-address-2') Омская обл, Омск, ул Пушкина дом Колотушкина
              a.link.mt-3(href="", data-toggle="modal", data-target="#new-address") Добавить новый адрес

            .mt-5
              h4 Выберите пункт самовывоза
              .cart-delivery-address
                form.form-horizontal
                  .form-group.mb-0
                    select.form-control(name='address-pickup', type='text', placeholder='')
                      option(value="") 
                      
          .cart-delivery-section
            h3
              span 2
              | Выберите способ оплаты
            .cart-delivery-payment
              .cart-delivery-options
                .cart-delivery-option
                  input(id='delivery-payment-1', name='delivery-payment', type='radio')
                  label(for='delivery-payment-1') Оплата при получении - 200 ₽
                .cart-delivery-option
                  input(id='delivery-payment-2', name='delivery-payment', type='radio', checked)
                  label(for='delivery-payment-2') Предоплата - бесплатно
              ul.cart-delivery-features
                li.list-payment Оплата наличными или по карте
                li.list-payment Предоплата производится в личном кабинете после подтверждения заказа менеджером КС
                li.list-yes
                  | Доступна примерка
                  a(href='#') ?
                li.list-yes
                  | Доступен частичный выкуп
                  a(href='#') ?
          .cart-delivery-section
            h3 
              span 3
              | Проверьте свои контактные данные
            form.form-horizontal
              .form-group.row
                label.col-form-label.col-3.col-sm-2(for='') Ваш телефон
                .col-9.col-sm-5
                  input.form-control(name='', type='text', placeholder='')
              .form-group.row
                label.col-form-label.col-3.col-sm-2(for='') Ваш email
                .col-9.col-sm-5
                  input.form-control(name='', type='text', placeholder='')
      .col-sm-10.offset-sm-1.col-lg-4.offset-lg-0
        .cart-total.sticky-top
          .cart-total-heading Данные о заказе
          .cart-total-items
            .cart-total-item
              span Товаров в корзине:
              span 
              span 3
            .cart-total-item
              span Общая стоимость:
              span
              span 12909 ₽
            .cart-total-item
              span Скидка КС:
              span
              span 1109 ₽
            .cart-total-item
              span Скидка по промокоду:
              span
              span 109 ₽
            .cart-total-item
              span Ваша скидка:
              span
              span 1218 ₽
            .cart-total-item
              span Доставка (Курьером)
              span
              span 200 ₽
            .cart-total-item-address
              span Омская обл, Омск, Фрунзе ул 101
            .cart-total-item
              span ИТОГО К ОПЛАТЕ:
              span
              span 10109 ₽

          a.btn.mb-3(href="#") Оформить заказ

          .cart-total-accept
            input#accept-by-order(name='accept-by-order', type='checkbox', checked)
            label(for='accept-by-order') Нажимая на кнопку «Оформить заказ», вы принимаете условия 
              a(href="") Публичной оферты
          .cart-total-accept
            input#subscribe-by-order(name='subscribe-by-order', type='checkbox', checked)
            label(for='subscribe-by-order') Подписка на рассылку всех акций и уникальных предложений

include shared/footer
include shared/modal/allmodals