include shared/header

section.breadcrumb
  .container-fluid
    ul.breadcrumb-list
      li.breadcrumb-item.breadcrumb-item--home
        a.breadcrumb-link(href='javascript:;')
          svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
            path(fill='', d='M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z')
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Для новых клиентов
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Примерка перед покупкой

main.fitting
  section.page-header
    h1
      span Примерка перед покупкой
  
  .container-fluid

    .row
      .col-sm-3
        .chc-navbar
          include shared/chc-navbar-help
          include shared/chc-navbar-delivery
          include shared/chc-navbar-about

      .col-sm-9
        .fitting-item
          .fitting-item-header
            .fitting-item-header-icon
              svg(style='width: 45px', version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='', d='M42.654,19.021c2.805,0,5.086,2.281,5.086,5.084c0,2.804-2.281,5.086-5.086,5.086 c-2.804,0-5.085-2.282-5.085-5.086C37.569,21.302,39.851,19.021,42.654,19.021 M42.654,18.021c-3.363,0-6.085,2.724-6.085,6.084 c0,3.361,2.722,6.086,6.085,6.086c3.361,0,6.086-2.725,6.086-6.086C48.74,20.745,46.016,18.021,42.654,18.021L42.654,18.021z M45.057,22.145c0.191,0.05,0.342,0.199,0.393,0.391c0.05,0.191-0.003,0.395-0.144,0.535l-2.653,2.657 c-0.103,0.105-0.242,0.165-0.39,0.167c-0.149-0.004-0.288-0.064-0.393-0.173l-1.487-1.505c-0.214-0.217-0.21-0.564,0.003-0.777 c0.219-0.214,0.564-0.211,0.779,0.006l1.098,1.108l2.261-2.261C44.659,22.151,44.866,22.095,45.057,22.145z M14.49,28.187 c-0.429-2.138,0.002-4.694,1.337-6.936c0.692-1.162,1.588-2.184,2.659-3.039c0.252-0.201,0.61-0.2,0.86,0.003 c3.844,3.11,7.232,6.74,10.071,10.789l4.586,6.543c0.016,0.022,0.03,0.048,0.043,0.071c0.665,1.245,2.407,2.186,4.052,2.186 c1.158,0,2.493-0.447,3.174-1.062c0.151-0.139,0.356-0.2,0.56-0.17c2.61,0.384,4.527,1.928,5.439,2.814 c1.356,1.319,2.232,2.854,2.232,3.913c0,1.871-2.398,2.282-3.187,2.418c-1.587,0.274-3.72,0.329-6.433,0.329h-5.617 c-1.901,0-3.635-1.147-4.417-2.926c-1.699-3.864-4.305-7.315-7.557-10.024l-0.063,0.102c-0.675,1.395-1.033,2.948-1.033,4.497v7.665 c0,0.379-0.307,0.687-0.687,0.687h-2.747c-0.381,0-0.688-0.308-0.688-0.687v-8.48c0-2.051-0.568-4.315-1.782-6.49 c-0.372-0.667-0.642-1.401-0.8-2.182C14.492,28.201,14.492,28.194,14.49,28.187z M21.209,32.24 c-1.537-1.154-3.189-2.143-4.932-2.951c0.309,0.678,1.945,3.164,2.152,6.93c0.014,0.232,0.021,0.455,0.021,0.661v7.793h1.374v-6.978 C19.824,35.547,20.467,33.44,21.209,32.24z M15.777,27.569c6.857,2.847,12.355,8.234,15.331,14.999 c0.562,1.278,1.802,2.104,3.159,2.104h5.617c2.644,0,4.709-0.052,6.199-0.309c0.934-0.16,2.046-0.476,2.046-1.064 c0-0.577-0.624-1.769-1.816-2.929c-0.758-0.737-2.31-1.994-4.388-2.391c-0.957,0.715-2.473,1.197-3.827,1.197 c-2.133,0-4.329-1.207-5.243-2.874l-4.563-6.511c-2.656-3.789-5.807-7.203-9.371-10.151c-0.758,0.674-1.399,1.45-1.913,2.313 C15.903,23.807,15.527,25.879,15.777,27.569z')
            h2.fitting-item-header-title Заказ
          .fitting-item-content
            p В зависимости от 
              a(href="") способа доставки
              | вы можете заказать от 3-х до 10 пар обуви для примерки.    
        .fitting-item
          .fitting-item-header
            .fitting-item-header-icon
              svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='', d='M57.011,39.586L33.129,27.971v-1.293c0.011-0.002,0.021-0.005,0.032-0.007 c3.763-0.932,6.288-3.276,6.288-6.29c0-3.473-2.815-6.288-6.288-6.288c-3.206,0-5.994,2.347-6.27,5.491 c-0.008,0.049-0.015,0.161-0.015,0.167c0,0.625,0.508,1.13,1.133,1.13c0.624,0,1.132-0.506,1.132-1.13h0.006 c0.091-0.979,0.567-1.681,0.984-2.118c0.772-0.812,1.878-1.277,3.029-1.277c2.22,0,4.024,1.806,4.024,4.024 c0,0.847-0.354,1.623-1.053,2.308c-0.816,0.801-2.031,1.417-3.515,1.784c0,0-1.718,0.531-1.749,0.542l-0.001,2.957L6.99,39.586 c-1.28,0.66-2.145,1.899-2.145,3.32c0,2.115,1.911,3.83,4.268,3.83c0.043,0,45.731,0,45.774,0c2.356,0,4.267-1.715,4.267-3.83 C59.154,41.485,58.291,40.246,57.011,39.586z M54.888,44.473H9.113c-1.085,0-2.004-0.717-2.004-1.566 c0-0.522,0.344-1.014,0.919-1.313l0.01-0.003l0.011-0.007l23.949-11.652l23.955,11.652l0.011,0.007l0.01,0.003 c0.574,0.299,0.918,0.79,0.918,1.313C56.892,43.756,55.974,44.473,54.888,44.473z')
            h2.fitting-item-header-title Примерка
          .fitting-item-content
            p На примерку даётся от 15 минут до 30 минут в зависимости от выбранного 
              a(href="") способа доставки

        .fitting-item
          .fitting-item-header
            .fitting-item-header-icon
              svg(style='width: 45px', version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='', d='M44.123,26.247l-4.46-0.425v-9.366c0-0.716-0.357-1.374-0.957-1.761c-0.341-0.221-0.734-0.338-1.139-0.338 c-0.297,0-0.587,0.063-0.86,0.186l-20.341,9.146c-0.063,0.029-0.121,0.066-0.172,0.113c-0.138,0.123-0.216,0.301-0.216,0.486v20.039 c0,0.34,0.255,0.621,0.594,0.654l27.153,2.586c0.068,0.004,0.133,0.008,0.198,0.008c0.524,0,1.025-0.193,1.411-0.545 c0.437-0.395,0.687-0.961,0.687-1.551V28.334C46.021,27.248,45.205,26.351,44.123,26.247z M38.351,21.712v3.986l-7.314-0.697 L38.351,21.712z M38.351,20.271l-0.457,0.205v-1.005c0-0.563-0.281-1.083-0.754-1.389c-0.27-0.174-0.579-0.266-0.896-0.266 c-0.235,0-0.465,0.05-0.681,0.146l-13.706,6.162l-2.688-0.255l18.077-8.129c0.104-0.047,0.214-0.07,0.323-0.07 c0.147,0,0.294,0.044,0.423,0.128c0.228,0.146,0.358,0.386,0.358,0.656V20.271z M36.103,19.163c0.046-0.021,0.093-0.031,0.139-0.031 c0.09,0,0.157,0.038,0.183,0.055c0.059,0.037,0.156,0.125,0.156,0.284v1.597l-8.188,3.682l-3.889-0.371L36.103,19.163z M44.708,45.48c0,0.225-0.092,0.43-0.257,0.578c-0.145,0.133-0.329,0.205-0.522,0.205c-0.025,0-0.051-0.002-0.077-0.004 l-26.56-2.529V25.012l26.707,2.545c0.404,0.038,0.709,0.372,0.709,0.777V45.48z M41.422,38.979c-1.134,0-2.056-0.994-2.056-2.217 c0-1.221,0.922-2.215,2.056-2.215c1.135,0,2.059,0.994,2.059,2.215C43.48,37.984,42.557,38.979,41.422,38.979z M41.422,35.762 c-0.464,0-0.841,0.449-0.841,1c0,0.555,0.377,1.004,0.841,1.004c0.465,0,0.843-0.449,0.843-1.004 C42.265,36.211,41.887,35.762,41.422,35.762z')
            h2.fitting-item-header-title Оплата
          .fitting-item-content
            p Мы принимаем как наличные средства так и кредитные карты
        .fitting-item
          .fitting-item-header
            .fitting-item-header-icon
              svg(style='width: 45px', version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='', d='M27.186,22.916c0-0.399,0.324-0.724,0.725-0.724h1.447c0.399,0,0.725,0.325,0.725,0.724 c0,0.4-0.325,0.724-0.725,0.724v1.448c0,1.6,1.297,2.896,2.896,2.896c1.598,0,2.896-1.298,2.896-2.896V23.64 c-0.4,0-0.724-0.324-0.724-0.724c0-0.399,0.323-0.724,0.724-0.724h1.447c0.399,0,0.725,0.325,0.725,0.724 c0,0.4-0.325,0.724-0.725,0.724v1.448c0,2.396-1.948,4.343-4.344,4.343c-2.398,0-4.343-1.943-4.343-4.343V23.64 C27.51,23.64,27.186,23.315,27.186,22.916z M9.538,44.615c-0.15-0.147-0.233-0.349-0.233-0.559s0.085-0.41,0.233-0.559l2.436-2.422 c0.744-0.745,1.748-1.124,2.776-1.07c1.306-2.773,3.729-4.669,6.783-5.312V17.017c0-0.435,0.354-0.789,0.789-0.789H42.6 c0.434,0,0.788,0.354,0.788,0.789v15.407l0.763-0.791c1.128-1.308,3.106-1.467,4.43-0.354c1.329,1.126,1.499,3.12,0.375,4.449 l-7.068,8.486c-0.019,0.021-0.036,0.043-0.055,0.063c-1.334,1.296-3.092,2.013-4.952,2.013H26.491c-0.955,0-1.862,0.365-2.552,1.029 l-0.868,0.839c0.109,1.092-0.271,2.173-1.061,2.96l-2.421,2.423c-0.155,0.154-0.356,0.23-0.559,0.23s-0.404-0.076-0.558-0.23 L9.538,44.615z M23.111,17.807V34.48c0.263-0.017,0.525-0.025,0.789-0.025c1.338,0,2.64,0.253,3.867,0.754 c0.057,0.022,0.112,0.035,0.16,0.035h9.148c0.968,0,1.863,0.449,2.451,1.172l2.282-2.362V17.807H23.111z M16.296,40.433 c0.318,0.17,0.611,0.385,0.87,0.645l4.845,4.847c0.184,0.183,0.347,0.381,0.485,0.596l0.35-0.336 c0.984-0.95,2.278-1.472,3.646-1.472H36.88c1.434,0,2.789-0.547,3.822-1.537l7.043-8.46c0.565-0.67,0.481-1.666-0.183-2.229 c-0.665-0.56-1.663-0.475-2.225,0.188c-0.012,0.012-0.022,0.026-0.035,0.038c-0.165,0.171-4.935,5.104-5.099,5.272 c0.018,0.137,0.028,0.275,0.028,0.415c0,1.738-1.417,3.156-3.156,3.156h-6.864c-0.436,0-0.788-0.354-0.788-0.789 c0-0.437,0.353-0.79,0.788-0.79h6.864c0.869,0,1.578-0.708,1.578-1.577c0-0.88-0.722-1.577-1.578-1.577h-9.148 c-0.252,0-0.506-0.052-0.752-0.152c-1.549-0.629-3.144-0.765-4.738-0.535C19.655,36.54,17.501,38.056,16.296,40.433z M11.212,44.06')
            h2.fitting-item-header-title Возврат
          .fitting-item-content
            p Не подошедшие товары оставьте курьеру, либо сотруднику выдачи
            

      
include shared/footer
include shared/modal/allmodals
