doctype html
html(lang='ru')
	head
		title Интернет магазин обуви
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
	body
		include shared/city-panel
		include shared/header
		include shared/nav
		main
			.wrapper
				section.top
					.main-slider.first-type-slider.owl-theme
						.item
							img.main-slider__img(src='img/main-bg.jpg')
						.item
							img.main-slider__img(src='img/main-bg.jpg')
						.item
							img.main-slider__img(src='img/main-bg.jpg')
				section.categories
					.categories__slider
						.categories-slider.second-type-slider
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
							a.categories-slider__link(href='javascript:;')
								.item
									img.main-slider__img(src='img/cat-slider1.png')
									p.categories-slider__text 600 товаров
									p.categories-slider__text--name Rieker
				section.new-product
					.new-product__title-block
						hr.new-product__title-hr
						h3.new-product__title Новинки недели
						hr.new-product__title-hr
					.row
						.col-8
							.product-slider-wrapper
								.product-slider
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											.product-slider__size
												p.number 36
												p.number 37
												p.number 38
												p.number 39
												p.number 40
												p.number 36
												p.number 36
												p.number 36
												p.number 36
												p.number 36
												p.number 36
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--new
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
							a(href='javascript:;')
								.new-product-banner(style="background-image: url('img/banner2.png');height: 203px;")
									p.new-product-banner__button Смотреть
						.col-4
							a(href='javascript:;')
								.new-product-banner(style="background-image: url('img/banner1.png');height: 536px;")
									p.new-product-banner__button Смотреть
				section.actual-discount
					.actual-discount__title-block
						hr.actual-discount__title-hr
						h3.actual-discount__title Актуальные скидки
						hr.actual-discount__title-hr
					.row
						.col-4
							a(href='javascript:;')
								.actual-discount-banner(style="background-image: url('img/banner3.png');height: 536px;")
									p.actual-discount-banner__button Смотреть
						.col-8
							.product-slider-wrapper
								.product-slider
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
							a(href='javascript:;')
								.actual-discount-banner(style="background-image: url('img/banner2.png');height: 203px;")
									p.actual-discount-banner__button Смотреть
				section.trends
					.trends__title-block
						hr.trends__title-hr
						h3.trends__title Тренды
						hr.trends__title-hr
					.row
						.col-6
							.trends__slider.first-type-slider
								a(href='javascript:;')
									#trends__slider1.item
										img.trends__img(src='img/trends1.jpg')
								a(href='javascript:;')
									#trends__slider1.item
										img.trends__img(src='img/trends1.jpg')
								a(href='javascript:;')
									#trends__slider1.item
										img.trends__img(src='img/trends1.jpg')
								a(href='javascript:;')
									#trends__slider1.item
										img.trends__img(src='img/trends1.jpg')
								a(href='javascript:;')
									#trends__slider1.item
										img.trends__img(src='img/trends1.jpg')
						.col-6
							.trends__content
								#trends__content1.trends__content-item.active
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text
											| Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
											| и технологиям платформа стала удобной и практически невесомой.
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
								#trends__content2.trends__content-item
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text
											| Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
											| и технологиям платформа стала удобной и практически невесомой.
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
								#trends__content3.trends__content-item
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text
											| Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
											| и технологиям платформа стала удобной и практически невесомой.
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
								#trends__content4.trends__content-item
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text Обувь на платформе все еще в моде и уверенно удерживает свои позиции.
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
								#trends__content5.trends__content-item
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text
											| Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
								#trends__content6.trends__content-item
									.trends__header
										h4.trends__content-title Платформа
										p.trends__content-text
											| Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
											| и технологиям платформа стала удобной и практически невесомой.Обувь на платформе все еще в моде и уверенно удерживает свои позиции. На сегодняшний
											| день массивные платформы только кажутся тяжелыми: благодаря современным материалам
											| и технологиям платформа стала удобной и практически невесомой.
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
									a(href='javascript:;')
										.item
											img.product-slider__img(src='img/product1.png')
											p.product-slider__name
												| Лодочки 
												span.product-slider__price--span vitacci
											hr.product-slider__hr
											p.product-slider__price
												span.product-slider__price--span 2990
												|  руб
											.product-slider__type.product-slider__type--actual-discount
												p.product-slider__type-text NEW
											table.product-slider__size
												tbody
													tr
														td.number 36
													tr
														td.number 37
													tr
														td.number 38
													tr
														td.number 39
													tr
														td.number 41
					a.trends__button(href='javascript:;') все тренды
				section.useful-shoes
					.useful-shoes__title-block
						hr.useful-shoes__title-hr
						h3.useful-shoes__title Полезное про обувь
						hr.useful-shoes__title-hr
					.flex-row
						.flex-row
							.useful-shoes-social
								a(href='javascript:;')
									.useful-shoes-social__item.useful-shoes-social__item--vk
										i.fa.fa-vk(aria-hidden='true')
								a(href='javascript:;')
									.useful-shoes-social__item.useful-shoes-social__item--ok
										i.fa.fa-odnoklassniki(aria-hidden='true')
								a(href='javascript:;')
									.useful-shoes-social__item.useful-shoes-social__item--instagram
										i.fa.fa-instagram(aria-hidden='true')
								a(href='javascript:;')
									.useful-shoes-social__item.useful-shoes-social__item--fb
										i.fa.fa-facebook(aria-hidden='true')
							a(href='javascript:;')
								.useful-shoes-post
									img.useful-shoes-post__banner(src='img/us-shoes-banner.jpg')
									h4.useful-shoes-post__title
										| Объект желания: 8 пар дорогой обуви,
										| которые нужны каждой
									p.useful-shoes-post__text
										| Каждый человек под размером обуви подразумевает длину стопы, но не все догадываются, что размер обуви – это её длина и ширина.
						.useful-shoes-list
							a(href='javascript:;')
								.useful-shoes-list__item
									img.useful-shoes-list__img(src='img/us-shoes-list-item.jpg')
									.useful-shoes-list__block-text
										h4.useful-shoes-list__title
											| Надо брать: 10 пар обуви,
											| которые не захочется снимать
										p.useful-shoes-list__text Бархатные босоножки на плоском...
							a(href='javascript:;')
								.useful-shoes-list__item
									img.useful-shoes-list__img(src='img/us-shoes-list-item.jpg')
									.useful-shoes-list__block-text
										h4.useful-shoes-list__title
											| Надо брать: 10 пар обуви,
											| которые не захочется снимать
										p.useful-shoes-list__text Бархатные босоножки на плоском...
							a(href='javascript:;')
								.useful-shoes-list__item
									img.useful-shoes-list__img(src='img/us-shoes-list-item.jpg')
									.useful-shoes-list__block-text
										h4.useful-shoes-list__title
											| Надо брать: 10 пар обуви,
											| которые не захочется снимать
										p.useful-shoes-list__text Бархатные босоножки на плоском...
							a(href='javascript:;')
								.useful-shoes-list__item
									img.useful-shoes-list__img(src='img/us-shoes-list-item.jpg')
									.useful-shoes-list__block-text
										h4.useful-shoes-list__title
											| Надо брать: 10 пар обуви,
											| которые не захочется снимать
										p.useful-shoes-list__text Бархатные босоножки на плоском...
							a.useful-shoes-list__button(href='javascript:;') Все статьи
						.news-company
							h4.news-company__title Новости компании
							.news-company__content
								a.news-company__link(href='javascript:;')
									img.news-company__img(src='img/news-company-img.jpg')
									p.news-company__text
										| Сезонная распродажа
										| в магазинах «KC Немецкая обувь»!
										| Скидки до -50%!
								a.news-company__link(href='javascript:;') все новости
				section.advantages
					.advantages__item
						h4.advantages__title Наши преимущества
					.advantages__item
						.advantages__icon
							img.svg-icon(src='img/svg/payment.svg')
						.advantages__block-text
							h4.advantages__title--item
								| Оплата
								br
								|  после примерки
							p.advantages__text
								| Доставка курьером и в пункты
								| выдачи с примеркой
					.advantages__item
						.advantages__icon
							img.svg-icon(src='img/svg/brend.svg')
						.advantages__block-text
							h4.advantages__title--item 100% оригинальные бренды
							p.advantages__text
								| Все товары сертифицированы
								| и имеют гарантию производителя
					.advantages__item
						.advantages__icon
							img.svg-icon(src='img/svg/14po.svg')
						.advantages__block-text
							h4.advantages__title--item
								| Возврат
								br
								| 						без причин
							p.advantages__text
								| Даем 14 дней на возврат без
								| объяснения причин нового товара
					.advantages__item
						.advantages__icon
							img.svg-icon(src='img/svg/shield.svg')
						.advantages__block-text
							h4.advantages__title--item
								| Возврат товаров
								br
								| 					с браком
							p.advantages__text
								| Мы берем расходы по доставке
								| возврата на себя
					.advantages__item
						.advantages__icon
							img.svg-icon(src='img/svg/free.svg')
						.advantages__block-text
							h4.advantages__title--item
								| Бесплатная
								br
								| 					доставка
							p.advantages__text
								| Доставляем по всей России
								| бесплатно при 100% предоплате
				section.reviews
					.reviews__title-block
						hr.reviews__title-hr
						h3.reviews__title Отзывы наших покупателей
						hr.reviews__title-hr
					.reviews__slider-block
						.reviews__slider.second-type-slider
							.item
								.reviews__header
									.reviews__icon(style='background: #03dbe8;') И
									.reviews__block
										p.reviews__name Ирина
										p.reviews__city Москва
									.reviews__block
										p.reviews__date 18 сентября 2008
										.reviews__action-block
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--like
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--dislike
								.reviews__content
									.reviews__tags
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
									p.reviews__text
										| Здравствуйте. Спасибо за качественную обувь и отличную
										| работу вашего магазина. Заказывали обувь с доставкой
										| курьером и возможностью примерки перед оплатой это
										| очень удобно, т.к. есть возможность частичного выкупа.
									a.reviews__link(href='javascript:;') Читать отзыв
							.item
								.reviews__header
									.reviews__icon(style='background: #c8f576;') И
									.reviews__block
										p.reviews__name Ирина
										p.reviews__city Москва
									.reviews__block
										p.reviews__date 18 сентября 2008
										.reviews__action-block
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--like
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--dislike
								.reviews__content
									.reviews__tags
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
									p.reviews__text
										| Здравствуйте. Спасибо за качественную обувь и отличную
										| работу вашего магазина. Заказывали обувь с доставкой
										| курьером и возможностью примерки перед оплатой это
										| очень удобно, т.к. есть возможность частичного выкупа.
									a.reviews__link(href='javascript:;') Читать отзыв
							.item
								.reviews__header
									.reviews__icon(style='background: #00b4ff;') А
									.reviews__block
										p.reviews__name Александр
										p.reviews__city Севастополь
									.reviews__block
										p.reviews__date 18 сентября 2008
										.reviews__action-block
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--like
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--dislike
								.reviews__content
									.reviews__tags
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
									p.reviews__text
										| Здравствуйте. Спасибо за качественную обувь и отличную
										| работу вашего магазина. Заказывали обувь с доставкой
										| курьером и возможностью примерки перед оплатой это
										| очень удобно, т.к. есть возможность частичного выкупа.
									a.reviews__link(href='javascript:;') Читать отзыв
							.item
								.reviews__header
									.reviews__icon(style='background: #ff91a4;') И
									.reviews__block
										p.reviews__name Ирина
										p.reviews__city Москва
									.reviews__block
										p.reviews__date 18 сентября 2008
										.reviews__action-block
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--like
											a.reviews__action(href='javascript:;')
												| 0 
												span.reviews__action--span.reviews__action--span--dislike
								.reviews__content
									.reviews__tags
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
										p.item
											| товар 
											span.reviews__tags--span 5
									p.reviews__text
										| Здравствуйте. Спасибо за качественную обувь и отличную
										| работу вашего магазина. Заказывали обувь с доставкой
										| курьером и возможностью примерки перед оплатой это
										| очень удобно, т.к. есть возможность частичного выкупа.
									a.reviews__link(href='javascript:;') Читать отзыв
					a.reviews__button(href='javascript:;') оставить отзыв
				section.info
					.info__title-block
						hr.info__title-hr
						h3.info__title
							| ИНТЕРНЕТ МАГАЗИН ОБУВИ
							br
							| 				«КС-НЕМЕЦКАЯ ОБУВЬ» KC-SHOES.RU
						hr.info__title-hr
					.row
						.col
							.info__item
								h4.info__title--item О магазине
								p.info__text
									| КС-Немецкая обувь - официальный сайт интернет магазин
									| KC-Shoes. Наша компания является представителем, как
									| популярных марок Rieker, Tamaris, Ara, так и других известных
									| европейских брендов, в числе которых итальянские, немецкие,
									| финские производители. Успешный опыт работы, позволил
									| нам узнать женский и мужской вкус и реализовать все ваши
									| потребности онлайн.
						.col
							.info__item
								h4.info__title--item Большой выбор обуви
								p.info__text
									| Каталог интернет - магазина более 8000 моделей качественной
									| мужской, женской обуви и сумок, который постоянно
									| пополняется новой коллекцией и товарами со скидками для
									| распродажи. Поэтому купить себе красивую недорогую пару
									| маленьких и больших размеров не составит труда. Для удобства
									| примените фильтр по поиску: отсортируйте сезон, бренд, цвет,
									| полноту и оформляйте заказ.
						.col
							.info__item
								h4.info__title--item Доставка и сервис
								p.info__text
									| Отличный сервис и курьерская доставка по России с примеркой
									| на дому и возможностью частичного выкупа. Забрать заказ
									| в удобное время можно из пункта выдачи своего города
									| и выкупить то что вам подойдет. Предусмотрен бесплатный
									| обмен - возврат. Остались вопросы? Звоните 8 (800) 700-2768
									| и наш специалист с удовольствием поможет вам оформить,
									| заказать и купить..
		include shared/footer