doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include shared/city-panel
    include shared/header
    include shared/nav
    
    section.breadcrumb
      .container-fluid
        ul.breadcrumb-list
          li.breadcrumb-item.breadcrumb-item--home
            a.breadcrumb-link(href='javascript:;')
              svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='', d='M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z')
          li.breadcrumb-item
            a.breadcrumb-link(href='javascript:;') Личный кабинет
    main.personal
      .container-fluid
        h1 Личный кабинет
        .row
          .col-sm-3
            ul.nav.nav-tabs.flex-column
              li.nav-item
                a.nav-link.active(id="personal-orders-tab", data-toggle="tab", href="#personal-orders", role="tab", aria-controls="personal-orders", aria-selected="true")
                  .nav-link-icon
                    svg(style='width: 45px', version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                      path(d='M42.654,19.021c2.805,0,5.086,2.281,5.086,5.084c0,2.804-2.281,5.086-5.086,5.086 c-2.804,0-5.085-2.282-5.085-5.086C37.569,21.302,39.851,19.021,42.654,19.021 M42.654,18.021c-3.363,0-6.085,2.724-6.085,6.084 c0,3.361,2.722,6.086,6.085,6.086c3.361,0,6.086-2.725,6.086-6.086C48.74,20.745,46.016,18.021,42.654,18.021L42.654,18.021z M45.057,22.145c0.191,0.05,0.342,0.199,0.393,0.391c0.05,0.191-0.003,0.395-0.144,0.535l-2.653,2.657 c-0.103,0.105-0.242,0.165-0.39,0.167c-0.149-0.004-0.288-0.064-0.393-0.173l-1.487-1.505c-0.214-0.217-0.21-0.564,0.003-0.777 c0.219-0.214,0.564-0.211,0.779,0.006l1.098,1.108l2.261-2.261C44.659,22.151,44.866,22.095,45.057,22.145z M14.49,28.187 c-0.429-2.138,0.002-4.694,1.337-6.936c0.692-1.162,1.588-2.184,2.659-3.039c0.252-0.201,0.61-0.2,0.86,0.003 c3.844,3.11,7.232,6.74,10.071,10.789l4.586,6.543c0.016,0.022,0.03,0.048,0.043,0.071c0.665,1.245,2.407,2.186,4.052,2.186 c1.158,0,2.493-0.447,3.174-1.062c0.151-0.139,0.356-0.2,0.56-0.17c2.61,0.384,4.527,1.928,5.439,2.814 c1.356,1.319,2.232,2.854,2.232,3.913c0,1.871-2.398,2.282-3.187,2.418c-1.587,0.274-3.72,0.329-6.433,0.329h-5.617 c-1.901,0-3.635-1.147-4.417-2.926c-1.699-3.864-4.305-7.315-7.557-10.024l-0.063,0.102c-0.675,1.395-1.033,2.948-1.033,4.497v7.665 c0,0.379-0.307,0.687-0.687,0.687h-2.747c-0.381,0-0.688-0.308-0.688-0.687v-8.48c0-2.051-0.568-4.315-1.782-6.49 c-0.372-0.667-0.642-1.401-0.8-2.182C14.492,28.201,14.492,28.194,14.49,28.187z M21.209,32.24 c-1.537-1.154-3.189-2.143-4.932-2.951c0.309,0.678,1.945,3.164,2.152,6.93c0.014,0.232,0.021,0.455,0.021,0.661v7.793h1.374v-6.978 C19.824,35.547,20.467,33.44,21.209,32.24z M15.777,27.569c6.857,2.847,12.355,8.234,15.331,14.999 c0.562,1.278,1.802,2.104,3.159,2.104h5.617c2.644,0,4.709-0.052,6.199-0.309c0.934-0.16,2.046-0.476,2.046-1.064 c0-0.577-0.624-1.769-1.816-2.929c-0.758-0.737-2.31-1.994-4.388-2.391c-0.957,0.715-2.473,1.197-3.827,1.197 c-2.133,0-4.329-1.207-5.243-2.874l-4.563-6.511c-2.656-3.789-5.807-7.203-9.371-10.151c-0.758,0.674-1.399,1.45-1.913,2.313 C15.903,23.807,15.527,25.879,15.777,27.569z')
                  .nav-link-text
                    span Заказы
                    span История заказов, возврат товара
              li.nav-item
                a.nav-link(id="personal-profile-tab", data-toggle="tab", href="#personal-profile", role="tab", aria-controls="personal-profile", aria-selected="false")
                  .nav-link-icon
                    svg(style='width: 20px', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 576 512')
                      path(d='M360 352h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8zm0-64h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8zm0 128h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8zm-168-32c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM512 64H64C28.7 64 0 92.7 0 128v320c0 35.3 28.7 64 64 64h448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64zM272 480H112v-15.1c0-7 2.1-13.8 6-19.6 5.6-8.3 15.8-13.2 27.3-13.2 12.4 0 20.8 7 46.8 7 25.9 0 34.3-7 46.8-7 11.5 0 21.7 5 27.3 13.2 3.9 5.8 6 12.6 6 19.6V480zm272-32c0 17.6-14.4 32-32 32H304v-15.1c0-13.9-4.2-26.8-11.4-37.5-12.1-17.9-32.7-27.4-53.8-27.4-19.5 0-24.4 7-46.8 7s-27.3-7-46.8-7c-21.2 0-41.8 9.4-53.8 27.4C84.2 438.1 80 451 80 464.9V480H64c-17.6 0-32-14.4-32-32V192h512v256zm0-288H32v-32c0-17.6 14.4-32 32-32h448c17.6 0 32 14.4 32 32v32z')
                  .nav-link-text
                    span Профиль
                    span Дисконтная карта, пароль, телефон
              li.nav-item
                a.nav-link(id="personal-subscribe-tab", data-toggle="tab", href="#personal-subscribe", role="tab", aria-controls="personal-subscribe", aria-selected="false")
                  .nav-link-icon
                    svg(style='width: 20px', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                      path(d='M352 248v-16c0-4.42-3.58-8-8-8H168c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8h176c4.42 0 8-3.58 8-8zm-184-56h176c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8H168c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8zm326.59-27.48c-1.98-1.63-22.19-17.91-46.59-37.53V96c0-17.67-14.33-32-32-32h-46.47c-4.13-3.31-7.71-6.16-10.2-8.14C337.23 38.19 299.44 0 256 0c-43.21 0-80.64 37.72-103.34 55.86-2.53 2.01-6.1 4.87-10.2 8.14H96c-17.67 0-32 14.33-32 32v30.98c-24.52 19.71-44.75 36.01-46.48 37.43A48.002 48.002 0 0 0 0 201.48V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V201.51c0-14.31-6.38-27.88-17.41-36.99zM256 32c21.77 0 44.64 16.72 63.14 32H192.9c18.53-15.27 41.42-32 63.1-32zM96 96h320v173.35c-32.33 26-65.3 52.44-86.59 69.34-16.85 13.43-50.19 45.68-73.41 45.31-23.21.38-56.56-31.88-73.41-45.32-21.29-16.9-54.24-43.33-86.59-69.34V96zM32 201.48c0-4.8 2.13-9.31 5.84-12.36 1.24-1.02 11.62-9.38 26.16-21.08v75.55c-11.53-9.28-22.51-18.13-32-25.78v-16.33zM480 464c0 8.82-7.18 16-16 16H48c-8.82 0-16-7.18-16-16V258.91c42.75 34.44 99.31 79.92 130.68 104.82 20.49 16.36 56.74 52.53 93.32 52.26 36.45.26 72.27-35.46 93.31-52.26C380.72 338.8 437.24 293.34 480 258.9V464zm0-246.19c-9.62 7.75-20.27 16.34-32 25.79v-75.54c14.44 11.62 24.8 19.97 26.2 21.12 3.69 3.05 5.8 7.54 5.8 12.33v16.3z')
                  .nav-link-text
                    span Подписка
                    span Настройка рассылок
          .col-sm-9
              #myTabContent.tab-content
                #personal-orders.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='personal-orders-tab')
                  table.table#orders-table
                    thead
                      tr
                        th номер
                        th дата
                        th сумма
                        th статус
                        th дейтсвие
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                      tr
                        td 77063
                        td 31.01.2019
                        td 9 590 ₽
                        td.status-delivery В пути
                        td
                          a(href="#") Отследить
                      tr
                        td 425523
                        td 31.01.2019
                        td 9 590 ₽
                        td.status-wait Ожидает получения
                        td
                          a(href="#", data-toggle='modal', data-target='#pickupPoint') Пункты самовывоза
                      tr
                        td 753211
                        td 31.01.2019
                        td 9 590 ₽
                        td.status-done Доставлен
                        td
                          a(href="#") Вернуть
                      tr
                        td 753211
                        td 31.01.2019
                        td 9 590 ₽
                        td.status-archive В архиве
                        td
                      tr
                        td 753211
                        td 31.01.2019
                        td 9 590 ₽
                        td.status-canceled Отменён
                        td 
                #personal-profile.tab-pane.fade(role='tabpanel', aria-labelledby='personal-profile-tab')
                  .row
                    .col-8
                      form.personal-form
                        .form-group.row
                          label.col-sm-3.col-form-label(for='fio') Ф.И.О.
                          .col-sm-9
                            .input-group
                              input#fio.form-control(type='text', value='Иванов Иван Иванович')
                              .input-group-append
                                button(class="btn", type="button")
                                  svg(aria-hidden='true', focusable='false', data-prefix='fal', data-icon='edit', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 576 512')
                                    path(d='M417.8 315.5l20-20c3.8-3.8 10.2-1.1 10.2 4.2V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h292.3c5.3 0 8 6.5 4.2 10.2l-20 20c-1.1 1.1-2.7 1.8-4.2 1.8H48c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16V319.7c0-1.6.6-3.1 1.8-4.2zm145.9-191.2L251.2 436.8l-99.9 11.1c-13.4 1.5-24.7-9.8-23.2-23.2l11.1-99.9L451.7 12.3c16.4-16.4 43-16.4 59.4 0l52.6 52.6c16.4 16.4 16.4 43 0 59.4zm-93.6 48.4L403.4 106 169.8 339.5l-8.3 75.1 75.1-8.3 233.5-233.6zm71-85.2l-52.6-52.6c-3.8-3.8-10.2-4-14.1 0L426 83.3l66.7 66.7 48.4-48.4c3.9-3.8 3.9-10.2 0-14.1z')
                        .form-group.row
                          label.col-sm-3.col-form-label(for='phone') Телефон
                          .col-sm-6
                            .input-group
                              input#phone.form-control(type='text', value='+7 (999) 999 99 99')
                              .input-group-append
                                button(class="btn", type="button")
                                  svg(aria-hidden='true', focusable='false', data-prefix='fal', data-icon='edit', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 576 512')
                                    path(d='M417.8 315.5l20-20c3.8-3.8 10.2-1.1 10.2 4.2V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h292.3c5.3 0 8 6.5 4.2 10.2l-20 20c-1.1 1.1-2.7 1.8-4.2 1.8H48c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16V319.7c0-1.6.6-3.1 1.8-4.2zm145.9-191.2L251.2 436.8l-99.9 11.1c-13.4 1.5-24.7-9.8-23.2-23.2l11.1-99.9L451.7 12.3c16.4-16.4 43-16.4 59.4 0l52.6 52.6c16.4 16.4 16.4 43 0 59.4zm-93.6 48.4L403.4 106 169.8 339.5l-8.3 75.1 75.1-8.3 233.5-233.6zm71-85.2l-52.6-52.6c-3.8-3.8-10.2-4-14.1 0L426 83.3l66.7 66.7 48.4-48.4c3.9-3.8 3.9-10.2 0-14.1z')
                        .form-group.row
                          label.col-sm-3.col-form-label(for='email') E-mail
                          .col-sm-7
                            .input-group
                              input#email.form-control(type='text', value='your@email.ru')
                              .input-group-append
                                button(class="btn", type="button")
                                  svg(aria-hidden='true', focusable='false', data-prefix='fal', data-icon='edit', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 576 512')
                                    path(d='M417.8 315.5l20-20c3.8-3.8 10.2-1.1 10.2 4.2V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h292.3c5.3 0 8 6.5 4.2 10.2l-20 20c-1.1 1.1-2.7 1.8-4.2 1.8H48c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16V319.7c0-1.6.6-3.1 1.8-4.2zm145.9-191.2L251.2 436.8l-99.9 11.1c-13.4 1.5-24.7-9.8-23.2-23.2l11.1-99.9L451.7 12.3c16.4-16.4 43-16.4 59.4 0l52.6 52.6c16.4 16.4 16.4 43 0 59.4zm-93.6 48.4L403.4 106 169.8 339.5l-8.3 75.1 75.1-8.3 233.5-233.6zm71-85.2l-52.6-52.6c-3.8-3.8-10.2-4-14.1 0L426 83.3l66.7 66.7 48.4-48.4c3.9-3.8 3.9-10.2 0-14.1z')
                        .form-group.row
                          label.col-sm-3.col-form-label(for='password') Пароль
                          .col-sm-5
                            input#password.form-control(type='password', value='')
                        .form-group.row
                          label.col-sm-3.col-form-label(for='password2') Подтвердить пароль
                          .col-sm-5
                            input#password2.form-control(type='password', value='')
                        .form-group.row
                          .col-sm-5.offset-3
                            a.btn(href="") Сохранить
                    .col-4
                      .personal-discount-card
                        img(src="./img/bonus-img.png", alt="")
                        .personal-discount-card-text
                          .item
                            span Номер карты:
                            span 1000001149450
                          .item
                            span Накопления: 
                            span 1400 ₽ 
                          .item
                            span Скидка:
                            span 5 %
                #personal-subscribe.tab-pane.fade(role='tabpanel', aria-labelledby='personal-subscribe-tab')
                  .row
                    .col-6
                      .personal-subscribe
                        p Будьте в курсе новых поступлений, акций и распродаж. 
                        p Рассылка происходит раз в месяц.
                        form.personal-form.mt-4
                          .form-group
                            input.form-control(id='personal-subscribe-sms', name='personal-subscribe-sms', type='checkbox')
                            label.control-label(for='personal-subscribe-sms') SMS рассылка
                          .form-group
                            input.form-control(id='personal-subscribe-email', name='personal-subscribe-email', type='checkbox')
                            label.control-label(for='personal-subscribe-email') E-mail рассылка
                          a.btn.mt-4(href="") Сохранить 
                    .col-6
                      img(src="img/personal-subscribe.jpg", alt="")  
  include shared/footer
  include shared/modal/allmodals