include shared/header
section.breadcrumb
  .container-fluid
    ul.breadcrumb-list
      li.breadcrumb-item.breadcrumb-item--home
        a.breadcrumb-link(href='javascript:;')
          svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
            path(fill='', d='M32.023,4L59,24.811V60H42V36H22v24H5V24.811L32.023,4 M32.024,1.475L3,23.827V62h21V38h16v24h21V23.828 L32.024,1.475L32.024,1.475z')
      li.breadcrumb-item
        a.breadcrumb-link(href='javascript:;') Личный кабинет
main.personal
  .page-header
    h1
      span Личный кабинет
  .container-fluid
    .row
      .col-lg-3.offset-lg-0.col-xl-2.offset-xl-1  
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(id="personal-orders-tab", data-toggle="tab", href="#personal-orders", role="tab", aria-controls="personal-orders", aria-selected="true") Заказы
          li.nav-item
            a.nav-link(id="personal-likes-tab", data-toggle="tab", href="#personal-likes", role="tab", aria-controls="personal-likes", aria-selected="true") Избранное
          li.nav-item
            a.nav-link(id="personal-profile-tab", data-toggle="tab", href="#personal-profile", role="tab", aria-controls="personal-profile", aria-selected="false") Профиль
          li.nav-item
            a.nav-link(id="personal-subscribe-tab", data-toggle="tab", href="#personal-subscribe", role="tab", aria-controls="personal-subscribe", aria-selected="false") Подписка
      .col-lg-9.col-xl-8
        #myTabContent.tab-content
          #personal-orders.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='personal-orders-tab')
            .order
              .order-header
                .order-header-icon(data-toggle='collapse', href='#order-121441', role='button', aria-expanded='false', aria-controls='order-121441')
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><polygon fill="" points="36.238,44.061 24.271,32.226 36.156,20.115 37.996,21.918 27.907,32.199 38.05,42.229 "/></svg>
                .order-header-center
                  .order-header-title
                    span Заказ - 
                      b №121441
                    span от 19.03.2019
                  .order-header-status.d-block.d-sm-none
                    span.order-status--done
                      svg(aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                        path(fill='', d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z')
                      | завершён 
                  .order-header-img
                    img.order-item-img(src='https://kc-shoes.ru/image/cache/data/products/1538643847-606989-234x338.JPG')  
                    img.order-item-img(src='./img/category/1.jpg')
                    img.order-item-img(src='./img/category/3.jpg')
                    img.order-item-img(src='./img/category/5.jpg')
                .order-header-status
                  span.order-status--done.d-none.d-sm-block
                    svg(aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                      path(fill='', d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z')
                    | завершён
              #order-121441.collapse.order-body
                .order-details
                  h5 Дата доставки 14.03.2019, 20:00 - 23:00
                  .row
                    .col-sm-7
                      .order-delivery-item
                        span Получатель
                        div
                          span Евгений Криводуб 
                          span +79503325909 
                          span take2mars@gmail.com
                      .order-delivery-item
                        span Способ доставки
                        div
                          span Доставка курьером
                      .order-delivery-item
                        span Адрес доставки
                        div
                          span г. Омск, Омская обл., ул. Фрунзе, 101, оф. 32
                          a(href="") Показать на карте
                      .order-delivery-item
                        span Время работы пункта самовывоза
                        div
                          span пн-вс: 10:00-21:00;
                      .order-delivery-item
                        span Способ оплаты
                        div
                          span Наличными или банковской картой
                    .col-sm-5
                      .order-details-item
                        span Товаров в заказе:
                        span
                        span 1
                      .order-details-item
                        span Общая стоимость:
                        span
                        span 1500 ₽
                      .order-details-item
                        span Скидка по промокоду:
                        span
                        span 100 ₽
                      .order-details-item
                        span Общая скидка:
                        span
                        span 100 ₽
                      .order-details-item
                        span Доставка (Курьером)
                        span
                        span 200 ₽
                      .order-details-item.order-details-item--total
                        span ИТОГО К ОПЛАТЕ:
                        span
                        span 1600 ₽
                .order-items
                  .order-item.not-redeemed
                    .order-item-img
                      img(src='https://kc-shoes.ru/image/cache/data/products/1538643847-606989-234x338.JPG')
                    .order-item-text
                      span.order-item-title Резиновые сапоги 
                        span Caprice
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 1500 ₽
                      .not-redeemed Не выкуплен
                        span Не подошёл размер
                    .order-item-action
                      a(href="#", data-toggle="modal", data-target="#testimonial-product") Оставить отзыв
                  .order-item
                    .order-item-img
                      img(src='./img/category/1.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки 
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                      .redeemed Выкуплен
                    .order-item-action
                      a(href="#", data-toggle="modal", data-target="#testimonial-product") Оставить отзыв
                      .order-refund
                        .checkbox
                          input.check-to-refund(name='check-to-refund', type='checkbox')
                          label(for='check-to-refund') Вернуть
                        .order-refund-reason
                          select.form-control(name="")
                            option(value="refund-reason-1") Не подошёл размер
                            option(value="refund-reason-2") Не понравился стиль
                            option(value="refund-reason-3") Обнаружен деффект
                            option(value="refund-reason-4") Другая причина
                        .order-refund-reason-other(style="display: none;")
                          input.form-control(type="text")     
                  .order-item
                    .order-item-img
                      img(src='./img/category/3.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки 
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                      .redeemed Выкуплен
                    .order-item-action
                      a(href="#", data-toggle="modal", data-target="#testimonial-product") Оставить отзыв
                      .order-refund
                        .checkbox
                          input.check-to-refund(name='check-to-refund', type='checkbox')
                          label(for='check-to-refund') Вернуть
                        .order-refund-reason
                          select.form-control(name="")
                            option(value="refund-reason-1") Не подошёл размер
                            option(value="refund-reason-2") Не понравился стиль
                            option(value="refund-reason-3") Обнаружен деффект
                            option(value="refund-reason-4") Другая причина
                        .order-refund-reason-other(style="display: none;")
                          input.form-control(type="text")     
                  .order-item
                    .order-item-img
                      img(src='./img/category/5.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки  
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                      .redeemed Выкуплен
                    .order-item-action
                      a(href="#", data-toggle="modal", data-target="#testimonial-product") Оставить отзыв
                      .order-refund
                        .checkbox
                          input.check-to-refund(name='check-to-refund', type='checkbox')
                          label(for='check-to-refund') Вернуть
                        .order-refund-reason
                          select.form-control(name="")
                            option(value="refund-reason-1") Не подошёл размер
                            option(value="refund-reason-2") Не понравился стиль
                            option(value="refund-reason-3") Обнаружен деффект
                            option(value="refund-reason-4") Другая причина
                        .order-refund-reason-other(style="display: none;")
                          input.form-control(type="text")  
                .order-refund-wrap(style="display: none")
                  a.btn.order-refund-btn(href="#", data-toggle="modal", data-target="#refund", disabled) Оформить возврат
            .order
              .order-header
                .order-header-icon(data-toggle='collapse', href='#order-31234123', role='button', aria-expanded='false', aria-controls='order-31234123')
                  <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><polygon fill="" points="36.238,44.061 24.271,32.226 36.156,20.115 37.996,21.918 27.907,32.199 38.05,42.229 "/></svg>
                .order-header-center
                  .order-header-title
                    span Заказ - 
                      b №121441
                    span от 19.03.2019
                  .order-header-status.d-block.d-sm-none
                    span.order-status--in-process
                      svg(aria-hidden='true', focusable='false', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                        path(fill='', d='M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z')
                      | в обработке
                  .order-header-img
                    img.order-item-img(src='./img/category/1.jpg')
                    img.order-item-img(src='./img/category/3.jpg')
                .order-header-status
                  span.order-status--in-process.d-none.d-sm-block
                    svg(aria-hidden='true', focusable='false', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                      path(fill='', d='M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z')
                    | в обработке
                  a.btn.mt-3(href="#") Отменить заказ
              #order-31234123.collapse.order-body
                .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                  <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="64" height="64">
                    <path fill="" d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z" class=""></path>
                  </svg>
                  p Когда Ваш заказ поступит в пункт выдачи, вам придет СМС уведомление.
                  button.close(type='button', data-dismiss='alert', aria-label='Close')
                    svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='10px', height='10px', viewBox='0 0 10 10', enable-background='new 0 0 10 10', xml:space='preserve')
                      path(fill='', d='M5.429,5l4.478-4.472c0.116-0.118,0.116-0.31,0-0.428c-0.119-0.118-0.31-0.118-0.429-0.001L5,4.571 L0.522,0.099C0.404-0.019,0.212-0.018,0.093,0.1c-0.117,0.118-0.117,0.31,0,0.428L4.571,5L0.094,9.471 c-0.117,0.118-0.117,0.31,0,0.427c0.06,0.062,0.138,0.09,0.215,0.09c0.078,0,0.154-0.028,0.214-0.088L5,5.428l4.479,4.473 c0.059,0.06,0.137,0.088,0.215,0.088c0.076,0,0.155-0.028,0.214-0.09c0.116-0.117,0.116-0.309,0-0.427L5.429,5z')
                .order-details
                  h5 Дата доставки 14.03.2019, 20:00 - 23:00
                  .row
                    .col-sm-7 
                      .order-delivery-item
                        span Получатель
                        div
                          span Евгений Криводуб 
                          span +79503325909 
                          span take2mars@gmail.com
                      .order-delivery-item
                        span Способ доставки
                        div
                          span Доставка курьером
                      .order-delivery-item
                        span Адрес доставки
                        div
                          span г. Омск, Омская обл., ул. Фрунзе, 101, оф. 32
                          a(href="") Показать на карте
                      .order-delivery-item
                        span Время работы пункта самовывоза
                        div
                          span пн-вс: 10:00-21:00;
                      .order-delivery-item
                        span Способ оплаты
                        div
                          span Наличными или банковской картой
                    .col-sm-5
                      .order-details-item
                        span Товаров в заказе:
                        span
                        span 3
                      .order-details-item
                        span Общая стоимость:
                        span
                        span 12909 ₽
                      .order-details-item
                        span Скидка КС:
                        span
                        span 1109 ₽
                      .order-details-item
                        span Скидка по промокоду:
                        span
                        span 109 ₽
                      .order-details-item
                        span Общая скидка:
                        span
                        span 1218 ₽
                      .order-details-item
                        span Доставка (Курьером)
                        span
                        span 200 ₽
                      .order-details-item.order-details-item--total
                        span ИТОГО К ОПЛАТЕ:
                        span
                        span 10109 ₽
                .order-items
                  .order-item
                    .order-item-img
                      img(src='./img/category/1.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки 
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                    .order-item-action
                  .order-item
                    .order-item-img
                      img(src='./img/category/3.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки  
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                    .order-item-action
                .order-map
            .order
              .order-header
                .order-header-icon(data-toggle='collapse', href='#order-112123', role='button', aria-expanded='false', aria-controls='order-112123')
                  <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><polygon fill="" points="36.238,44.061 24.271,32.226 36.156,20.115 37.996,21.918 27.907,32.199 38.05,42.229 "/></svg>
                .order-header-center
                  .order-header-title
                    span Заказ - 
                      b №121441
                    span от 19.03.2019
                  .order-header-status.d-block.d-sm-none
                    span.order-status--canceled
                      svg(aria-hidden='true', focusable='false', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
                        path(fill='', d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z')
                      | отменён
                  .order-header-img
                    img.order-item-img(src='./img/category/2.jpg')
                    img.order-item-img(src='./img/category/4.jpg')
                .order-header-status
                  span.order-status--canceled.d-none.d-sm-block
                    svg(aria-hidden='true', focusable='false', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 320 512')
                      path(fill='', d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z')
                    | отменён
              #order-112123.collapse.order-body
                .order-details
                  .row
                    .col-sm-7
                      .order-delivery-item
                        span Получатель
                        div
                          span Евгений Криводуб 
                          span +79503325909 
                          span take2mars@gmail.com
                      .order-delivery-item
                        span Способ доставки
                        div
                          span Доставка курьером
                      .order-delivery-item
                        span Адрес доставки
                        div
                          span г. Омск, Омская обл., ул. Фрунзе, 101, оф. 32
                          a(href="") Показать на карте
                      .order-delivery-item
                        span Время работы пункта самовывоза
                        div
                          span пн-вс: 10:00-21:00;
                      .order-delivery-item
                        span Способ оплаты
                        div
                          span Наличными или банковской картой
                    .col-sm-5
                      .order-details-item
                        span Товаров в заказе:
                        span
                        span 3
                      .order-details-item
                        span Общая стоимость:
                        span
                        span 12909 ₽
                      .order-details-item
                        span Скидка КС:
                        span
                        span 1109 ₽
                      .order-details-item
                        span Скидка по промокоду:
                        span
                        span 109 ₽
                      .order-details-item
                        span Общая скидка:
                        span
                        span 1218 ₽
                      .order-details-item
                        span Доставка (Курьером)
                        span
                        span 200 ₽
                      .order-details-item.order-details-item--total
                        span ИТОГО К ОПЛАТЕ:
                        span
                        span 10109 ₽
                .order-items
                  .order-item
                    .order-item-img
                      img(src='./img/category/2.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки 
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                    .order-item-action
                  .order-item
                    .order-item-img
                      img(src='./img/category/4.jpg')
                    .order-item-text
                      span.order-item-title Женские кроссовки  
                        span Tamaris
                      .order-item-options
                        .order-item-option Артикул
                          span 23123002
                        .order-item-option Размер
                          span 37
                        .order-item-option Цвет
                          span Бежевый
                    .order-item-price 3990 ₽
                    .order-item-action
          #personal-likes.tab-pane.fade(role='tabpanel', aria-labelledby='personal-likes-tab')
            .category-content
              .card.card--new
                img.card-img(src='./img/category/1.jpg',  data-first-src="./img/category/1.jpg", data-second-src="./img/category/1_1.jpg")
                .card-title
                  span.card-title-brand Tamaris
                  span.card-title-name Женские кроссовки
                .card-price
                  span 2990
                    span ₽
                .card-type
                  span New
                .card-size.card-size--two-col
                  span 36
                  span 36.5
                  span 37.5
                  span 38
                  span 38.5
                  span 39
                .card-extra-info  
                  a.card-preview(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
                    </svg>
                    span Быстрый просмотр
                  a.card-add-to-cart(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
                    </svg>
                  a.card-add-to-like(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
                    </svg>
              .card.card--new
                img.card-img(src='./img/category/2.jpg',  data-first-src="./img/category/2.jpg", data-second-src="./img/category/2_2.jpg")
                .card-title
                  span.card-title-brand Tamaris
                  span.card-title-name Женские кроссовки
                .card-price
                  span 5990
                    span ₽
                .card-type
                  span New
                .card-size.card-size--two-col
                  span 36
                  span 36.5
                  span 37.5
                  span 38
                  span 38.5
                  span 39
                .card-extra-info  
                  a.card-preview(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
                    </svg>
                    span Быстрый просмотр
                  a.card-add-to-cart(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
                    </svg>
                  a.card-add-to-like(href="")
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
                    </svg>
          #personal-profile.tab-pane.fade(role='tabpanel', aria-labelledby='personal-profile-tab')
            .personal-profile-section
                .personal-discount-card
                  .personal-discount-card-header
                    span Карта - №1000001149450
                  .personal-discount-card-text
                    .item
                      span Потрачено 
                      span
                      span 1400 ₽
                    .item
                      span Номинал
                      span
                      span 5 %
                    .item
                      span До 10%
                      span
                      span 10000 ₽
                    .item
                      span Бонусы
                      span
                      span 300
                .personal-profile-section
                  h4 Основные данные
                  form.personal-form
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='fio') Ф.И.О.
                      .col-9.col-sm-4
                        input#fio.form-control(type='text', value='Иванов')
                      .col-9.col-sm-3.offset-3.mt-2.offset-md-0.mt-md-0
                        input#fio.form-control(type='text', value='Иван')
                      .col-9.col-sm-3.offset-3.mt-2.offset-md-0.mt-md-0
                        input#fio.form-control(type='text', value='Иванович')
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='personal-sex') Пол
                      .col-sm-10.form-inline
                        .form-check.mr-3
                          input.form-control.is-invalid(id='personal-sex-1', name='personal-sex', type='radio')
                          label(for='personal-sex-1') Женский
                          .invalid-feedback You must agree before submitting.
                        .form-check
                          input.form-control.is-invalid(id='personal-sex-2', name='personal-sex', type='radio')
                          label(for='personal-sex-2') Мужской
                          .invalid-feedback You must agree before submitting.
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='personal-birthady') Размер обуви
                      .col-9.col-sm-2
                        select#size.form-control
                          option(value="35") 35
                          option(value="36") 36
                          option(value="37") 37
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='personal-birthady') Дата рождения
                      .col-9.col-sm-4
                        input.form-control(type="date")
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='phone') Телефон
                      .col-9.col-sm-4
                        input#phone.form-control.is-invalid(type='text', value='+7 (999) 999 99 99')
                        .invalid-feedback Введите корректный номер телефона
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='email') E-mail
                      .col-9.col-sm-5
                        input#email.form-control(type='text', value='your@email.ru')
                        .invalid-feedback Введите корректный email
                .personal-profile-section
                  h4 Адреса
                  form.personal-form.offset-sm-2.pl-1
                    .personal-address-items
                      .personal-address
                        input(id='personal-address-1', name='personal-address', type='radio', checked)
                        label(for='personal-address-1') Омская обл, Омск, Фрунзе ул 101
                      .personal-address
                        input(id='personal-address-2', name='personal-address', type='radio')
                        label(for='personal-address-2') Омская обл, Омск, ул Пушкина дом Колотушкина
                    a.link.mt-3(href="", data-toggle="modal", data-target="#new-address") Добавить новый адрес
                .personal-profile-section
                  h4 Пароль
                  form.personal-form
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='password') Пароль
                      .col-9.col-sm-5
                        input#password.form-control(type='password', value='')
                    .form-group.row
                      label.col-3.col-sm-2.col-form-label(for='password2') Подтвердить
                      .col-9.col-sm-5
                        input#password2.form-control(type='password', value='')
                    .form-group.row
                      .col-sm-5.offset-md-2
                        a.btn(href="") Сохранить
          #personal-subscribe.tab-pane.fade(role='tabpanel', aria-labelledby='personal-subscribe-tab')
            .row
              .col-md-6
                .personal-subscribe
                  p Будьте в курсе новых поступлений, акций и распродаж. 
                  p Рассылка происходит раз в месяц.
                  form.personal-form.mt-4
                    .form-group
                      input.form-control(id='personal-subscribe-sms', name='personal-subscribe-sms', type='checkbox')
                      label.col-form-label(for='personal-subscribe-sms') SMS рассылка
                    .form-group
                      input.form-control(id='personal-subscribe-email', name='personal-subscribe-email', type='checkbox')
                      label.col-form-label(for='personal-subscribe-email') E-mail рассылка
                    a.btn.mt-4(href="") Сохранить 
              .col-md-6
                img(src="img/personal-subscribe.jpg", alt="", class="img-fluid")  
include shared/footer
include shared/modal/allmodals