include shared/header
include shared/breadcrumb
main
  .container-fluid
    .product
      .product-photos
        .product-zoom(data-zoom-image='img/large/image1.jpg')
          img.zoom-img(src='img/small/image1.jpg')
        .product-slider.owl-carousel.owl-theme-product
          .product-slide-item(data-zoom-image='img/large/image1.jpg')
            img.zoom-img(src='img/small/image1.jpg')
          .product-slide-item(data-zoom-image='img/large/image2_2.jpg')
            img.zoom-img(src='img/small/image2.jpg')
          .product-slide-item(data-zoom-image='img/large/image3.jpg')
            img.zoom-img(src='img/small/image3.jpg')
          .product-slide-item(data-zoom-image='img/large/image4.jpg')
            img.zoom-img(src='img/small/image4.jpg')
          .product-slide-item(data-zoom-image='img/large/image5.jpg')
            img.zoom-img(src='img/small/image5.jpg')
          .product-slide-item(data-zoom-image='img/large/image6.jpg')
            img.zoom-img(src='img/small/image6.jpg')
          .product-slide-item(data-zoom-image='img/large/image7.jpg')
            img.zoom-img(src='img/small/image7.jpg')
          .product-slide-item(data-zoom-image='img/large/image8.jpg')
            img.zoom-img(src='img/small/image8.jpg')
      .product-rating
        .product-rating-stars
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
        a(href="") 5 отзывов
      h1.product-title Женские кроссовки
        span Tamaris 
      span.product-articul
        | Артикул
        span PM18-172055-111
      .product-price
        .price.price--sale
          span 
            | 5 790
            small ₽
          span.price-badge-discount -10%
        .price.price--sale
          span
            | 4 990
            small ₽
          span.price-badge-discount -33%
        .price.price--total
            span
              | 2 990
              small ₽
      .product-promo
        span.product-promo-title 30% доп. скидка по 
          a.cpipc-open(href="#") Промокоду
        .product-promo-content
          span.cpipc-price 2 990
            small ₽
          a.cpipc-close(href="#").cpipc-close
          p.cpipc-text Цена с доп. скидкой -30% по промокоду 
            span PMSALE30
          .promo-timer-numbers
            span 02
            span 06
            span 45
          a.btn.btn-block.mt-3.mb-3.cpipc-apply(href="#") Применить
          .cpipc-view-all  
            a.product-link(href='#') Все товары акции
        .product-credit
          | Или
          span 395
          | ₽ в месяц.
          a.product-link(href='#') Подробнее
      .product-options
        span.product-options-title Варианты модели
        div
          .product-options-item.active
            img(src='img/small/image1.jpg')
          .product-options-item
            img(src='img/small/image1_2.jpg')
          .product-options-item
            img(src='img/small/image1_3.jpg')
      .product-size
        span.product-size-title Размеры
        .product-size-items
          .product-size-item.active 36
          .product-size-item 36.5
          .product-size-item 37
          .product-size-item 37.5
          .product-size-item 38
          .product-size-item 38.5
          .product-size-item 39
          .product-size-item 39.5
          .product-size-item 40
        .product-size-help
          a.product-link(href='#', for='product-checkbox') Наличие размеров в магазине
          a.product-link(href='#', target='blank') Как выбрать размер
      .product-add
        a.btn.product-add-to-cart(href='') 
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
          </svg>
          span Добавить в корзину
        a.product-add-to-like(href='') 
          <svg id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.18 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271 c0.263,0.269,0.623,0.422,0.988,0.422 c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.95 c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.17 c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176 c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"></path>
          </svg>
    .product-info.row
      .col-lg-3.offset-lg-1.order-lg-2
        .product-delivery
          h4.product-delivery-title Доставка
          a.product-delivery-city(href="#")
            svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
              path(fill='', d='M31.999,9.806c9.128,0,16.554,7.428,16.554,16.56c0,13.604-14.906,26.887-15.539,27.446 c-0.289,0.257-0.651,0.383-1.015,0.383c-0.36,0-0.723-0.126-1.011-0.383c-0.636-0.559-15.541-13.842-15.541-27.446 C15.447,17.234,22.874,9.806,31.999,9.806 M31.999,7.806c-10.229,0-18.552,8.326-18.552,18.56 c0,14.529,15.559,28.367,16.221,28.948c0.633,0.564,1.465,0.881,2.331,0.881c0.867,0,1.699-0.315,2.343-0.888 c1.655-1.461,16.211-14.72,16.211-28.941C50.553,16.132,42.229,7.806,31.999,7.806L31.999,7.806z')
              path(fill='', d='M31.999,21.784c2.523,0,4.568,2.044,4.568,4.568c0,2.521-2.045,4.567-4.568,4.567 c-2.521,0-4.566-2.046-4.566-4.567C27.433,23.829,29.478,21.784,31.999,21.784 M31.999,19.784c-3.621,0-6.566,2.946-6.566,6.568 c0,3.621,2.946,6.567,6.566,6.567c3.622,0,6.568-2.946,6.568-6.567C38.567,22.73,35.621,19.784,31.999,19.784L31.999,19.784z')
            span Нижний новгород
          .product-delivery-type
            .product-delivery-type-item
              span.cpdti-title Самовывоз
                span 300 ₽
              span.cpdti-date  7 октября
              span.cpdti-point 26 пунктов выдачи
              span.cpdti-option.option-yes Доступна примерка
            .product-delivery-type-item
              span.cpdti-title Курьером
                span 400 ₽
              span.cpdti-date  7 октября
              span.cpdti-option.option-yes Доступна примерка
            .product-delivery-type-item
              span.cpdti-title Почтой России
                span 200 ₽
              span.cpdti-date 7 октября
              span.cpdti-option.option-no Примерка не доступна
            .product-delivery-free
              p
                span Бесплатно
                | По предоплате
              a(href='javascript:;') Подробнее о доставке  
        .product-additional
          .product-payment
            img(src='img/svg/advantages-payment-after-2.svg')
            p Оплата
              br
              | после примерки
          .product-fitting
            img(src='img/svg/advantages-brand-2.svg')
            p 100% оригинальные
              br
              | бренды
          .product-return
            img(src='img/svg/advantages-return-2.svg')
            p Возврат
              br
              | без причин 
      .col-lg-8
        h2.product-headline.mt-lg-0 Описание
        p.product-info-text Женские сандалии от популярного бренда Германии PM Shoes. Верх и материал подкладки этих сандалий изготовлены из натуральной кожи в сером цвете. Превосходно подойдут на лето и станут неповторимым украшением к Вашему стилю.
        h2.product-headline Характеристики
        ul.product-feature-list
          li.product-feature-item
            p.product-feature-name-trait Бренд
            hr.product-feature-hr-trait
            p.product-feature-name Caprice
          li.product-feature-item
            p.product-feature-name-trait Cтиль
            hr.product-feature-hr-trait
            p.product-feature-name спортивный
          li.product-feature-item
            p.product-feature-name-trait Застежка
            hr.product-feature-hr-trait
            p.product-feature-name на шнурках
          li.product-feature-item
            p.product-feature-name-trait Носочная часть
            hr.product-feature-hr-trait
            p.product-feature-name круглый нос
          li.product-feature-item
            p.product-feature-name-trait Материал верха
            hr.product-feature-hr-trait
            p.product-feature-name натуральная кожа
          li.product-feature-item
            p.product-feature-name-trait Материал подкладки
            hr.product-feature-hr-trait
            p.product-feature-name натуральная кожа
          li.product-feature-item
            p.product-feature-name-trait Доп. Материал подкладки
            hr.product-feature-hr-trait
            p.product-feature-name искусcтвенная кожа
          li.product-feature-item
            p.product-feature-name-trait Материал стельки
            hr.product-feature-hr-trait
            p.product-feature-name натуральная кожа
          li.product-feature-item
            p.product-feature-name-trait Высота платформы
            hr.product-feature-hr-trait
            p.product-feature-name 2 см
          li.product-feature-item
            p.product-feature-name-trait Высота обуви
            hr.product-feature-hr-trait
            p.product-feature-name 4,5 см
          li.product-feature-item
            p.product-feature-name-trait Полнота
            hr.product-feature-hr-trait
            p.product-feature-name средняя (G)
          li.product-feature-item
            p.product-feature-name-trait Производитель
            hr.product-feature-hr-trait
            p.product-feature-name Германия
          li.product-feature-item
            p.product-feature-name-trait Изготовитель
            hr.product-feature-hr-trait
            p.product-feature-name Пакистан
          li.product-feature-item
            p.product-feature-name-trait Вес обуви
            hr.product-feature-hr-trait
            p.product-feature-name 260 гр
          li.product-feature-item
            p.product-feature-name-trait Размерность
            hr.product-feature-hr-trait
            p.product-feature-name размер в размер
          li.product-feature-item
            p.product-feature-name-trait Сезон
            hr.product-feature-hr-trait
            p.product-feature-name Лето
          li.product-feature-item
            p.product-feature-name-trait Особенности
            hr.product-feature-hr-trait
            p.product-feature-name 
              span комбинация материалов
              span комбинация цветов
              span комбинация всего чего только можно
          li.product-feature-item
            p.product-feature-name-trait Цвет
            hr.product-feature-hr-trait
            p.product-feature-name Белый
        .product-feature-description
          .product-feature-logo
            img(src='img/ricker-logo.png', alt='')
          div
            h4.product-headline Технология
            p.product-text Климатическая мембрана, многослойная ткань с микроскопическими порами. Внутри мембранной обуви Rieker образуется своеобразный микроклимат, ноги не мерзнут и не потеют на протяжении всего времени носки.
              a.link(href="#") Подробнее
        .product-feature-description
          .product-feature-logo
            img(src='img/ger-logo.png')
          div
            h4.product-headline О бренде PM Shoes
            p.product-text PM Shoes – это бренд удобной и демократичной немецкой обуви. Все модели производятся из натуральных материалов. Компания выпускает мужские и женские сезонные коллекции. Идея делать комфортабельную и современную обувь возникла у создателей бренда в 2008 году. До этого предприятие изготавливало обувь для известных европейских брендов и не имело собственной торговой марки. В 2013 году торговая марка PM Shoes былазарегистрирована.
              a.link(href='javascript:;') Все товары бренда
    section.product-tags
      .tags-slider
        a.tag-item(href='javascript:;') Кожаная
        a.tag-item(href='javascript:;') Больших размеров
        a.tag-item(href='javascript:;') Недорогая
        a.tag-item(href='javascript:;') Весна-лето
        a.tag-item(href='javascript:;') Летняя
        a.tag-item(href='javascript:;') Итальянская
        a.tag-item(href='javascript:;') Кожаная
        a.tag-item(href='javascript:;') Больших размеров
        a.tag-item(href='javascript:;') Недорогая
        a.tag-item(href='javascript:;') Весна-лето
        a.tag-item(href='javascript:;') Летняя
        a.tag-item(href='javascript:;') Итальянская
        a.tag-item(href='javascript:;') Кожаная
        a.tag-item(href='javascript:;') Больших размеров
        a.tag-item(href='javascript:;') Недорогая
        a.tag-item(href='javascript:;') Весна-лето
        a.tag-item(href='javascript:;') Летняя
        a.tag-item(href='javascript:;') Итальянская
    .product-reviews
      .product-reviews-header
        .product-reviews-total
          | 4.3
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path>
          </svg>
        .product-reviews-title Отзывы (3)
        a.btn(href="") Оставить отзыв
      include shared/testimonial-item
      include shared/testimonial-item
      include shared/testimonial-item
section.mb-5
  .container-fluid
    h3.section-title 
      span Вам может понравиться
    .interesting-filters
      a.interesting-filters-link.active(href='javascript:;') Бренд
      a.interesting-filters-link(href='javascript:;') Категория
      a.interesting-filters-link(href='javascript:;') Цвет
    .card-slider.owl-carousel.owl-theme-card
      include shared/cards

section.mb-5
  .container-fluid
    h3.section-title 
      span Вы смотрели
    .card-slider.owl-carousel.owl-theme-card
      include shared/cards
include shared/footer
include shared/modal/allmodals