doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/style-mobile.css', type='text/css')
  body
    .js-shadow
    include shared/header
    main.card-index
      .wrapper
        .card-product
          h4.card-product__title Сандалии PM Shoes
          p.card-product__articul
            | Артикул
            span.card-product__articul.card-product__articul--span PM18-172055-111
          .card-product-slider
            .card-product__view.first-type-slider
              .item
                img(src='img/small/image1.jpg')
              .item
                img(src='img/small/image1.jpg')
              .item
                img(src='img/small/image1.jpg')
          .card-product__info
            p.card-product__price
              | 4990 р
              span.card-product__price.card-product__price--span 5790 р
            form.card-product__form(action='')
              p.card-product__text.card-product-actions__text--size Размеры
              .card-product-size
                .item
                  p 36
                .item
                  p 37
                .item
                  p 38
                .item
                  p 39
                .item
                  p 40
                .item
                  p 41
                .item
                  p 42
              a.card-product__link--size(href='javascript:;') Как выбрать размер
              a.card-product__link--size(href='javascript:;') Наличие размеров в магазинах
              .flex-row
                button.card-product__submit(type='button') Добавить в корзину
                a(href='javascript:;')
                  .card-product__like
                    img.svg-icon(src='img/svg/heart.svg')
        .card-sidebar
          h4.card-sidebar__title Доставка
          a.card-sidebar__city(href='javascript')
            img.svg-icon(src='img/svg/location.svg')
            | Нижний новгород
          .card-sidebar__block
            p.card-sidebar__title--small
              | Самовывоз
              span.card-sidebar__span 300 р.
            p.card-sidebar__text 7 октября
            p.card-sidebar__text 26 пунктов выдачи
            p.card-sidebar__text
              img.svg-icon(src='img/svg/yes.svg')
              | доступна примерка
          .card-sidebar__block
            p.card-sidebar__title--small
              | Почтой России
              span.card-sidebar__span 200 р.
            p.card-sidebar__text 7 октября
            p.card-sidebar__text
              img.svg-icon(src='img/svg/close.svg')
              | без примерки
          .card-sidebar__block
            p.card-sidebar__title--small
              | Курьером
              span.card-sidebar__span 400 р.
            p.card-sidebar__text 7 октября
            p.card-sidebar__text
              img.svg-icon(src='img/svg/yes.svg')
              | доступна примерка
          .card-sidebar__block
            p.card-sidebar__text.card-sidebar__text--important
              | По предоплате доставка
              br
              span.card-sidebar__span.card-sidebar__span--important Бесплатно
          a.card-sidebar__link(href='javascript:;') Подробнее о доставке
        .card-product-tabs
          a.card-product-tabs__link.card-product-tabs__link--active(href='javascript:;') Особенности
          a.card-product-tabs__link(href='javascript:;')
            | Отзывов(2)
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
        #card-product-feature.card-product-feature.active
          ul.card-product-feature__list
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Ультрамодный
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Ультрамодный
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Ультрамодный
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Ультрамодный
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Ультрамодный
            li.card-product-feature__item
              p.card-product-feature__name-trait Бренд
              hr.card-product-feature__hr-trait
              p.card-product-feature__name PM Shoes
            li.card-product-feature__item
              p.card-product-feature__name-trait Cтильfgsdfg
              hr.card-product-feature__hr-trait
              p.card-product-feature__name Искуственная кожа
          button.card-product-feature__toggler(role='button')
            img(src='img/svg/arrow-down.svg')
          .card-product-feature__brend-info
            h4.card-product-feature__info-title Описание
            p.card-product-feature__info-text
              | Женские сандалии от популярного бренда Германии PM Shoes. Верх и материал подкладки этих сандалий изготовлены из натуральной кожи в сером цвете. Превосходно подойдут на лето и станут неповторимым украшением к Вашему стилю.
            .card-product-feature__brend-info__logo
              img(src='img/ger-logo.png')
            a.card-product-feature__brend-info__link(href='javascript:;') Все товары бренда
        #card-product-reviews.card-product-reviews
      section.card-tags
        .wrapper
          .card-slider__block
            .card-slider.first-type-slider
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM ShoesPM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обувь PM Shoes
              .item
                p.card-slider__text Женская обу
      section.interesting
        .interesting__title-block
          hr.interesting__title-hr
          h3.interesting__title Вам может понравиться
          hr.interesting__title-hr
        .interesting-filters
          a.interesting__link.interesting__link--active(href='javascript:;') Бренд
          a.interesting__link(href='javascript:;') Категория
          a.interesting__link(href='javascript:;') Цвет
        #interesting-slider.product-slider1
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
      section.you-see
        .you-see__title-block
          hr.you-see__title-hr
          h3.you-see__title Вы смотрели
          hr.you-see__title-hr
        #you-see-slider.product-slider1
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
              .product-slider__type.product-slider__type--new
                p.product-slider__type-text NEW
          a(href='javascript:;')
            .item
              img.product-slider__img(src='img/product1.png')
              p.product-slider__name
                | Лодочки 
                span.product-slider__price--span vitacci
              hr.product-slider__hr
              p.product-slider__price
                span.product-slider__price--span 2990
                |  руб
    include shared.footer
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/main-mobile.js')