doctype html
html(lang='ru')
  head
    title Интернет магазин обуви
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/style-mobile.css', type='text/css')
  body
    .js-shadow
    include shared/header
    main
      section.top
        .main-slider.first-type-slider.owl-theme
          .item
            img.main-slider__img(src='img/main-bg.jpg')
          .item
            img.main-slider__img(src='img/main-bg.jpg')
          .item
            img.main-slider__img(src='img/main-bg.jpg')
      include shared/nav
      section.categories
        .categories__slider
          .categories-slider.second-type-slider
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
            a.categories-slider__link(href='javascript:;')
              .item
                img.main-slider__img(src='img/cat-slider1.png')
                p.categories-slider__text 600 товаров
        a.useful-shoes-list__button(href='javascript:;') все бренды
      section.new-product
        .new-product__title-block
          hr.new-product__title-hr
          h3.new-product__title Новинки недели
          hr.new-product__title-hr
        .row
          .col-12
            .new-product__slider
              .product-slider.second-type-slider
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--new
                      p.product-slider__type-text NEW
          .col-6
            a(href='javascript:;')
              .new-product-banner(style="background-image: url('img/banner2.png');height: 203px;")
          .col-6
            a(href='javascript:;')
              .new-product-banner(style="background-image: url('img/banner1.png');height: 203px;")
      section.actual-discount
        .actual-discount__title-block
          hr.actual-discount__title-hr
          h3.actual-discount__title Актуально со скидкой
          hr.actual-discount__title-hr
        .row
          .col-12
            .actual-discount__slider
              .product-slider.second-type-slider
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
                a(href='card-mobile.html')
                  .item
                    img.product-slider__img(src='img/product1.png')
                    p.product-slider__name
                      | Лодочки 
                      span.product-slider__price--span vitacci
                    hr.product-slider__hr
                    p.product-slider__price
                      span.product-slider__price--span 2990
                      |  руб
                    .product-slider__type.product-slider__type--actual-discount
                      p.product-slider__type-text NEW
          .col-6
            a(href='javascript:;')
              .actual-discount-banner(style="background-image: url('img/banner3.png');height: 203px;")
          .col-6
            a(href='javascript:;')
              .actual-discount-banner(style="background-image: url('img/banner2.png');height: 203px;")
      section.trends
        .trends__title-block
          hr.trends__title-hr
          h3.trends__title Тренды
          hr.trends__title-hr
        .trends__slider.first-type-slider
          a(href='javascript:;')
            #trends__slider1.item
              img.trends__img(src='img/trends1.jpg')
          a(href='javascript:;')
            #trends__slider2.item
              img.trends__img(src='img/trends1.jpg')
          a(href='javascript:;')
            #trends__slider3.item
              img.trends__img(src='img/trends1.jpg')
          a(href='javascript:;')
            #trends__slider4.item
              img.trends__img(src='img/trends1.jpg')
          a(href='javascript:;')
            #trends__slider5.item
              img.trends__img(src='img/trends1.jpg')
          a(href='javascript:;')
            #trends__slider6.item
              img.trends__img(src='img/trends1.jpg')
        a.categories__button(href='javascript:;') все тренды
      section.useful-shoes
        .useful-shoes__title-block
          hr.useful-shoes__title-hr
          h3.useful-shoes__title Полезное про обувь
          hr.useful-shoes__title-hr
        a(href='javascript:;')
          .useful-shoes-post
            img.useful-shoes-post__banner(src='img/us-shoes-banner.jpg')
            h4.useful-shoes-post__title
              | Объект желания: 8 пар дорогой обуви,
              | которые нужны каждой
            p.useful-shoes-post__text
              | Каждый человек под размером обуви подразумевает длину стопы, но не все догадываются, что размер обуви – это её длина и ширина.
        a.useful-shoes-list__button(href='javascript:;') Все статьи
      section.advantages
        .advantages__item
          h4.advantages__title Наши преимущества
        .advantages__item
          .advantages__icon
            img.svg-icon(src='img/svg/payment.svg')
          .advantages__block-text
            h4.advantages__title--item
              | Оплата
              br
              | после примерки
        .advantages__item
          .advantages__icon
            img.svg-icon(src='img/svg/brend.svg')
          .advantages__block-text
            h4.advantages__title--item 100% оригинальные бренды
        .advantages__item
          .advantages__icon
            img.svg-icon(src='img/svg/14po.svg')
          .advantages__block-text
            h4.advantages__title--item
              | Возврат
              br
              | 						без причин
        .advantages__item
          .advantages__icon
            img.svg-icon(src='img/svg/shield.svg')
          .advantages__block-text
            h4.advantages__title--item
              | Возврат товаров
              br
              | 					с браком
        .advantages__item
          .advantages__icon
            img.svg-icon(src='img/svg/free.svg')
          .advantages__block-text
            h4.advantages__title--item
              | Бесплатная
              br
              | 					доставка
      section.reviews
        .reviews__title-block
          hr.reviews__title-hr
          h3.reviews__title Отзывы покупателей
          hr.reviews__title-hr
        .reviews__slider-block
          .reviews__slider.second-type-slider
            .item
              .reviews__header
                .reviews__icon(style='background: #ff91a4;') И
                .reviews__block
                  p.reviews__name Ирина
                  p.reviews__city Москва
                .reviews__block
                  p.reviews__date 18 сентября 2008
                  .reviews__action-block
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/like.svg')
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/dislike.svg')
              .reviews__content
                .reviews__tags
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                p.reviews__text
                  | Здравствуйте. Спасибо за качественную обувь и отличную
                  | работу вашего магазина. Заказывали обувь с доставкой
                  | курьером и возможностью примерки перед оплатой это
                  | очень удобно, т.к. есть возможность частичного выкупа.
                a.reviews__link(href='javascript:;') Читать отзыв
            .item
              .reviews__header
                .reviews__icon(style='background: #ff91a4;') с
                .reviews__block
                  p.reviews__name Ирина
                  p.reviews__city Москва
                .reviews__block
                  p.reviews__date 18 сентября 2008
                  .reviews__action-block
                    a.reviews__action(href='javascript:;')
                      | 11 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/like.svg')
                    a.reviews__action(href='javascript:;')
                      | 4
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/dislike.svg')
              .reviews__content
                .reviews__tags
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                p.reviews__text
                  | Здравствуйте. Спасибо за качественную обувь и отличную
                  | работу вашего магазина. Заказывали обувь с доставкой
                  | курьером и возможностью примерки перед оплатой это
                  | очень удобно, т.к. есть возможность частичного выкупа.
                a.reviews__link(href='javascript:;') Читать отзыв
            .item
              .reviews__header
                .reviews__icon(style='background: #ff91a4;') р
                .reviews__block
                  p.reviews__name Ирина
                  p.reviews__city Москва
                .reviews__block
                  p.reviews__date 18 сентября 2008
                  .reviews__action-block
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/like.svg')
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/dislike.svg')
              .reviews__content
                .reviews__tags
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                p.reviews__text
                  | Здравствуйте. Спасибо за качественную обувь и отличную
                  | работу вашего магазина. Заказывали обувь с доставкой
                  | курьером и возможностью примерки перед оплатой это
                  | очень удобно, т.к. есть возможность частичного выкупа.
                a.reviews__link(href='javascript:;') Читать отзыв
            .item
              .reviews__header
                .reviews__icon(style='background: #ff91a4;') л
                .reviews__block
                  p.reviews__name Ирина
                  p.reviews__city Москва
                .reviews__block
                  p.reviews__date 18 сентября 2008
                  .reviews__action-block
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/like.svg')
                    a.reviews__action(href='javascript:;')
                      | 0 
                      span.reviews__action--span
                        img.svg-icon(src='img/svg/dislike.svg')
              .reviews__content
                .reviews__tags
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                  p.item
                    | товар 
                    span.reviews__tags--span 5
                p.reviews__text
                  | Здравствуйте. Спасибо за качественную обувь и отличную
                  | работу вашего магазина. Заказывали обувь с доставкой
                  | курьером и возможностью примерки перед оплатой это
                  | очень удобно, т.к. есть возможность частичного выкупа.
                a.reviews__link(href='javascript:;') Читать отзыв
        a.reviews__button(href='javascript:;') все отзывы
      section.info
        .info__title-block
          hr.info__title-hr
          h3.info__title
            | ИНТЕРНЕТ МАГАЗИН
            br
            | ОБУВИ
            | 			«КС-НЕМЕЦКАЯ ОБУВЬ»
            br
            | KC-SHOES.RU
          hr.info__title-hr
    include shared/footer
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/main-mobile.js')
