form.search-form
  input.search-form__input(placeholder='Поиск по каталогу и бренду')
  button.search-form__submit
    img(src='img/svg/search.svg')
header.nav
  .wrapper
    .wrapper-block
      .htop__nav--mob.fl
        span
      .nav__logo
      .nav-icons
        a.nav-icons__item.nav-icons__item--search(href='javascript:;')
          img(src='img/svg/search.svg')
        a.nav-icons__item(href='javascript:;')
          img(src='img/svg/basket.svg')
.left-menu
  a.left-menu__link.left-menu__link--phone(href='javascript:;') 8 800 700 27 68
  ul.left-menu__list
    li.left-menu__item.js-content
      a.left-menu__link(href='javascript:;') Женская обувь
    li.left-menu__item.js-first-level
      a.left-menu__link(href='javascript:;') Мужская обувь
    li.left-menu__item.js-first-level
      a.left-menu__link(href='javascript:;') Сумки
    li.left-menu__item.js-first-level
      a.left-menu__link(href='javascript:;') Бренды
    li.left-menu__item.js-first-level
      a.left-menu__link(href='javascript:;') Акции
    li.left-menu__item.js-first-level
      a.left-menu__link(href='javascript:;') Новинки
    li.left-menu__item.js-first-level
      a.left-menu__link.left-menu__link--bold(href='javascript:;') Распродажа
  a.left-menu__link(href='javascript:;') Личный кабинет
  a.left-menu__link.left-menu__link--border-bot(href='javascript:;') Омск
  a.left-menu__link(href='javascript:;') Доставка и оплата
  a.left-menu__link(href='javascript:;') Тренды и новости
  a.left-menu__link(href='javascript:;') О компании