nav.nav
  .navbar
    ul.navbar__list
      li.navbar__item
        a.navbar__link(href='javascript:;') Женская обувь
      li.navbar__item
        a.navbar__link(href='javascript:;') Мужская обувь
      li.navbar__item
        a.navbar__link(href='javascript:;') Сумки
      li.navbar__item
        a.navbar__link(href='javascript:;') Бренды
      li.navbar__item
        a.navbar__link(href='javascript:;') Акции
      li.navbar__item
        a.navbar__link(href='javascript:;') Новинки
      li.navbar__item
        a.navbar__link(href='javascript:;') Распродажа