// Core
@import "core/core";

// Components
@import "desktop/components/component";

// Layout
@import "desktop/layout/layout";

// Pages
@import "desktop/pages/pages";


.wrapper {
  width: 1280px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}