.wrapper
  .breadcrumb
    ul.breadcrumb__list
      li.breadcrumb__item.breadcrumb__item--home
        a.breadcrumb__link(href='javascript:;')
          img(src='img/svg/home.svg')
      li.breadcrumb__item
        a.breadcrumb__link(href='javascript:;') Женская обувь
      li.breadcrumb__item
        a.breadcrumb__link(href='javascript:;') PM Shoes
      li.breadcrumb__item
        a.breadcrumb__link(href='javascript:;') PM Shoes
      li.breadcrumb__item
        a.breadcrumb__link(href='javascript:;') PM Shoes