.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>


.card.card--new
  img.card-img(src='./img/category/1.jpg',  data-first-src="./img/category/1.jpg", data-second-src="./img/category/1_1.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-type
    span New
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--sale
  img.card-img(src='./img/category/2.jpg',  data-first-src="./img/category/2.jpg", data-second-src="./img/category/2_2.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span.price--through 2990
      span ₽
    span.price--sale 2990
      span ₽
  .card-type
    span -10%
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--new
  img.card-img(src='./img/category/4.jpg',  data-first-src="./img/category/4.jpg", data-second-src="./img/category/4_4.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 5990
      span ₽
  .card-type
    span New
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--sale
  img.card-img(src='./img/category/5.jpg',  data-first-src="./img/category/5.jpg", data-second-src="./img/category/5_5.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span.price--through 3990
      span ₽
    span.price--through 3500
      span ₽
    span.price--promo 2990
      span ₽
  .card-type
    span -10%
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>
  .card-promo
      div
        .card-promo-title Дополнительная скидка -10%
        .card-promo-timer 11:20
.card.card--new
  img.card-img(src='./img/category/1.jpg',  data-first-src="./img/category/1.jpg", data-second-src="./img/category/1_1.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-type
    span New
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--sale
  img.card-img(src='./img/category/2.jpg',  data-first-src="./img/category/2.jpg", data-second-src="./img/category/2_2.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span.price--through 2990
      span ₽
    span.price--sale 2990
      span ₽
  .card-type
    span -10%
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card
  img.card-img(src='./img/category/3.jpg',  data-first-src="./img/category/3.jpg", data-second-src="./img/category/3_3.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 2990
      span ₽
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--new
  img.card-img(src='./img/category/4.jpg',  data-first-src="./img/category/4.jpg", data-second-src="./img/category/4_4.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span 5990
      span ₽
  .card-type
    span New
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>

.card.card--sale
  img.card-img(src='./img/category/5.jpg',  data-first-src="./img/category/5.jpg", data-second-src="./img/category/5_5.jpg")
  .card-title
    span.card-title-brand Tamaris
    span.card-title-name Женские кроссовки
  .card-price
    span.price--through 3990
      span ₽
    span.price--through 3500
      span ₽
    span.price--promo 2990
      span ₽
  .card-type
    span -10%
  .card-size.card-size--two-col
    span 36
    span 36.5
    span 37.5
    span 38
    span 38.5
    span 39
  .card-extra-info  
    a.card-preview(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M53.617,49.705l-9.885-9.675c2.581-2.919,4.157-6.72,4.157-10.884c0-9.164-7.579-16.62-16.896-16.62 c-9.316,0-16.896,7.456-16.896,16.62s7.58,16.619,16.896,16.619c3.63,0,6.989-1.144,9.746-3.067l10.079,9.865 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C54.42,51.744,54.406,50.478,53.617,49.705z M17.147,29.146 c0-7.502,6.211-13.605,13.846-13.605c7.635,0,13.846,6.103,13.846,13.605s-6.211,13.604-13.846,13.604 C23.359,42.751,17.147,36.648,17.147,29.146z M37,30h-5v5h-2v-5h-5v-2h5v-5h2v5h5V30z"/>
      </svg>
      span Быстрый просмотр
    a.card-add-to-cart(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
      </svg>
    a.card-add-to-like(href="")
      <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.181 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271c0.263,0.269,0.623,0.422,0.988,0.422c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.958c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.177c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"/>
      </svg>
  .card-promo
      div
        .card-promo-title Дополнительная скидка -10%
        .card-promo-timer 11:20