ul.nav-list
  li.nav-item
    a.nav-link.nav-link--feature(href="#") Анатомическая
    span 74
  li.nav-item
    a.nav-link(href="#") Балетки
    span 166
  li.nav-item
    a.nav-link(href="#") Босоножки
    span 717
  li.nav-item
    a.nav-link(href="#") Ботильоны
    span 276
  li.nav-item
    a.nav-link(href="#") Ботинки и челси
    span 1514
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="#") Ботинки 
        span 1442
      li.nav-item
        a.nav-link.nav-link--feature(href="#") Дезерты
        span 30
      li.nav-item
        a.nav-link(href="#") Челси
        span 43
  li.nav-item
    a.nav-link(href="#") Дутики
    span 40
  li.nav-item
    a.nav-link(href="#") Кеды
    span 157
  li.nav-item
    a.nav-link(href="#") Кроссовки
    span 184
  li.nav-item
    a.nav-link(href="#") Мокасины и Топсайдеры
    span 105
    ul.nav-list-sub    
      li.nav-item
        a.nav-link(href="#") Мокасины 
        span 1100
      li.nav-item
        a.nav-link(href="#") Топсайдеры 
        span 5
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пантолеты
    span 34
  li.nav-item
    a.nav-link(href="#") Пляжная обувь
    span 101
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="#") Сабо
        span 12
      li.nav-item
        a.nav-link(href="#") Сандалии
        span 13
      li.nav-item
        a.nav-link(href="#") Сланцы
        span 64
      li.nav-item
        a.nav-link(href="#") Шлёпанцы
        span 12    
  li.nav-item
    a.nav-link(href="#") Полуботинки
    span 270
  li.nav-item
    a.nav-link(href="#") Резиновая обувь
    span 62
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="#") Резиновые Ботинки
        span 24
      li.nav-item
        a.nav-link(href="#") Резиновые Полусапожки
        span 26
      li.nav-item
        a.nav-link(href="#") Резиновые Сапоги
        span 12
  li.nav-item
    a.nav-link(href="#") Сабо
    span 256
  li.nav-item
    a.nav-link(href="#") Сандалии и Гладиаторы
    span 291
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="#") Гладиаторы 
        span 5
      li.nav-item
        a.nav-link(href="#") Сандалии
        span 286
  li.nav-item
    a.nav-link.nav-link--feature(href="#") Сапоги и Ботфорты
    span 1405
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="#") Ботфорты
        span 82
      li.nav-item
        a.nav-link.nav-link--feature(href="#") Полусапожки
        span 455
      li.nav-item
        a.nav-link(href="#") Сапоги
        span 870
  li.nav-item
    a.nav-link(href="#") Слипоны
    span 141
  li.nav-item
    a.nav-link(href="#") Тапочки
    span 105
  li.nav-item.active
    a.nav-link(href="#") Туфли
      span 2299
    ul.nav-list-sub
      li.nav-item
        a.nav-link(href="") Броги 
        span 19
      li.nav-item
        a.nav-link(href="") Дерби 
        span 61
      li.nav-item
        a.nav-link(href="") Лодочки 
        span 137
      li.nav-item
        a.nav-link(href="") Лоферы 
        span 67
      li.nav-item
        a.nav-link(href="") Оксфорды 
        span 15
      li.nav-item
        a.nav-link(href="") Слиперы 
        span 68
      li.nav-item
        a.nav-link(href="") Туфли 
        span 1952
  li.nav-item
    a.nav-link(href="#") Эспадрильи
    span 44