h3 Доставка и оплата
ul.nav
  li.nav-item
    a.nav-link(href="delivery.html") Доставка
  li.nav-item
    a.nav-link(href="payment.html") Оплата
  li.nav-item
    a.nav-link(href="refund.html") Возврат товара
  li.nav-item
    a.nav-link(href="tracking.html") Отслеживание заказа