.chc-navbar
  h2 Центр помощи клиентам

  h3 Компания
  ul.nav
    li.nav-item
      a.nav-link(href="#") О нас
    li.nav-item
      a.nav-link(href="#") Преимущества KC-Shoes
    li.nav-item
      a.nav-link(href="#") Сертификаты
    li.nav-item
      a.nav-link(href="#") Вакансии
    li.nav-item
      a.nav-link(href="#") Контакты
    li.nav-item
      a.nav-link(href="#") Отзывы

  h3 Для новых клиентов
  ul.nav
    li.nav-item
      a.nav-link(href="#") Как зарегистрироваться
    li.nav-item
      a.nav-link(href="#") Как вернуть товар
    li.nav-item
      a.nav-link(href="#") Как сделать заказ
    li.nav-item
      a.nav-link(href="#") Как примерить обувь

  h3 Доставка и оплата
  ul.nav
    li.nav-item.active
      a.nav-link(href="#") Доставка и оплата
    li.nav-item
      a.nav-link(href="#") Возврат товара
    li.nav-item
      a.nav-link(href="#") Отслеживание заказа
    li.nav-item
      a.nav-link(href="#") Предоплата