h3 Компания
ul.nav
  li.nav-item.active
    a.nav-link(href="about.html") О нас
  li.nav-item
    a.nav-link(href="about-certification.html") Сертификаты
  li.nav-item
    a.nav-link(href="about-newsandtrends.html") Тренды и новости
  li.nav-item
    a.nav-link(href="about-promo.html") Акции и скидки
  li.nav-item
    a.nav-link(href="about-sale.html") Система скидок
  li.nav-item
    a.nav-link(href="about-testimonials.html") Отзывы
  li.nav-item
    a.nav-link(href="about-partners.html") Наши партнёры
  li.nav-item
    a.nav-link(href="about-offer.html") Оферта
  li.nav-item
    a.nav-link(href="about-vacantion.html") Вакансии
  li.nav-item
    a.nav-link(href="about-contacts.html") Контакты