.chc-navbar
  h2 Центр помощи клиентам

  h3 Доставка и оплата
  ul.nav
    li.nav-item
      a.nav-link(href="delivery.html") Доставка
    li.nav-item
      a.nav-link(href="payment.html") Оплата
    li.nav-item
      a.nav-link(href="refund.html") Возврат товара
    li.nav-item
      a.nav-link(href="tracking.html") Отслеживание заказа
    

  h3 Компания
  ul.nav
    li.nav-item
      a.nav-link(href="about.html") О нас
    li.nav-item
      a.nav-link(href="#") Сертификаты
    li.nav-item
      a.nav-link(href="#") Вакансии
    li.nav-item
      a.nav-link(href="#") Контакты
    li.nav-item
      a.nav-link(href="#") Отзывы

  //Акции Наши партнёры Тренды и новости Система скидок Вакансии Оферта Отзывы Контакты

  h3 Для новых клиентов
  ul.nav
    li.nav-item
      a.nav-link(href="#") Как зарегистрироваться
    li.nav-item
      a.nav-link(href="#") Как вернуть товар
    li.nav-item
      a.nav-link(href="#") Как сделать заказ
    li.nav-item
      a.nav-link(href="#") Как примерить обувь

  