h3 Для новых клиентов
ul.nav
  li.nav-item
    a.nav-link(href="#") Как зарегистрироваться
  li.nav-item
    a.nav-link(href="#") Как вернуть товар
  li.nav-item
    a.nav-link(href="#") Как сделать заказ
  li.nav-item
    a.nav-link(href="#") Как примерить обувь