footer.footer
  .container-fluid
    .footer-block
      a.footer-brand(href='#')
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"  viewBox="0 0 10222 5840" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="">
            <polygon class="fil0" points="3,0 3,4186 2757,4186 2757,2239 4150,4186 5121,4186 3686,2241 5121,0 2177,0 829,1348 829,0 "/>
            <polygon class="fil0" points="5237,1981 5922,1981 5922,2524 5237,2524 "/>
            <polygon class="fil0" points="7551,4183 7551,4186 10191,4186 10075,4045 9967,3898 9867,3742 9778,3584 9695,3420 9625,3254 9562,3082 9512,2904 9470,2727 9437,2547 9417,2366 9406,2183 9406,2000 9417,1820 9437,1637 9470,1456 9512,1279 9562,1104 9625,932 9695,766 9778,602 9867,441 9967,288 10075,141 10191,0 7551,0 7453,116 7362,239 7276,363 7195,494 7123,627 7057,763 6996,904 6943,1046 6896,1190 6857,1337 6824,1487 6799,1637 6779,1786 6768,1939 6765,2092 6768,2244 6779,2397 6799,2547 6824,2696 6857,2846 6896,2993 6943,3137 6996,3279 7057,3420 7123,3556 7195,3690 7276,3820 7362,3945 7453,4067 "/>
            <path class="fil0" d="M158 5358l0 340 -158 0 0 -758 158 0 0 288 296 0 0 -288 158 0 0 758 -158 0 0 -340 -296 0zm1166 -284l-402 0 0 160 370 0 0 134 -370 0 0 196 421 0 0 134 -576 0 0 -758 557 0 0 134zm875 624l-147 0 0 -549 -3 0 -141 549 -155 0 -138 -549 -2 0 0 549 -148 0 0 -758 231 0 137 524 2 0 135 -524 229 0 0 758zm709 -624l-402 0 0 160 370 0 0 134 -370 0 0 196 421 0 0 134 -576 0 0 -758 557 0 0 134zm681 624l-538 0 0 -758 158 0 0 624 296 0 0 -624 158 0 0 624 74 0 0 276 -148 0 0 -142zm399 0l-158 0 0 -758 158 0 0 309 289 -309 205 0 -309 311 327 447 -204 0 -234 -332 -74 76 0 256zm641 0l-167 0 270 -758 183 0 267 758 -172 0 -49 -156 -279 0 -53 156zm95 -287l193 0 -94 -299 -2 0 -97 299zm1121 287l-155 0 0 -296 -102 0 -193 296 -194 0 214 -296c-52,-12 -97,-38 -134,-79 -38,-41 -57,-92 -57,-153 0,-40 10,-77 29,-113 20,-35 48,-63 84,-85 36,-21 78,-32 125,-32l383 0 0 758zm-155 -424l0 -203 -197 0c-25,0 -46,5 -63,15 -16,9 -29,21 -36,36 -8,15 -12,29 -12,44 0,33 10,59 31,79 21,19 52,29 91,29l186 0zm1174 -354c33,0 70,5 108,15 39,10 79,28 118,56 39,28 72,68 98,123 26,54 40,122 40,205 0,83 -14,152 -40,206 -26,54 -59,95 -99,123 -39,27 -79,46 -118,56 -39,9 -75,14 -107,14 -33,0 -69,-5 -108,-14 -39,-10 -79,-29 -118,-57 -40,-27 -73,-68 -99,-122 -26,-54 -39,-123 -39,-206 0,-83 13,-151 39,-205 26,-54 59,-95 98,-123 40,-28 79,-46 118,-56 39,-10 75,-15 109,-15zm0 664c23,0 47,-4 71,-12 23,-8 45,-23 66,-43 20,-20 37,-48 50,-82 12,-35 19,-77 19,-128 0,-50 -7,-92 -19,-127 -13,-35 -30,-63 -50,-83 -20,-20 -43,-34 -66,-42 -24,-9 -48,-13 -71,-13 -24,0 -48,4 -72,13 -23,8 -45,22 -66,42 -20,20 -37,48 -49,83 -13,35 -19,77 -19,127 0,51 6,93 19,128 12,34 29,62 49,82 21,20 43,34 67,43 23,8 47,12 71,12zm642 -349l201 0c51,0 97,9 138,27 42,18 75,44 99,79 24,35 36,77 36,126 0,48 -12,90 -36,125 -24,35 -57,61 -99,79 -41,18 -87,27 -138,27l-353 0 0 -758 570 0 0 133 -418 0 0 162zm0 131l0 201 201 0c35,0 63,-9 84,-26 21,-18 31,-43 31,-74 0,-31 -10,-56 -31,-75 -21,-18 -49,-27 -84,-27l-201 1zm846 344c-45,0 -80,-4 -105,-12l0 -135c19,9 37,13 54,13 33,0 57,-15 72,-43l3 -7 -317 -586 189 0 204 424 154 -424 181 0 -273 631c-13,30 -29,56 -50,77 -20,20 -41,36 -62,46 -20,10 -37,16 -50,16zm526 -770l369 0c57,0 103,10 138,31 35,20 59,45 74,74 14,29 21,59 21,90 0,47 -9,81 -27,103 -18,21 -40,39 -66,52 78,29 117,90 117,184 0,29 -6,58 -17,85 -12,27 -28,51 -48,71 -18,16 -34,29 -51,38 -17,10 -40,17 -70,22 -30,6 -69,8 -119,8l-321 0 0 -758zm152 627l194 0c81,0 122,-36 122,-111 0,-30 -11,-54 -33,-69 -22,-15 -49,-22 -81,-22l-202 0 0 202zm0 -330l186 0c33,0 60,-7 81,-21 20,-14 31,-35 31,-64 0,-29 -10,-50 -29,-62 -20,-13 -49,-19 -87,-19l-182 0 0 166zm768 -23l182 0c62,0 111,14 147,42 36,28 61,61 74,98 14,37 21,71 21,101 0,49 -10,92 -28,129 -19,37 -47,65 -82,85 -35,19 -77,29 -125,29l-347 0 0 -758 158 0 0 274zm0 130l0 223 126 0c49,0 85,-8 107,-24 22,-17 33,-43 33,-80 0,-31 -7,-59 -22,-83 -14,-24 -46,-36 -97,-36l-147 0z"/>
          </g>
        </svg>
      .footer-hours-work
        span.footer-hours-work-title 8 (800) 700-27-68
        span.footer-hours-work-text пн-пт 6:00 - 17:00
        span.footer-hours-work-text сб-вс 7:00 - 16:00 мск
      .footer-address
        span 644007, г. Омск,
        span ул. Фрунзе, 101
      a.footer-write(href='', data-toggle='modal' data-target='write-to-us')
        img(src='img/svg/email.svg')
        span Написать нам
    .footer-block
      h4.footer-block-title Компания
      .footer-block-list
        ul.nav
          li.nav-item
            a.nav-link(href='javascript:;') Весь каталог
          li.nav-item
            a.nav-link(href='javascript:;') О нас
          li.nav-item
            a.nav-link(href='javascript:;') Отзывы
        ul.nav
          li.nav-item
            a.nav-link(href='javascript:;') Контакты
          li.nav-item
            a.nav-link(href='javascript:;') Вакансии
          li.nav-item
            a.nav-link(href='javascript:;') Сертификаты
    .footer-block
      h4.footer-block-title Покупателям
      .footer-block-list
        ul.nav
          li.nav-item
            a.nav-link(href='javascript:;') Доставка и оплата
          li.nav-item
            a.nav-link(href='javascript:;') Пункты самовывоза
          li.nav-item
            a.nav-link(href='javascript:;') Возврат и обмен
          li.nav-item
            a.nav-link(href='javascript:;') Состояние заказа
        ul.nav
          li.nav-item
            a.nav-link(href='javascript:;') Таблица размеров
          li.nav-item
            a.nav-link(href='javascript:;') Система скидок
          li.nav-item
            a.nav-link(href='javascript:;') Оферта
    .footer-block
      form.footer-subscribe
        h4.footer-subscribe-title
          | Дарим 300 рублей
          br
          | на первый заказ за подписку!
        .footer-subscribe-gender
          .form-group
            input(id='subscribe-gender-female', name='subscribe-gender', type='radio' )
            label(for='subscribe-gender-female') Женщинам
          .form-group
            input(id='subscribe-gender-male', name='subscribe-gender', type='radio')
            label(for='subscribe-gender-male') Мужчинам
        .footer-subscribe-email
          .form-group
            .input-group
              input.form-control(type='email', placeholder='Ваша эл. почта')
              .input-group-append
                button.btn(type='submit') Подписаться
        .footer-subscribe-confirm
          .form-group
            input(id='subscribe-confirm', name='subscribe-confirm', type='checkbox')
            label(for='subscribe-confirm')
              | Я согласен на обработку 
              a(href='javascript:;') персональных данных,
              | а также с 
              a(href='javascript:;') условиями подписки
      .footer-social
        a(href='javascript:;')
          .footer-social-item
            i.fab.fa-vk(aria-hidden='true')
        a(href='javascript:;')
          .footer-social-item
            i.fab.fa-odnoklassniki(aria-hidden='true')
        a(href='javascript:;')
          .footer-social-item
            i.fab.fa-instagram(aria-hidden='true')
        a(href='javascript:;')
          .footer-social-item
            i.fab.fa-facebook-f(aria-hidden='true')
  .container-fluid
    .footer-partners
      .footer-partners-yandex
        img(src='img/footer-yandex.png')
        div
          span Более 500 отзывов
          a(href='javascript:;') Смотреть
      .footer-partners-our 
        div
          span Наши партнёры
        div
          img(src='img/halva.png')
          span Вы можете оплачивать заказы банковскими картами или наличными при получении
          img(src='img/mastercard.png')
          img(src='img/visa.png')
          img(src='img/yandex.png')
          img(src='img/webmoney.png')
  
  .container-fluid
    .footer-copyright
      span.footer-copyright-text © 2010-2019 kc-shoes
      a.footer-copyright-link(href='index-mobile.html') Мобильная версия

script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
script(src="", type="text/javascript")