.row
  .col-md-8
    .row
      .col-lg-6
        .banner.banner--small(style='background-image: url(img/banners/trends/IMG_66731.jpg)')
          a.banner-button(href='#') Смотреть
      .col-lg-6
        .banner.banner--small(style='background-image: url(img/banners/trends/X1827-8-Z223.jpg)')
          a.banner-button(href='#') Смотреть
      .col-lg-6
        .banner.banner--small(style='background-image: url(img/banners/trends/IMG_2823.jpg)')
          a.banner-button(href='#') Смотреть
      .col-lg-6
        .banner.banner--small(style='background-image: url(img/banners/trends/IMG_2387.jpg)')
          a.banner-button(href='#') Смотреть
  .col-md-4
    .banner.banner--vertical(style='background-image: url(img/banners/banner1.png)')
      a.banner-button(href='#') Смотреть