.row
  .col-md-8
    .banner.banner--big(style='background-image: url(img/banners/main/banner4.jpg)')
      a.banner-button(href='#') Смотреть
  .col-md-4
    .banner.banner--small(style='background-image: url(img/banners/main/300.jpg)')
      a.banner-button(href='#') Смотреть
    .banner.banner--small(style='background-image: url(img/banners/trends/X1827-8-Z223.jpg)')
      a.banner-button(href='#') Смотреть