.row.mb-5
  .col-lg-4
    .banner.banner--small(style='background-image: url(img/banners/main/left.jpg)')
      .banner-text-badge.banner-text-badge--discount
        span -5%
        span Promo
      a.banner-button(href='#') Смотреть
      .banner-text
        span Резиновые сапоги
        span Дополнительная скидка
  .col-lg-4
    .banner.banner--small(style='background-image: url(img/banners/main/300.jpg)')
      a.banner-button(href='#') Перейти к покупкам
  .col-lg-4
    .banner.banner--small(style='background-image: url(img/banners/main/right.jpg)')
      .banner-text-badge.banner-text-badge--brand
        span NEW`19
      a.banner-button(href='#') Смотреть
      .banner-text
        span Carpice
        span Новая коллекция
.row.mb-6
  .col-lg-8
    .banner.banner--horizontal(style='background-image: url(img/banners/main/banner2.jpg)')
      .banner-text-badge
      a.banner-button(href='#') Смотреть
      .banner-text
        span -30% на последний размер
        span 
  .col-lg-4
    .banner.banner--small(style='background-image: url(img/banners/trends/X1827-8-Z223.jpg)')
      .banner-text-badge.banner-text-badge--brand
        span NEW`19
      a.banner-button(href='#') Смотреть
      .banner-text
        span Tamaris
        span Новая коллекция