nav.nav
  .wrapper
    .wrapper-block
      a(href='#')
        .nav__logo
      .navbar
        ul.navbar__list
          li.navbar__item
            a.navbar__link(href='javascript:;') Женская обувь
            .navbar-content
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Категории
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Бренд
                  li.navbar-content__item
                    a.navbar-content__link Балетки
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Сезон
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--winter
                      | Зима
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--summer
                      | Лето
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--autumn-spring
                      | Осень/весна
                ul.navbar-content__list.navbar-content__list--add-option
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--star
                      | Новинки
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--discount %
                      | Распродажа
                ul.navbar-content__list
                  h4.navbar-content__item--title Популярное
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--h H
                      | Большой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--g G
                      | Малой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--big-size
                      | Больших размеров
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--small-size
                      | Малых размеров
              .navbar-content__block
                img.navbar-content__img(src='img/botinki.jpg')
          li.navbar__item
            a.navbar__link(href='javascript:;') Мужская обувь
            .navbar-content
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Категории
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Бренд
                  li.navbar-content__item
                    a.navbar-content__link Балетки
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Сезон
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--winter
                      | Зима
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--summer
                      | Лето
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--autumn-spring
                      | Осень/весна
                ul.navbar-content__list.navbar-content__list--add-option
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--star
                      | Новинки
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--discount %
                      | Распродажа
                ul.navbar-content__list
                  h4.navbar-content__item--title Популярное
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--h H
                      | Большой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--g G
                      | Малой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--big-size
                      | Больших размеров
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--small-size
                      | Малых размеров
              .navbar-content__block
                img.navbar-content__img(src='img/botinki.jpg')
          li.navbar__item
            a.navbar__link(href='javascript:;') Сумки
            .navbar-content
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Категории
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Бренд
                  li.navbar-content__item
                    a.navbar-content__link Балетки
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
              .navbar-content__block
                ul.navbar-content__list
                  h4.navbar-content__item--title Сезон
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--winter
                      | Зима
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--summer
                      | Лето
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--autumn-spring
                      | Осень/весна
                ul.navbar-content__list.navbar-content__list--add-option
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--star
                      | Новинки
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--discount %
                      | Распродажа
                ul.navbar-content__list
                  h4.navbar-content__item--title Популярное
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--h H
                      | Большой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--g G
                      | Малой полноты
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--big-size
                      | Больших размеров
                  li.navbar-content__item
                    a.navbar-content__link
                      span.navbar-content__span.navbar-content__span--small-size
                      | Малых размеров
              .navbar-content__block
                img.navbar-content__img(src='img/botinki.jpg')
          li.navbar__item
            a.navbar__link(href='javascript:;') Бренды
            .navbar-content.navbar-content--brand
              .navbar-content__brand-container
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#A', data-letter='A') A
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#B', data-letter='B') B
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#C', data-letter='C') C
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#D', data-letter='D') D
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#E', data-letter='E') E
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#F', data-letter='F') F
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#G', data-letter='G') G
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#H', data-letter='H') H
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#I', data-letter='I') I
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#J', data-letter='J') J
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#K', data-letter='K') K
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#L', data-letter='L') L
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#M', data-letter='M') M
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#N', data-letter='N') N
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#O', data-letter='O') O
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#P', data-letter='P') P
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#R', data-letter='R') R
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#S', data-letter='S') S
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#T', data-letter='T') T
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#V', data-letter='V') V
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#W', data-letter='W') W
                a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#X', data-letter='X') X
              .navbar-content__block
                ul.navbar-content__list.navbar-content__list--brand
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link.navbar-content__link--feature Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балапетки
                  li.navbar-content__item
                    a.navbar-content__link Балеткиdsgfacs
                  li.navbar-content__item
                    a.navbar-content__link Бетки
                  li.navbar-content__item
                    a.navbar-content__link Балветки
                  li.navbar-content__item
                    a.navbar-content__link Балевыатки
          li.navbar__item
            a.navbar__link(href='javascript:;')
              span.navbar__span.navbar__span--stock
              |  Акции
          li.navbar__item
            a.navbar__link(href='javascript:;')
              span.navbar__span.navbar__span--star
              | Новинки
          li.navbar__item
            a.navbar__link(href='javascript:;')
              span.navbar__span.navbar__span--discount %
              | Распродажа
      form.search-form.d-none.d-xl-block
        input.search-form__input(placeholder='Поиск товаров')
        button.search-form__submit
          img(src='img/svg/search.svg')
      .nav-icons
        a.nav-icons__item.d-xl-none(href='javascript:;')
          img(src='img/svg/call.svg')
        a.nav-icons__item.nav-icons__item--search.d-xl-none(href='javascript:;')
          img(src='img/svg/search.svg')
        a.nav-icons__item(href='javascript:;')
          img(src='img/svg/user.svg')
        a.nav-icons__item(href='javascript:;')
          img(src='img/svg/heart.svg')
          p.nav-icons__counter 0
        a.nav-icons__item(href='javascript:;')
          img(src='img/svg/basket.svg')
          p.nav-icons__counter 2