nav.navbar
  .container-fluid
    a(href='index.html').navbar-brand
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"  viewBox="0 0 10222 5840" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="">
          <polygon class="fil0" points="3,0 3,4186 2757,4186 2757,2239 4150,4186 5121,4186 3686,2241 5121,0 2177,0 829,1348 829,0 "/>
          <polygon class="fil0" points="5237,1981 5922,1981 5922,2524 5237,2524 "/>
          <polygon class="fil0" points="7551,4183 7551,4186 10191,4186 10075,4045 9967,3898 9867,3742 9778,3584 9695,3420 9625,3254 9562,3082 9512,2904 9470,2727 9437,2547 9417,2366 9406,2183 9406,2000 9417,1820 9437,1637 9470,1456 9512,1279 9562,1104 9625,932 9695,766 9778,602 9867,441 9967,288 10075,141 10191,0 7551,0 7453,116 7362,239 7276,363 7195,494 7123,627 7057,763 6996,904 6943,1046 6896,1190 6857,1337 6824,1487 6799,1637 6779,1786 6768,1939 6765,2092 6768,2244 6779,2397 6799,2547 6824,2696 6857,2846 6896,2993 6943,3137 6996,3279 7057,3420 7123,3556 7195,3690 7276,3820 7362,3945 7453,4067 "/>
          <path class="fil0" d="M158 5358l0 340 -158 0 0 -758 158 0 0 288 296 0 0 -288 158 0 0 758 -158 0 0 -340 -296 0zm1166 -284l-402 0 0 160 370 0 0 134 -370 0 0 196 421 0 0 134 -576 0 0 -758 557 0 0 134zm875 624l-147 0 0 -549 -3 0 -141 549 -155 0 -138 -549 -2 0 0 549 -148 0 0 -758 231 0 137 524 2 0 135 -524 229 0 0 758zm709 -624l-402 0 0 160 370 0 0 134 -370 0 0 196 421 0 0 134 -576 0 0 -758 557 0 0 134zm681 624l-538 0 0 -758 158 0 0 624 296 0 0 -624 158 0 0 624 74 0 0 276 -148 0 0 -142zm399 0l-158 0 0 -758 158 0 0 309 289 -309 205 0 -309 311 327 447 -204 0 -234 -332 -74 76 0 256zm641 0l-167 0 270 -758 183 0 267 758 -172 0 -49 -156 -279 0 -53 156zm95 -287l193 0 -94 -299 -2 0 -97 299zm1121 287l-155 0 0 -296 -102 0 -193 296 -194 0 214 -296c-52,-12 -97,-38 -134,-79 -38,-41 -57,-92 -57,-153 0,-40 10,-77 29,-113 20,-35 48,-63 84,-85 36,-21 78,-32 125,-32l383 0 0 758zm-155 -424l0 -203 -197 0c-25,0 -46,5 -63,15 -16,9 -29,21 -36,36 -8,15 -12,29 -12,44 0,33 10,59 31,79 21,19 52,29 91,29l186 0zm1174 -354c33,0 70,5 108,15 39,10 79,28 118,56 39,28 72,68 98,123 26,54 40,122 40,205 0,83 -14,152 -40,206 -26,54 -59,95 -99,123 -39,27 -79,46 -118,56 -39,9 -75,14 -107,14 -33,0 -69,-5 -108,-14 -39,-10 -79,-29 -118,-57 -40,-27 -73,-68 -99,-122 -26,-54 -39,-123 -39,-206 0,-83 13,-151 39,-205 26,-54 59,-95 98,-123 40,-28 79,-46 118,-56 39,-10 75,-15 109,-15zm0 664c23,0 47,-4 71,-12 23,-8 45,-23 66,-43 20,-20 37,-48 50,-82 12,-35 19,-77 19,-128 0,-50 -7,-92 -19,-127 -13,-35 -30,-63 -50,-83 -20,-20 -43,-34 -66,-42 -24,-9 -48,-13 -71,-13 -24,0 -48,4 -72,13 -23,8 -45,22 -66,42 -20,20 -37,48 -49,83 -13,35 -19,77 -19,127 0,51 6,93 19,128 12,34 29,62 49,82 21,20 43,34 67,43 23,8 47,12 71,12zm642 -349l201 0c51,0 97,9 138,27 42,18 75,44 99,79 24,35 36,77 36,126 0,48 -12,90 -36,125 -24,35 -57,61 -99,79 -41,18 -87,27 -138,27l-353 0 0 -758 570 0 0 133 -418 0 0 162zm0 131l0 201 201 0c35,0 63,-9 84,-26 21,-18 31,-43 31,-74 0,-31 -10,-56 -31,-75 -21,-18 -49,-27 -84,-27l-201 1zm846 344c-45,0 -80,-4 -105,-12l0 -135c19,9 37,13 54,13 33,0 57,-15 72,-43l3 -7 -317 -586 189 0 204 424 154 -424 181 0 -273 631c-13,30 -29,56 -50,77 -20,20 -41,36 -62,46 -20,10 -37,16 -50,16zm526 -770l369 0c57,0 103,10 138,31 35,20 59,45 74,74 14,29 21,59 21,90 0,47 -9,81 -27,103 -18,21 -40,39 -66,52 78,29 117,90 117,184 0,29 -6,58 -17,85 -12,27 -28,51 -48,71 -18,16 -34,29 -51,38 -17,10 -40,17 -70,22 -30,6 -69,8 -119,8l-321 0 0 -758zm152 627l194 0c81,0 122,-36 122,-111 0,-30 -11,-54 -33,-69 -22,-15 -49,-22 -81,-22l-202 0 0 202zm0 -330l186 0c33,0 60,-7 81,-21 20,-14 31,-35 31,-64 0,-29 -10,-50 -29,-62 -20,-13 -49,-19 -87,-19l-182 0 0 166zm768 -23l182 0c62,0 111,14 147,42 36,28 61,61 74,98 14,37 21,71 21,101 0,49 -10,92 -28,129 -19,37 -47,65 -82,85 -35,19 -77,29 -125,29l-347 0 0 -758 158 0 0 274zm0 130l0 223 126 0c49,0 85,-8 107,-24 22,-17 33,-43 33,-80 0,-31 -7,-59 -22,-83 -14,-24 -46,-36 -97,-36l-147 0z"/>
        </g>
      </svg>
    .navbar-phone
      div
        span 8 (800) 700-27-68
        span Бесплатно по России
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") Женская обувь
        .nav-wrap(style="background-image: url(./img/menu/menu-woman.jpg)")
          .row.no-gutters
            .col-9
              ul.nav-list
                li.nav-item
                  a.nav-link.nav-link--feature(href="#") Анатомическая
                li.nav-item
                  a.nav-link(href="#") Балетки
                li.nav-item
                  a.nav-link(href="#") Босоножки
                li.nav-item
                  a.nav-link(href="#") Ботильоны
                li.nav-item
                  a.nav-link(href="#") Ботинки и челси
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Ботинки 
                    li.nav-item
                      a.nav-link.nav-link--feature(href="#") Дезерты
                    li.nav-item
                      a.nav-link(href="#") Челси
                li.nav-item
                  a.nav-link(href="#") Дутики
                li.nav-item
                  a.nav-link(href="#") Кеды
                li.nav-item
                  a.nav-link(href="#") Кроссовки
                li.nav-item
                  a.nav-link(href="#") Мокасины и Топсайдеры
                  ul.nav-list-sub    
                    li.nav-item
                      a.nav-link(href="#") Мокасины 
                    li.nav-item
                      a.nav-link(href="#") Топсайдеры 
                li.nav-item
                  a.nav-link(href="#") Пантолеты
                li.nav-item
                  a.nav-link(href="#") Пляжная обувь
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Сабо
                    li.nav-item
                      a.nav-link(href="#") Сандалии
                    li.nav-item
                      a.nav-link(href="#") Сланцы
                    li.nav-item
                      a.nav-link(href="#") Шлёпанцы
                li.nav-item
                  a.nav-link(href="#") Полуботинки
                li.nav-item
                  a.nav-link(href="#") Резиновая обувь
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Резиновые Ботинки
                    li.nav-item
                      a.nav-link(href="#") Резиновые Полусапожки
                    li.nav-item
                      a.nav-link(href="#") Резиновые Сапоги
                li.nav-item
                  a.nav-link(href="#") Сабо
                li.nav-item
                  a.nav-link(href="#") Сандалии и Гладиаторы
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Гладиаторы 
                    li.nav-item
                      a.nav-link(href="#") Сандалии
                li.nav-item
                  a.nav-link.nav-link--feature(href="#") Сапоги и Ботфорты
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Ботфорты
                    li.nav-item
                      a.nav-link.nav-link--feature(href="#") Полусапожки
                    li.nav-item
                      a.nav-link(href="#") Сапоги
                li.nav-item
                  a.nav-link(href="#") Слипоны
                li.nav-item
                  a.nav-link(href="#") Тапочки
                li.nav-item
                  a.nav-link(href="#") Туфли
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="") Броги 
                    li.nav-item
                      a.nav-link(href="") Дерби 
                    li.nav-item
                      a.nav-link(href="") Лодочки 
                    li.nav-item
                      a.nav-link(href="") Лоферы 
                    li.nav-item
                      a.nav-link(href="") Оксфорды 
                    li.nav-item
                      a.nav-link(href="") Слиперы 
                    li.nav-item
                      a.nav-link(href="") Туфли 
                li.nav-item
                  a.nav-link(href="#") Эспадрильи
            .col-2.offset-1
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.winter
                    | Зима
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.summer
                    | Лето
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.autumn-spring
                    | Осень/весна
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.star
                    | Новинки
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.discount
                    | Распродажа
          ul.nav-list-brand
            li.nav-item
              a.nav-link(href="#") ARA
            li.nav-item
              a.nav-link(href="#") CAPRICE
            li.nav-item
              a.nav-link(href="#") FRANCESCO DONNI
            li.nav-item
              a.nav-link(href="#") GABOR
            li.nav-item
              a.nav-link(href="#") HOGL
            li.nav-item
              a.nav-link(href="#") INBLU
            li.nav-item
              a.nav-link(href="#") INDIANA
            li.nav-item
              a.nav-link(href="#") JANA
            li.nav-item
              a.nav-link(href="#") JANITA
            li.nav-item
              a.nav-link(href="#") MARCO TOZZI
            li.nav-item
              a.nav-link(href="#") PETER KAISER
            li.nav-item
              a.nav-link(href="#") PIKOLINOS
            li.nav-item
              a.nav-link(href="#") REMONTE
          //.row
            .col-12
              span.nav-list-divider Популярные бренды
      li.nav-item
        a.nav-link(href="#") Мужская обувь
        .nav-wrap(style="background-image: url(./img/menu/menu-man.jpg)")
          .row.no-gutters
            .col-9
              ul.nav-list
                li.nav-item
                  a.nav-link(href="#") Анатомическая
                li.nav-item
                  a.nav-link(href="#") Балетки
                li.nav-item
                  a.nav-link(href="#") Босоножки
                li.nav-item
                  a.nav-link(href="#") Ботильоны
                li.nav-item
                  a.nav-link(href="#") Ботинки и челси
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Ботинки 
                    li.nav-item
                      a.nav-link(href="#") Дезерты
                    li.nav-item
                      a.nav-link(href="#") Челси
                li.nav-item
                  a.nav-link(href="#") Дутики
                li.nav-item
                  a.nav-link(href="#") Кеды
                li.nav-item
                  a.nav-link(href="#") Кроссовки
                li.nav-item
                  a.nav-link(href="#") Мокасины и Топсайдеры
                  ul.nav-list-sub    
                    li.nav-item
                      a.nav-link(href="#") Мокасины 
                    li.nav-item
                      a.nav-link(href="#") Топсайдеры 
                li.nav-item
                  a.nav-link(href="#") Пантолеты
                li.nav-item
                  a.nav-link(href="#") Пляжная обувь
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Сабо
                    li.nav-item
                      a.nav-link(href="#") Сандалии
                    li.nav-item
                      a.nav-link(href="#") Сланцы
                    li.nav-item
                      a.nav-link(href="#") Шлёпанцы
                li.nav-item
                  a.nav-link(href="#") Полуботинки
                li.nav-item
                  a.nav-link(href="#") Резиновая обувь
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Резиновые Ботинки
                    li.nav-item
                      a.nav-link(href="#") Резиновые Полусапожки
                    li.nav-item
                      a.nav-link(href="#") Резиновые Сапоги
                li.nav-item
                  a.nav-link(href="#") Сабо
                li.nav-item
                  a.nav-link(href="#") Сандалии и Гладиаторы
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Гладиаторы 
                    li.nav-item
                      a.nav-link(href="#") Сандалии
                li.nav-item
                  a.nav-link(href="#") Сапоги и Ботфорты
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Ботфорты
                    li.nav-item
                      a.nav-link(href="#") Полусапожки
                    li.nav-item
                      a.nav-link(href="#") Сапоги
                li.nav-item
                  a.nav-link(href="#") Слипоны
                li.nav-item
                  a.nav-link(href="#") Тапочки
                li.nav-item
                  a.nav-link(href="#") Туфли
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="") Броги 
                    li.nav-item
                      a.nav-link(href="") Дерби 
                    li.nav-item
                      a.nav-link(href="") Лодочки 
                    li.nav-item
                      a.nav-link(href="") Лоферы 
                    li.nav-item
                      a.nav-link(href="") Оксфорды 
                    li.nav-item
                      a.nav-link(href="") Слиперы 
                    li.nav-item
                      a.nav-link(href="") Туфли 
                li.nav-item
                  a.nav-link(href="#") Эспадрильи
            .col-2.offset-1
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.winter
                    | Зима
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.summer
                    | Лето
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.autumn-spring
                    | Осень/весна
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.star
                    | Новинки
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.discount
                    | Распродажа
          //.row
            .col-12
              span.nav-list-divider Популярные бренды
          ul.nav-list-brand
            li.nav-item
              a.nav-link(href="#") ARA
            li.nav-item
              a.nav-link(href="#") CAPRICE
            li.nav-item
              a.nav-link(href="#") FRANCESCO DONNI
            li.nav-item
              a.nav-link(href="#") GABOR
            li.nav-item
              a.nav-link(href="#") HOGL
            li.nav-item
              a.nav-link(href="#") INBLU
            li.nav-item
              a.nav-link(href="#") INDIANA
            li.nav-item
              a.nav-link(href="#") JANA
            li.nav-item
              a.nav-link(href="#") JANITA
            li.nav-item
              a.nav-link(href="#") MARCO TOZZI
            li.nav-item
              a.nav-link(href="#") PETER KAISER
            li.nav-item
              a.nav-link(href="#") PIKOLINOS
            li.nav-item
              a.nav-link(href="#") REMONTE
      li.nav-item
        a.nav-link(href="#") Сумки
        .nav-wrap(style="background-image: url(./img/menu/menu-bags.jpg)")
          .row.no-gutters
            .col-3
              ul.nav-list
                li.nav-item
                  a.nav-link(href="#") Женские сумки
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="") Классическая Сумка 
                    li.nav-item
                      a.nav-link(href="") Клатч
                    li.nav-item
                      a.nav-link(href="") Рюкзак
                li.nav-item
                  a.nav-link(href="#") Мужские сумки
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="") Классическая Сумка
                    li.nav-item
                      a.nav-link(href="") Рюкзак
            .col-3
              ul.nav-list
                li.nav-item
                  a.nav-link(href="#") Производитель
                  ul.nav-list-sub
                    li.nav-item
                      a.nav-link(href="#") Австрия
                    li.nav-item
                      a.nav-link(href="#") Германия
                    li.nav-item
                      a.nav-link(href="#") Испания
                    li.nav-item
                      a.nav-link(href="#") Италия
                    li.nav-item
                      a.nav-link(href="#") Россия
                    li.nav-item
                      a.nav-link(href="#") Швейцария
            .col-3
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.winter
                    | Зима
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.summer
                    | Лето
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.autumn-spring
                    | Осень/весна
              ul.nav-list-additional
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.star
                    | Новинки
                li.nav-item
                  a.nav-link(href="#")
                    span.badge.discount
                    | Распродажа
          //.row
            .col-12
              span.nav-list-divider Популярные бренды
          ul.nav-list-brand
            li.nav-item
              a.nav-link(href="#") ARA
            li.nav-item
              a.nav-link(href="#") CAPRICE
            li.nav-item
              a.nav-link(href="#") FRANCESCO DONNI
            li.nav-item
              a.nav-link(href="#") GABOR
            li.nav-item
              a.nav-link(href="#") HOGL
            li.nav-item
              a.nav-link(href="#") INBLU
            li.nav-item
              a.nav-link(href="#") INDIANA
            li.nav-item
              a.nav-link(href="#") JANA
            li.nav-item
              a.nav-link(href="#") JANITA
            li.nav-item
              a.nav-link(href="#") MARCO TOZZI
            li.nav-item
              a.nav-link(href="#") PETER KAISER
            li.nav-item
              a.nav-link(href="#") PIKOLINOS
            li.nav-item
              a.nav-link(href="#") REMONTE
      li.nav-item
        a.nav-link(href="#") Бренды
        .nav-wrap.nav-wrap-brand
          .nav-brand-by-char
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#A', data-letter='A') A
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#B', data-letter='B') B
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#C', data-letter='C') C
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#D', data-letter='D') D
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#E', data-letter='E') E
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#F', data-letter='F') F
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#G', data-letter='G') G
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#H', data-letter='H') H
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#I', data-letter='I') I
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#J', data-letter='J') J
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#K', data-letter='K') K
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#L', data-letter='L') L
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#M', data-letter='M') M
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#N', data-letter='N') N
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#O', data-letter='O') O
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#P', data-letter='P') P
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#R', data-letter='R') R
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#S', data-letter='S') S
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#T', data-letter='T') T
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#V', data-letter='V') V
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#W', data-letter='W') W
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#X', data-letter='X') X
          ul.nav-list
            li.nav-item
              a.nav-link(href="#") ARA
            li.nav-item
              a.nav-link(href="#") DOCKERS
            li.nav-item
              a.nav-link(href="#") INBLU
            li.nav-item
              a.nav-link(href="#") PETER KAISER
            li.nav-item
              a.nav-link(href="#") SUAVE
            li.nav-item
              a.nav-link(href="#") ASCALINI
            li.nav-item
              a.nav-link(href="#") EL TEMPO
            li.nav-item
              a.nav-link(href="#") INDIANA
            li.nav-item
              a.nav-link(href="#") PIKOLINOS
            li.nav-item
              a.nav-link(href="#") TAMARIS
            li.nav-item
              a.nav-link(href="#") BADEN
            li.nav-item
              a.nav-link(href="#") EL' ROSSO
            li.nav-item
              a.nav-link(href="#") JANA
            li.nav-item
              a.nav-link(href="#") REMONTE
            li.nav-item
              a.nav-link(href="#") TOFA
            li.nav-item
              a.nav-link(href="#") BUGATTI
            li.nav-item
              a.nav-link(href="#") FRANCESCO DONNI
            li.nav-item
              a.nav-link(href="#") JANITA
            li.nav-item
              a.nav-link(href="#") RIDER
            li.nav-item
              a.nav-link(href="#") TUFFONI
            li.nav-item
              a.nav-link(href="#") BURGERSCHUHE
            li.nav-item
              a.nav-link(href="#") GABOR
            li.nav-item
              a.nav-link(href="#") JOSEF SEIBEL
            li.nav-item
              a.nav-link(href="#") RIEKER
            li.nav-item
              a.nav-link(href="#") VITO
            li.nav-item
              a.nav-link(href="#") CAMEL ACTIVE
            li.nav-item
              a.nav-link(href="#") GOERGO
            li.nav-item
              a.nav-link(href="#") K&S
            li.nav-item
              a.nav-link(href="#") ROMIKA
            li.nav-item
              a.nav-link(href="#") VITACCI
            li.nav-item
              a.nav-link(href="#") CAPRICE
            li.nav-item
              a.nav-link(href="#") HASSIA
            li.nav-item
              a.nav-link(href="#") MARCO TOZZI
            li.nav-item
              a.nav-link(href="#") SALAMANDER
            li.nav-item
              a.nav-link(href="#") WALDLAUFER
            li.nav-item
              a.nav-link(href="#") CONHPOL
            li.nav-item
              a.nav-link(href="#") HOGL
            li.nav-item
              a.nav-link(href="#") PANAMA JACK
            li.nav-item
              a.nav-link(href="#") SIOUX
      li.nav-item
        a.nav-link.nav-link--stock(href="#")
          span.nav-link-icon
            svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
              path(fill='#929da0', d='M32,59.957c15.451,0,27.957-12.555,27.957-27.957C59.957,16.549,47.402,4.043,32,4.043 C16.597,4.043,4.043,16.549,4.043,32C4.043,47.402,16.549,59.957,32,59.957z M32,7.955c13.278,0,24.044,10.767,24.044,24.045 S45.278,56.045,32,56.045C18.722,56.045,7.954,45.23,7.954,32C7.954,18.722,18.722,7.955,32,7.955z M30.696,35.283 c-1.11,0-1.979-0.869-1.979-1.979V19.832c0-1.11,0.869-1.979,1.979-1.979c1.111,0,1.979,0.869,1.979,1.979v11.492h7.34 c1.11,0,1.979,0.869,1.979,1.979s-0.869,1.979-1.979,1.979H30.696L30.696,35.283z')
          | Акции
      li.nav-item
        a.nav-link(href="#")
          span.nav-link-icon
            svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
              path(fill='#01b2ff', d='M32.001,13.042l5.511,11.164l0.931,1.885l2.08,0.303l12.314,1.792l-8.913,8.689l-1.506,1.468l0.355,2.072l2.102,12.265l-11.012-5.794l-1.862-0.979l-1.862,0.979L19.125,52.68l2.102-12.265l0.355-2.072l-1.506-1.468l-8.913-8.689l12.315-1.792l2.08-0.303l0.931-1.885 L32.001,13.042 M32.001,4.005l-9.098,18.43L2.57,25.394l14.715,14.345l-3.472,20.255l18.188-9.568l18.187,9.568l-3.472-20.255l14.715-14.345l-20.332-2.959 L32.001,4.005 L32.001,4.005z')
          | Новинки
      li.nav-item
        a.nav-link.nav-link--discount(href="#")
          span.nav-link-icon
            svg(xmlns='http://www.w3.org/2000/svg', xml:space='preserve', width='16.9332mm', height='16.9332mm', version='1.1', style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd', viewBox='0 0 218 218', xmlns:xlink='http://www.w3.org/1999/xlink')
              rect(fill='#e5322d', transform='matrix(0.912541 0.577479 -0.735019 1.16149 149.172 33.1103)', width='11.905', height='124.498')
              path(fill='#e5322d', d='M71 34c17,0 32,15 32,33 0,17 -15,32 -32,32 -18,0 -33,-15 -33,-32 0,-18 15,-33 33,-33zm0 13c10,0 19,9 19,20 0,10 -9,19 -19,19 -11,0 -20,-9 -20,-19 0,-11 9,-20 20,-20z')
              path(fill='#e5322d', d='M147 119c18,0 32,14 32,32 0,18 -14,32 -32,32 -18,0 -32,-14 -32,-32 0,-18 14,-32 32,-32zm0 13c11,0 19,8 19,19 0,11 -8,19 -19,19 -10,0 -19,-8 -19,-19 0,-11 9,-19 19,-19z')
          | Распродажа
    .navbar-overlay(style="display: none")
    form.navbar-form
      input(placeholder='Поиск товаров')
      button
        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
          path(d='M51.816,48.904L41.788,39.09c2.546-2.883,4.101-6.635,4.101-10.744c0-9.054-7.49-16.419-16.696-16.419 c-9.206,0-16.696,7.366-16.696,16.419c0,9.053,7.49,16.418,16.696,16.418c3.574,0,6.881-1.119,9.601-3.008l10.224,10.007 c0.39,0.381,0.895,0.571,1.399,0.571c0.519,0,1.038-0.201,1.429-0.602C52.619,50.943,52.605,49.677,51.816,48.904z M15.146,28.346 c0-7.612,6.301-13.805,14.046-13.805c7.746,0,14.047,6.193,14.047,13.805c0,7.611-6.302,13.805-14.047,13.805 C21.448,42.15,15.146,35.957,15.146,28.346z')
    ul.navbar-icons
      li.nav-item.nav-item-user
        a.nav-link(href="#")
          svg(id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
            path(d='M50.705,48.271c-0.002,1.996-1.623,3.622-3.61,3.625h-30.19c-1.987-0.003-3.607-1.629-3.61-3.626 c0-5.856,4.745-10.621,10.578-10.62 c0.71,0,1.289,0.58,1.289,1.293s-0.578,1.293-1.289,1.293c-4.412,0-8.001,3.605-8.001,8.03 c0,0.573,0.464,1.039,1.034,1.039h30.189 c0.569,0,1.034-0.466,1.034-1.039 c0-4.43-3.59-8.035-8.001-8.035 c-0.711,0-1.29-0.58-1.29-1.293s0.579-1.293,1.29-1.293C45.961,37.648,50.705,42.413,50.705,48.271z M42.416,24.922 c0,7.033-4.673,12.754-10.416,12.754s-10.416-5.721-10.416-12.75 c0-3.355,1.05-6.521,2.957-8.913 c1.972-2.478,4.62-3.842,7.458-3.842C37.743,12.168,42.416,17.89,42.416,24.922z M39.87,24.924 c0-5.625-3.53-10.201-7.87-10.201 c-4.34,0-7.872,4.576-7.872,10.201 c0.001,5.625,3.532,10.201,7.872,10.201C36.34,35.125,39.87,30.549,39.87,24.924z')
        .nav-wrap
          ul.navbar-user--signout
            li.nav-item
              a.nav-link(href="#", data-toggle="modal", data-target="#signin") Войти
            li.divider /
            li.nav-item
              a.nav-link(href="#", data-toggle="modal", data-target="#signup") Регистрация
          ul.navbar-user--signin
            li.nav-item
              a.nav-link(href="") Личный кабинет
            li.nav-item
              a.nav-link(href="") Профиль
            li.nav-item
              a.nav-link(href="") Подписка
            li.nav-item
              a.nav-link(href="") Отследить товар
            li.divider
            li.nav-item
              a.nav-link(href="") Выйти
      li.nav-item.nav-item-like.fullfield
        a.nav-link(href="#")
          svg(id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
            path(d='M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.18 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271 c0.263,0.269,0.623,0.422,0.988,0.422 c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.95 c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.17 c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176 c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z')
          span 0
      li.nav-item.nav-item-cart.fullfield
        a.nav-link(href="#")
          svg(version='1.1', id='', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64px', height='64px', viewBox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
            path(d='M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z')
          span 2
        .nav-wrap
          ul.navbar-cart
            li.nav-item
              a.nav-link(href="") 
                .nav-item-img
                  img(src="img/category/1.jpg", alt="")
                .nav-item-title
                  span Tamaris
                  span Женские кроссовки
                  span 2990 ₽
            li.nav-item
              a.nav-link(href="") 
                .nav-item-img
                  img(src="img/category/2.jpg", alt="")
                .nav-item-title
                  span Tamaris
                  span Женские кроссовки
                  span 2990 ₽
            li.nav-item
              a.nav-link(href="") 
                .nav-item-img
                  img(src="img/category/3.jpg", alt="")
                .nav-item-title
                  span Tamaris
                  span Женские кроссовки
                  span 2990 ₽
            
              
            