nav.navbar
  .container-fluid
    a(href='#').navbar-brand
    .navbar-phone
      div
        span 8 (800) 700-27-68
        span Бесплатно по России
      div
        span Время работы операторов
        span пн-пт 6:00 - 17:00 МСК
        span сб-вс 7:00 - 16:00
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") Женская обувь
        .nav-wrap
          .nav-block
            h4.nav-block-title Категории
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балеткиdsgfacs
              li.nav-item
                a.nav-link.nav-link--feature(href="#") Балапетки
          .nav-block
            h4.nav-block-title Бренд
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балетки
          .nav-block
            h4.nav-block-title Сезон
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.winter
                  | Зима
              li.nav-item
                a.nav-link(href="#")
                  span.summer
                  | Лето
              li.nav-item
                a.nav-link(href="#")
                  span.autumn-spring
                  | Осень/весна
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.star
                  | Новинки
              li.nav-item
                a.nav-link(href="#")
                  span.discount %
                  | Распродажа
            h4.nav-block-title.mt-3 Популярное
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.h h
                  | Большой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.g g
                  | Малой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.big-size
                  | Больших размеров
              li.nav-item
                a.nav-link(href="#")
                  span.small-size
                  | Малых размеров
          img.nav-wrap-img(src='img/botinki.jpg')
      li.nav-item
        a.nav-link(href="#") Мужская обувь
        .nav-wrap
          .nav-block
            h4.nav-block-title Категории
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балеткиdsgfacs
          .nav-block
            h4.nav-block-title Бренд
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балетки
          .nav-block
            h4.nav-block-title Сезон
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.winter
                  | Зима
              li.nav-item
                a.nav-link(href="#")
                  span.summer
                  | Лето
              li.nav-item
                a.nav-link(href="#")
                  span.autumn-spring
                  | Осень/весна
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.star
                  | Новинки
              li.nav-item
                a.nav-link(href="#")
                  span.discount %
                  | Распродажа
            h4.nav-block-title.mt-3 Популярное
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.h h
                  | Большой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.g g
                  | Малой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.big-size
                  | Больших размеров
              li.nav-item
                a.nav-link(href="#")
                  span.small-size
                  | Малых размеров
          img.nav-wrap-img(src='img/botinki.jpg')
      li.nav-item
        a.nav-link(href="#") Сумки
        .nav-wrap
          .nav-block
            h4.nav-block-title Категории
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балеткиdsgfacs
          .nav-block
            h4.nav-block-title Бренд
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#") Балетки
          .nav-block
            h4.nav-block-title Сезон
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.winter
                  | Зима
              li.nav-item
                a.nav-link(href="#")
                  span.summer
                  | Лето
              li.nav-item
                a.nav-link(href="#")
                  span.autumn-spring
                  | Осень/весна
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.star
                  | Новинки
              li.nav-item
                a.nav-link(href="#")
                  span.discount %
                  | Распродажа
            h4.nav-block-title.mt-3 Популярное
            ul.nav-block-list
              li.nav-item
                a.nav-link(href="#")
                  span.h h
                  | Большой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.g g
                  | Малой полноты
              li.nav-item
                a.nav-link(href="#")
                  span.big-size
                  | Больших размеров
              li.nav-item
                a.nav-link(href="#")
                  span.small-size
                  | Малых размеров
          img.nav-wrap-img(src='img/botinki.jpg')
      li.nav-item
        a.nav-link(href="#") Бренды
        .nav-wrap.nav-wrap-brand
          .nav-brand-by-char
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#A', data-letter='A') A
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#B', data-letter='B') B
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#C', data-letter='C') C
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#D', data-letter='D') D
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#E', data-letter='E') E
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#F', data-letter='F') F
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#G', data-letter='G') G
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#H', data-letter='H') H
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#I', data-letter='I') I
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#J', data-letter='J') J
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#K', data-letter='K') K
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#L', data-letter='L') L
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#M', data-letter='M') M
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#N', data-letter='N') N
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#O', data-letter='O') O
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#P', data-letter='P') P
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#R', data-letter='R') R
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#S', data-letter='S') S
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#T', data-letter='T') T
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#V', data-letter='V') V
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#W', data-letter='W') W
            a(rel='nofollow', href='https://kc-shoes.ru/brands_shoes#X', data-letter='X') X
          ul.nav-block-list
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
            li.nav-item
              a.nav-link(href="#") Балеткиdsgfacs
      li.nav-item
        a.nav-link.nav-link--stock(href="#")
          img(src='img/svg/share.svg')
          | Акции
      li.nav-item
        a.nav-link(href="#")
          img(src='img/svg/new.svg')
          | Новинки
      li.nav-item
        a.nav-link.nav-link--discount(href="#")
          | % Распродажа
    form.navbar-form
      input(placeholder='Поиск товаров')
      button
        img(src='img/svg/search.svg')
    .navbar-icons
      a.nav-item.nav-item--user(href="#")
        img(src='img/svg/user.svg')
      a.nav-item.nav-item--active(href="#")
        img(src='img/svg/heart.svg')
        span 0
      a.nav-item.nav-item--active(href="#")
        img(src='img/svg/basket.svg')
        span 2