#productPreview.modal.modal-product-preview.fade(tabindex='-1', role='dialog', aria-labelledby='productPreviewTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve">
            <path fill="#ACABAB" d="M5.429,5l4.478-4.472c0.116-0.118,0.116-0.31,0-0.428c-0.119-0.118-0.31-0.118-0.429-0.001L5,4.571 L0.522,0.099C0.404-0.019,0.212-0.018,0.093,0.1c-0.117,0.118-0.117,0.31,0,0.428L4.571,5L0.094,9.471 c-0.117,0.118-0.117,0.31,0,0.427c0.06,0.062,0.138,0.09,0.215,0.09c0.078,0,0.154-0.028,0.214-0.088L5,5.428l4.479,4.473 c0.059,0.06,0.137,0.088,0.215,0.088c0.076,0,0.155-0.028,0.214-0.09c0.116-0.117,0.116-0.309,0-0.427L5.429,5z"/>
          </svg>
      .modal-body
        .product-preview-nav
          .product-preview-nav-prev
            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><polygon fill="" points="36.238,44.061 24.271,32.226 36.156,20.115 37.996,21.918 27.907,32.199 38.05,42.229 "/></svg>
          .product-preview-nav-next
            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><polygon fill="" points="36.238,44.061 24.271,32.226 36.156,20.115 37.996,21.918 27.907,32.199 38.05,42.229 "/></svg>
        .row
          .col-6
            .product-preview-slider.owl-carousel.owl-theme-product-preview
              img(src='img/small/image1.jpg')
              img(src='img/small/image2.jpg')
              img(src='img/small/image3.jpg')
              img(src='img/small/image4.jpg')
              img(src='img/small/image5.jpg')
              img(src='img/small/image6.jpg')
              img(src='img/small/image7.jpg')
          .col-6
            .product-info
              h4.product-info-title Сандалии PM Shoes 
              span.product-info-articul
                | Артикул
                span PM18-172055-111
              
              
              
              .product-info-price
                .price.price--through 5790
                  small ₽
                .price.price--sale 4990
                  small ₽
                  span.price-badge-discount -10%
                .price.price--promo 2990
                  small ₽
                  span.price-badge-discount -33%
              .product-info-size
                span.product-info-size-title Размеры
                  a.product-link(href='#', target='blank') Как выбрать размер
                div
                  .product-info-size-item.active 36
                  .product-info-size-item 41
                  .product-info-size-item 41.5
                  .product-info-size-item 42
                  .product-info-size-item 44
                  .product-info-size-item 44.5
                  .product-info-size-item 45
                  .product-info-size-item 46.5
                a.product-link(href='#', for='product-checkbox') Наличие размеров в магазине
              .product-add
                a.product-add-to-cart(href='') 
                  //<svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                      <path d="M27.525,46.201c-2.435,0-4.413,1.979-4.413,4.412c0,2.436,1.979,4.414,4.413,4.414 c2.434,0,4.413-1.979,4.413-4.414C31.938,48.181,29.959,46.201,27.525,46.201z M27.525,52.82c-1.216,0-2.207-0.99-2.207-2.207 s0.99-2.207,2.207-2.207s2.207,0.99,2.207,2.207S28.742,52.82,27.525,52.82z M43.617,46.201c-2.432,0-4.412,1.979-4.412,4.412 c0,2.436,1.98,4.414,4.412,4.414c2.436,0,4.414-1.979,4.414-4.414C48.031,48.181,46.053,46.201,43.617,46.201z M43.617,52.82 c-1.215,0-2.205-0.99-2.205-2.207s0.99-2.207,2.205-2.207c1.217,0,2.207,0.99,2.207,2.207S44.834,52.82,43.617,52.82z M57.796,19.009v0.309c0,0.546-0.124,1.1-0.353,1.588l-7.613,18.9c-0.759,1.608-2.396,2.648-4.174,2.648H22.705l-7.192-27.497 c-0.238-0.819-1-1.391-1.853-1.391H3.184c-0.739,0-1.34-0.601-1.34-1.34s0.601-1.34,1.34-1.34H13.66 c2.037,0,3.857,1.366,4.428,3.328l6.668,25.559h20.9c0.744,0,1.43-0.435,1.742-1.095l7.613-18.9c0.068-0.143,0.104-0.302,0.104-0.46 v-0.309c0-0.596-0.485-1.081-1.082-1.081H29.304c-0.607-0.126-1.068-0.7-1.068-1.341c0-0.724,0.589-1.325,1.318-1.338l24.479-0.001 C56.107,15.248,57.796,16.935,57.796,19.009z"></path>
                    </svg>
                  span Добавить в корзину
                a.product-add-to-like(href='') 
                  <svg id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path d="M49.028,17.195c-2.146-2.183-5.003-3.384-8.044-3.384c-3.039,0-5.898,1.205-8.051,3.393l-0.921,0.937 l-0.938-0.954c-2.158-2.193-5.021-3.401-8.06-3.401c-3.035,0-5.888,1.202-8.035,3.384c-2.154,2.19-3.336,5.096-3.327,8.18 c0,3.078,1.188,5.98,3.344,8.173l16.002,16.271 c0.263,0.269,0.623,0.422,0.988,0.422 c0.37,0,0.729-0.15,0.987-0.412l16.037-16.246 c2.15-2.188,3.336-5.092,3.336-8.18C52.355,22.286,51.178,19.38,49.028,17.195z M23.015,16.633c2.295,0,4.453,0.909,6.076,2.559 l1.926,1.95 c0.531,0.541,1.452,0.541,1.983,0l1.909-1.941c1.624-1.65,3.778-2.559,6.067-2.559c2.281,0,4.434,0.906,6.06,2.55 c1.618,1.646,2.511,3.839,2.511,6.17 c0.008,2.328-0.883,4.521-2.51,6.174L31.988,46.793L16.972,31.525 c-1.624-1.652-2.519-3.845-2.519-6.176 c0-2.339,0.891-4.529,2.51-6.167C18.581,17.539,20.73,16.633,23.015,16.633z"></path>
                  </svg>
                  // span Добавить в избранное