a.product.product-new(href='javascript:;')
  .product-img
    img.product-img(src='img/small/image2.jpg')
  .product-title
    span.product-title-name Лодочки 
    span.product-title-brand vitacci
  .product-price
    span 2990
    | руб
  .product-type
    span NEW
  .product-size
    span 36
    span 37
    span 38
    span 39
    span 40
    span 41
    span 42
    span 43
    span 44
    span 45
    span 46
a.product.product-sale(href='javascript:;')
  .product-img
    img.product-img(src='img/small/image2.jpg')
  .product-title
    span.product-title-name Лодочки 
    span.product-title-brand vitacci
  .product-price
    span 2990
    | руб
  .product-type
    span -10%
  .product-size
    span 36
    span 37
    span 38
    span 39
    span 40
    span 41
    span 42
    span 43
    span 44
    span 45
    span 46
a.product(href='javascript:;')
  .product-img
    img.product-img(src='img/small/image2.jpg')
  .product-title
    span.product-title-name Лодочки 
    span.product-title-brand vitacci
  .product-price
    span 2990
    | руб
  .product-type
    span -10%
  .product-size
    span 36
    span 37
    span 38
    span 39
    span 40
    span 41
    span 42
    span 43
    span 44
    span 45
    span 46