.testimonial-item
  .testimonial-item-header
    .testimonial-item-header-icon(style='background: #03dbe8;') А
    .testimonial-item-header-block
      span.name Алевтина
      span.city Москва
    .testimonial-item-header-block
      .testimonial-item-content-tags
        span.item
          | товар 
          span 5
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
        span.item
          | сервис 
          span 5
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
        span.item
          | доставка 
          span 5
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
    .testimonial-item-header-block
      span.date 18 сентября 2008
      .actions
        a.action--like(href='javascript:;')
          | 0 
          span
        a.action--dislake(href='javascript:;')
          | 0 
          span
  .testimonial-item-content
    .testimonial-item-content-text Заказываю обувь в данной компании уже 3 раза. Качество обуви на высоте. Доставка до Москвы очень оперативная. Скидки в черную пятницу были отличные. Буду и дальше пользоваться услугами данного магазина. Огромное спасибо!
    span Ответ магазина KC-Немецкая обувь
    .testimonial-item-content-answer Алевтина, мы дорожим своими клиентами и признательны вам за позитивный отзыв оставленный на нашем сайте. Носите обувь в удовольствие и прекрасного вам настроение в предстоящем зимнем сезоне. С уважением, команда КС-Немецкая обувь.
